Repository mozilla/translations: changes, and which Taskcluster tasks are due for each by the changed paths.
All: test, taskgraph-definition, taskgraph-diff

Path conditions:
  test: any of: pipeline/**, tests/**, tracking/**, taskcluster/**, poetry.*, Taskfile.yml
  taskgraph-definition: any of: pipeline/**, taskcluster/**
  taskgraph-diff: any of: taskcluster/**

Always specify the best and first number for shortlists
  pipeline/eval/eval.py
  pipeline/quantize/quantize.sh
  taskcluster/kinds/evaluate-quantized/kind.yml
  tests/test_eval.py
Due: test, taskgraph-definition, taskgraph-diff

Limit the monolingual data in the prod config
  taskcluster/configs/config.prod.yml
Due: test, taskgraph-definition, taskgraph-diff

Add continuation to the cache
  taskcluster/kinds/build-vocab/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Update the config generator
  utils/config_generator.py
Due: none

Use script info for deciding on what augmentations to run
  docs/training/opus-trainer.md
  pipeline/data/lang_script.py
  pipeline/train/configs/opustrainer/backward.cjk.yml
  pipeline/train/configs/opustrainer/backward.yml
  pipeline/train/configs/opustrainer/student.cjk.yml
  pipeline/train/configs/opustrainer/student.yml
  pipeline/train/configs/opustrainer/teacher.one-stage.cjk.yml
  pipeline/train/configs/opustrainer/teacher.one-stage.yml
  pipeline/train/configs/opustrainer/teacher.two-stage.cjk.yml
  pipeline/train/configs/opustrainer/teacher.two-stage.yml
  pipeline/train/configs/opustrainer/teacher.yml
  pipeline/train/train.py
  pyproject.toml
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Update config generator, specifically for scripts
  utils/config_generator.py
Due: none

Create a singular aug-mix for evaluation that can respect the capabilities of the language scripts
  docs/training/opus-trainer.md
  pipeline/data/parallel_importer.py
  tests/test_data_importer.py
  utils/config_generator.py
Due: test, taskgraph-definition

Add types to tests/test_training.py
  pyproject.toml
  tests/test_training.py
Due: test

Add punctuation modifier (#1163)
  docs/training/opus-trainer.md
  pipeline/data/parallel_importer.py
  pipeline/data/requirements/data.in
  pipeline/data/requirements/data.txt
  pipeline/train/configs/opustrainer/student.cjk.yml
  pipeline/train/configs/opustrainer/student.yml
  pipeline/train/configs/opustrainer/teacher.one-stage.cjk.yml
  pipeline/train/configs/opustrainer/teacher.one-stage.yml
  pipeline/train/configs/opustrainer/teacher.two-stage.cjk.yml
  pipeline/train/configs/opustrainer/teacher.two-stage.yml
  pipeline/train/requirements/train.in
  pipeline/train/requirements/train.txt
  poetry.lock
  pyproject.toml
  taskcluster/configs/config.prod.yml
  tests/test_data_importer.py
  utils/config_generator.py
Due: test, taskgraph-definition, taskgraph-diff

Add more details about the models to the Firefox Translations Models page
  site/@types/models.d.ts
  site/firefox-models/index.html
  site/firefox-models/models.css
  site/firefox-models/models.mjs
  site/utils.mjs
Due: none

Add more details about the models to the Firefox Translations Models page (#1166)
  site/@types/models.d.ts
  site/firefox-models/index.html
  site/firefox-models/models.css
  site/firefox-models/models.mjs
  site/utils.mjs
Due: none

Add types to tests/test_training.py (#1173)
  pyproject.toml
  tests/test_training.py
Due: test

Update opuscleaner and fix the import issue
  pipeline/clean/requirements/clean.in
  pipeline/clean/requirements/clean.txt
  pipeline/clean/tools/clean_mono.py
  poetry.lock
  pyproject.toml
Due: test, taskgraph-definition

Install cleaning deps
  taskcluster/kinds/corpus-clean-mono/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Pin fasttext
  poetry.lock
  pyproject.toml
Due: test

Add comment
  pyproject.toml
Due: none

Split requirements for parallel and mono cleaning
  pipeline/clean/requirements/clean-mono.in
  pipeline/clean/requirements/clean-mono.txt
  pipeline/clean/requirements/clean-parallel.in
  pipeline/clean/requirements/clean-parallel.txt
  taskcluster/kinds/corpus-clean-mono/kind.yml
  taskcluster/kinds/corpus-clean-parallel/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Relock poetry
  poetry.lock
Due: test

Move test dependency to the task requirements
  pipeline/clean/requirements/clean-mono.in
  pipeline/clean/requirements/clean-mono.txt
  poetry.lock
  pyproject.toml
Due: test, taskgraph-definition

Add a view for what models will show in Nightly
  site/firefox-models/index.html
  site/firefox-models/models.mjs
Due: none

Fix mono clean (#1162)
  pipeline/clean/requirements/clean-mono.in
  pipeline/clean/requirements/clean-mono.txt
  pipeline/clean/requirements/clean-parallel.in
  pipeline/clean/requirements/clean-parallel.txt
  pipeline/clean/tools/clean_mono.py
  poetry.lock
  pyproject.toml
  taskcluster/docker/test/Dockerfile
  taskcluster/kinds/corpus-clean-mono/kind.yml
  taskcluster/kinds/corpus-clean-parallel/kind.yml
  tests/test_clean.py
Due: test, taskgraph-definition, taskgraph-diff

Add split_digits option to Sentencepiece
  pipeline/train/spm-vocab.sh
Due: test, taskgraph-definition

Add jsonschema for config validation checks
  poetry.lock
  pyproject.toml
Due: test

Add config validation
  configs/autogenerated/en-pl-example.yml
  taskcluster/configs/config.prod.yml
  taskcluster/translations_taskgraph/actions/train.py
  tests/fixtures/__init__.py
  tests/fixtures/config.pytest.enzh.yml
  tests/fixtures/config.pytest.yml
  tests/test_config_validation.py
Due: test, taskgraph-definition, taskgraph-diff

Add config validation to validate the config whenever the train action is triggered (#1168)
  configs/autogenerated/en-pl-example.yml
  poetry.lock
  pyproject.toml
  taskcluster/configs/config.prod.yml
  taskcluster/translations_taskgraph/actions/train.py
  tests/fixtures/__init__.py
  tests/fixtures/config.pytest.enzh.yml
  tests/fixtures/config.pytest.yml
  tests/test_config_validation.py
Due: test, taskgraph-definition, taskgraph-diff

enable chain of trust on tasks that will be upstream of beetmover
  taskcluster/kinds/backtranslations-mono-trg-chunk/kind.yml
  taskcluster/kinds/backtranslations-mono-trg-dechunk-translations/kind.yml
  taskcluster/kinds/backtranslations-mono-trg-translate/kind.yml
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/build-vocab/kind.yml
  taskcluster/kinds/corpus-align-backtranslations/kind.yml
  taskcluster/kinds/corpus-align-distillation/kind.yml
  taskcluster/kinds/corpus-align-parallel/kind.yml
  taskcluster/kinds/corpus-analyze-mono/kind.yml
  taskcluster/kinds/corpus-analyze-parallel/kind.yml
  taskcluster/kinds/corpus-clean-mono/kind.yml
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
  taskcluster/kinds/corpus-clean-parallel-fetch-bicleaner-model/kind.yml
  taskcluster/kinds/corpus-clean-parallel/kind.yml
  taskcluster/kinds/corpus-merge-devset/kind.yml
  taskcluster/kinds/corpus-merge-distillation/kind.yml
  taskcluster/kinds/corpus-merge-mono/kind.yml
  taskcluster/kinds/corpus-merge-parallel/kind.yml
  taskcluster/kinds/dataset/kind.yml
  taskcluster/kinds/distillation-corpus-build-shortlist/kind.yml
  taskcluster/kinds/distillation-corpus-final-filtering/kind.yml
  taskcluster/kinds/distillation-mono-src-chunk/kind.yml
  taskcluster/kinds/distillation-mono-src-dechunk-translations/kind.yml
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-chunk/kind.yml
  taskcluster/kinds/distillation-parallel-src-dechunk-translations/kind.yml
  taskcluster/kinds/distillation-parallel-src-extract-best/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translations-score/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-quantize/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/export/kind.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

feat: wire in beetmover workers, payload builders, and mozilla-taskgraph
  .taskcluster.yml
  poetry.lock
  pyproject.toml
  taskcluster/config.yml
  taskcluster/requirements.in
  taskcluster/requirements.txt
  taskcluster/translations_taskgraph/__init__.py
  taskcluster/translations_taskgraph/util/dependencies.py
  taskcluster/translations_taskgraph/worker_types.py
Due: test, taskgraph-definition, taskgraph-diff

fix: chain of trust should influence cache digest
  taskcluster/translations_taskgraph/transforms/cached_tasks.py
Due: test, taskgraph-definition, taskgraph-diff

Target side deduplication using Bicleaner scores
  pipeline/clean/merge-parallel.py
  pipeline/common/datasets.py
  taskcluster/kinds/corpus-merge-parallel/kind.yml
  tests/test_common_datasets.py
Due: test, taskgraph-definition, taskgraph-diff

Add scores.zst artifact
  pipeline/bicleaner/bicleaner.sh
Due: test, taskgraph-definition

feat: run python tests in parallel with pytest-xdist
  Taskfile.yml
  poetry.lock
  pyproject.toml
  tests/fixtures/__init__.py
Due: test

feat: automatically upload artifacts from pipeline tasks
  taskcluster/kinds/all-pipeline/kind.yml
  taskcluster/kinds/all-pr-pipeline/kind.yml
  taskcluster/kinds/upload-artifacts/kind.yml
  taskcluster/translations_taskgraph/transforms/continuation.py
  taskcluster/translations_taskgraph/transforms/resolve_upload_bucket.py
  taskcluster/translations_taskgraph/transforms/upload_artifacts.py
  tests/test_continuation.py
Due: test, taskgraph-definition, taskgraph-diff

feat: add `upload-bucket` to training config
  configs/autogenerated/en-pl-example.yml
  taskcluster/configs/config.ci.yml
  taskcluster/configs/config.prod.yml
  taskcluster/test/params/large-lt-en.yml
  taskcluster/test/params/small-ru-en.yml
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
  tests/fixtures/config.pytest.enzh.yml
  tests/fixtures/config.pytest.yml
Due: test, taskgraph-definition, taskgraph-diff

feat: upload experiment config
  taskcluster/kinds/all-pipeline/kind.yml
  taskcluster/kinds/all-pr-pipeline/kind.yml
  taskcluster/kinds/upload-experiment-config/kind.yml
  taskcluster/translations_taskgraph/transforms/upload_experiment_config.py
Due: test, taskgraph-definition, taskgraph-diff

feat: add task graph verification to ensure no conflicts exist in upload locations
  taskcluster/translations_taskgraph/__init__.py
  taskcluster/translations_taskgraph/util/verifications.py
Due: test, taskgraph-definition, taskgraph-diff

feat: upload task-graph.json from decision task
  taskcluster/kinds/all-pipeline/kind.yml
  taskcluster/kinds/all-pr-pipeline/kind.yml
  taskcluster/kinds/upload-task-graph/kind.yml
  taskcluster/translations_taskgraph/worker_types.py
Due: test, taskgraph-definition, taskgraph-diff

squash me: use distinct dirs for evaluate tasks
  taskcluster/translations_taskgraph/transforms/upload_artifacts.py
Due: test, taskgraph-definition, taskgraph-diff

Add split_digits option to Sentencepiece (#1174)
  pipeline/train/spm-vocab.sh
Due: test, taskgraph-definition
