Repository mozilla/translations: changes, and which Taskcluster tasks are due for each by the changed paths.
All: test, taskgraph-definition, taskgraph-diff

Path conditions:
  test: any of: pipeline/**, tests/**, tracking/**, taskcluster/**, poetry.*, Taskfile.yml
  taskgraph-definition: any of: pipeline/**, taskcluster/**
  taskgraph-diff: any of: taskcluster/**

Add pydantic
  pipeline/eval/requirements/eval.in
  pipeline/eval/requirements/eval.txt
  taskcluster/docker/eval/final_eval.in
  taskcluster/docker/eval/final_eval.txt
Due: test, taskgraph-definition, taskgraph-diff

Add en-zh config
  configs/cjk/en-zh-hant-cjk.yml
Due: none

Decrease minimum HPLT document score (#1327)
  taskcluster/configs/config.prod.yml
  utils/config_generator.py
Due: test, taskgraph-definition, taskgraph-diff

Fix LLM evals (#1325)
  pipeline/eval/eval-batch-instructions.md
  pipeline/eval/eval-final-summary.md
  pipeline/eval/final_eval.py
  pipeline/eval/langs.py
  pipeline/eval/metrics.py
  pipeline/eval/requirements/eval.in
  pipeline/eval/requirements/eval.txt
  pipeline/eval/translators.py
  site/final-evals/final-evals.mjs
  taskcluster/docker/eval/final_eval.in
  taskcluster/docker/eval/final_eval.txt
Due: test, taskgraph-definition, taskgraph-diff

Run MetricX in a separate process
  pipeline/eval/final_eval.py
  pipeline/eval/metric_worker.py
  pipeline/eval/metrics.py
  pipeline/eval/requirements/metricx.in
  pipeline/eval/requirements/metricx.txt
Due: test, taskgraph-definition

Install venv
  taskcluster/docker/eval/Dockerfile
Due: test, taskgraph-definition, taskgraph-diff

Removed fully filtered datasets
  configs/cjk/en-zh-hant-cjk.yml
Due: none

Reduce model size
  pipeline/eval/metrics.py
Due: test, taskgraph-definition

Improve OOM handling
  pipeline/eval/metrics.py
Due: test, taskgraph-definition

Add an option to continue if a metric fails
  pipeline/eval/final_eval.py
  taskcluster/configs/eval.all.yml
  taskcluster/configs/eval.yml
Due: test, taskgraph-definition, taskgraph-diff

Stream errors to parent process
  pipeline/eval/metrics.py
Due: test, taskgraph-definition

Remove duplicate log
  pipeline/eval/final_eval.py
Due: test, taskgraph-definition

ci: migrate decision and images tasks to d2g worker pools (bug 2007502)
  .taskcluster.yml
  taskcluster/config.yml
Due: test, taskgraph-definition, taskgraph-diff

ci: migrate decision and images tasks to d2g worker pools (bug 2007502) (#1328)
  .taskcluster.yml
  taskcluster/config.yml
Due: test, taskgraph-definition, taskgraph-diff

Add missing typing-extensions to taskcluster/requirements.txt
  taskcluster/requirements.txt
Due: test, taskgraph-definition, taskgraph-diff

Use zt for zh-hant in evals
  pipeline/eval/langs.py
  pipeline/eval/metrics.py
  pipeline/eval/translators.py
Due: test, taskgraph-definition

Handle OOM
  pipeline/eval/metrics.py
Due: test, taskgraph-definition

Add dependencies to run locally
  pipeline/eval/requirements/metricx.in
  pipeline/eval/requirements/metricx.txt
Due: test, taskgraph-definition

Run MetricX in a separate process (#1331)
  pipeline/eval/final_eval.py
  pipeline/eval/metric_worker.py
  pipeline/eval/metrics.py
  pipeline/eval/requirements/metricx.in
  pipeline/eval/requirements/metricx.txt
  taskcluster/configs/eval.all.yml
  taskcluster/configs/eval.yml
  taskcluster/docker/eval/Dockerfile
Due: test, taskgraph-definition, taskgraph-diff

Finetune zh-hant
  configs/llmaat/en-zh_hant-finetune.yml
  pipeline/data/parallel_downloaders.py
  pipeline/data/parallel_importer.py
Due: test, taskgraph-definition

Fix finetuning arguments
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Replace zt with zh_hant for evals
  pipeline/eval/langs.py
  pipeline/eval/metrics.py
Due: test, taskgraph-definition

Add training configs
  configs/cjk/en-zh_hant.yml
  configs/cjk/zh_hant-en.yml
Due: none

Add opuscleaner configs
  pipeline/clean/opuscleaner/configs/en-zh_hant/default.filters.json
  pipeline/clean/opuscleaner/configs/en-zh_hant/opus_WikiMatrix-v1.filters.json
  pipeline/clean/opuscleaner/configs/en-zh_hant/opus_bible-uedin-v1.filters.json
  pipeline/clean/opuscleaner/configs/zh_hant-en/default.filters.json
  pipeline/clean/opuscleaner/configs/zh_hant-en/opus_WikiMatrix-v1.filters.json
  pipeline/clean/opuscleaner/configs/zh_hant-en/opus_bible-uedin-v1.filters.json
Due: test, taskgraph-definition

WIP: Move tests/remote_settings to remote_settings/tests
  remote_settings/tests/__init__.py
  remote_settings/tests/attachments/base-memory/enes/lex.50.50.enes.s2t.bin
  remote_settings/tests/attachments/base-memory/enes/lex.enes.s2t.bin
  remote_settings/tests/attachments/base-memory/enes/metadata.json
  remote_settings/tests/attachments/base-memory/enes/model.enes.intgemm8.bin
  remote_settings/tests/attachments/base-memory/enes/qualityModel.enes.bin
  remote_settings/tests/attachments/base-memory/enes/srcvocab.enes.spm
  remote_settings/tests/attachments/base-memory/enes/trgvocab.enes.spm
  remote_settings/tests/attachments/base-memory/enes/vocab.enes.spm
  remote_settings/tests/attachments/base/encs/lex.50.50.encs.s2t.bin
  remote_settings/tests/attachments/base/encs/metadata.json
  remote_settings/tests/attachments/base/encs/model.encs.intgemm.alphas.bin
  remote_settings/tests/attachments/base/encs/vocab.encs.spm
  remote_settings/tests/attachments/tiny/emty/emty.md
  remote_settings/tests/attachments/tiny/esen/lex.50.50.esen.s2t.bin
  remote_settings/tests/attachments/tiny/esen/lex.esen.s2t.bin
  remote_settings/tests/attachments/tiny/esen/metadata.json
  remote_settings/tests/attachments/tiny/esen/model.esen.intgemm8.bin
  remote_settings/tests/attachments/tiny/esen/qualityModel.esen.bin
  remote_settings/tests/attachments/tiny/esen/srcvocab.esen.spm
  remote_settings/tests/attachments/tiny/esen/trgvocab.esen.spm
  remote_settings/tests/attachments/tiny/esen/vocab.esen.spm
  remote_settings/tests/attachments/tiny/inha/inha.md
  remote_settings/tests/attachments/tiny/inha/metadata.json
  remote_settings/tests/attachments/tiny/inha/model.inha.intgemm8.bin
  remote_settings/tests/common.py
  remote_settings/tests/conftest.py
  remote_settings/tests/create/__init__.py
  remote_settings/tests/create/test_create_local_server.py
  remote_settings/tests/create/test_create_mocked.py
  remote_settings/tests/list/__init__.py
  remote_settings/tests/list/test_list_local_server.py
  remote_settings/tests/list/test_list_mocked.py
Due: none

Move `en_ar` and `en_zh-Hans` from dev to prod (#197)
  tests/remote_settings/test_create.py
Due: test

WIP: Rstructure remote_settings subdirectories
  remote_settings/remote_settings/__init__.py
  remote_settings/remote_settings/__main__.py
  remote_settings/remote_settings/client.py
  remote_settings/remote_settings/common.py
  remote_settings/remote_settings/format.py
  remote_settings/remote_settings/subcommands/create/command.py
  remote_settings/remote_settings/subcommands/list/command.py
  remote_settings/remote_settings/subcommands/local_server/README.md
  remote_settings/remote_settings/subcommands/local_server/command.py
  remote_settings/remote_settings/subcommands/local_server/mount/translations.ini
  remote_settings/remote_settings/subcommands/local_server/schema/models_schema.json
  remote_settings/remote_settings/subcommands/local_server/schema/wasm_schema.json
Due: none

Update remote_settings script for the new directory structure (#239)
  remote_settings/client.py
  remote_settings/subcommands/create/command.py
  tests/remote_settings/attachments/base-memory/enes/lex.50.50.enes.s2t.bin
  tests/remote_settings/attachments/base-memory/enes/lex.enes.s2t.bin
  tests/remote_settings/attachments/base-memory/enes/model.enes.intgemm8.bin
  tests/remote_settings/attachments/base-memory/enes/qualityModel.enes.bin
  tests/remote_settings/attachments/base-memory/enes/srcvocab.enes.spm
  tests/remote_settings/attachments/base-memory/enes/trgvocab.enes.spm
  tests/remote_settings/attachments/base-memory/enes/vocab.enes.spm
  tests/remote_settings/attachments/base/encs/lex.50.50.encs.s2t.bin
  tests/remote_settings/attachments/base/encs/model.encs.intgemm.alphas.bin
  tests/remote_settings/attachments/base/encs/vocab.encs.spm
  tests/remote_settings/attachments/tiny/emty/emty.md
  tests/remote_settings/attachments/tiny/esen/lex.50.50.esen.s2t.bin
  tests/remote_settings/attachments/tiny/esen/lex.esen.s2t.bin
  tests/remote_settings/attachments/tiny/esen/model.esen.intgemm8.bin
  tests/remote_settings/attachments/tiny/esen/qualityModel.esen.bin
  tests/remote_settings/attachments/tiny/esen/srcvocab.esen.spm
  tests/remote_settings/attachments/tiny/esen/trgvocab.esen.spm
  tests/remote_settings/attachments/tiny/esen/vocab.esen.spm
  tests/remote_settings/common.py
  tests/remote_settings/create/test_create_local_server.py
  tests/remote_settings/create/test_create_mocked.py
  tests/remote_settings/list/test_list_local_server.py
Due: test

Ensure Python CLI Test Invalid-Server Asseertions Match All Operating Systems (#196)
  tests/remote_settings/test_create.py
Due: test

Add --platform-filter flag to the create subcommand (#260)
  remote_settings/README.md
  remote_settings/client.py
  remote_settings/subcommands/create/command.py
  tests/remote_settings/common.py
  tests/remote_settings/create/test_create_local_server.py
Due: test

WIP: Add remote-settings tasks
  Taskfile.yml
Due: test

WIP: Rework test paths
  .gitignore
  remote_settings/tests/common.py
  remote_settings/tests/create/test_create_local_server.py
  remote_settings/tests/create/test_create_mocked.py
Due: none

WIP: Run ruff format
  remote_settings/remote_settings/client.py
  remote_settings/remote_settings/gcs.py
  remote_settings/remote_settings/subcommands/create/command.py
  remote_settings/remote_settings/subcommands/list/command.py
  remote_settings/remote_settings/subcommands/local_server/command.py
  remote_settings/tests/create/test_create_local_server.py
  remote_settings/tests/create/test_create_mocked.py
  remote_settings/tests/list/test_list_local_server.py
  remote_settings/tests/list/test_list_mocked.py
Due: none

Update platform-filters (#261)
  remote_settings/README.md
  remote_settings/client.py
  tests/remote_settings/common.py
Due: test

Update the Remote Settings PROD server URL (#127)
  remote_settings/client.py
  tests/remote_settings/test_create.py
Due: test

Compute sha256 hash of uncompressed file (#247)
  remote_settings/client.py
  remote_settings/subcommands/create/command.py
  tests/remote_settings/attachments/base-memory/enes/lex.50.50.enes.s2t.bin
  tests/remote_settings/attachments/base-memory/enes/lex.enes.s2t.bin
  tests/remote_settings/attachments/base-memory/enes/metadata.json
  tests/remote_settings/attachments/base-memory/enes/model.enes.intgemm8.bin
  tests/remote_settings/attachments/base-memory/enes/qualityModel.enes.bin
  tests/remote_settings/attachments/base-memory/enes/srcvocab.enes.spm
  tests/remote_settings/attachments/base-memory/enes/trgvocab.enes.spm
  tests/remote_settings/attachments/base-memory/enes/vocab.enes.spm
  tests/remote_settings/attachments/base/encs/lex.50.50.encs.s2t.bin
  tests/remote_settings/attachments/base/encs/metadata.json
  tests/remote_settings/attachments/base/encs/model.encs.intgemm.alphas.bin
  tests/remote_settings/attachments/base/encs/vocab.encs.spm
  tests/remote_settings/attachments/tiny/esen/lex.50.50.esen.s2t.bin
  tests/remote_settings/attachments/tiny/esen/lex.esen.s2t.bin
  tests/remote_settings/attachments/tiny/esen/metadata.json
  tests/remote_settings/attachments/tiny/esen/model.esen.intgemm8.bin
  tests/remote_settings/attachments/tiny/esen/qualityModel.esen.bin
  tests/remote_settings/attachments/tiny/esen/srcvocab.esen.spm
  tests/remote_settings/attachments/tiny/esen/trgvocab.esen.spm
  tests/remote_settings/attachments/tiny/esen/vocab.esen.spm
  tests/remote_settings/attachments/tiny/inha/inha.md
  tests/remote_settings/attachments/tiny/inha/metadata.json
  tests/remote_settings/attachments/tiny/inha/model.inha.intgemm8.bin
  tests/remote_settings/common.py
  tests/remote_settings/create/test_create_local_server.py
  tests/remote_settings/list/test_list_local_server.py
Due: test

WIP: Add pyproject.toml for Remote Settings
  remote_settings/poetry.lock
  remote_settings/pyproject.toml
Due: none

Compress files to zst format (#244)
  remote_settings/client.py
Due: none

WIP: Add GCS downloading
  .gitignore
  remote_settings/README.md
  remote_settings/remote_settings/client.py
  remote_settings/remote_settings/gcs.py
  remote_settings/remote_settings/subcommands/create/command.py
  remote_settings/tests/attachments/base-memory/enes/metadata.json
  remote_settings/tests/attachments/base/encs/metadata.json
  remote_settings/tests/attachments/tiny/esen/metadata.json
  remote_settings/tests/attachments/tiny/inha/metadata.json
  remote_settings/tests/common.py
  remote_settings/tests/conftest.py
  remote_settings/tests/gcs_fixtures.py
  remote_settings/tests/test_gcs.py
Due: none

Do not consider architecture in duplicate-version check (#271)
  remote_settings/subcommands/create/command.py
  tests/remote_settings/create/test_create_local_server.py
Due: test
