Repository mozilla/translations: changes, and which Taskcluster tasks are due for each by the changed paths.
All: test, taskgraph-definition, taskgraph-diff

Path conditions:
  test: any of: pipeline/**, tests/**, tracking/**, taskcluster/**, poetry.*, Taskfile.yml
  taskgraph-definition: any of: pipeline/**, taskcluster/**
  taskgraph-diff: any of: taskcluster/**

Update HPLT in the config generator to warn when no HPLT dataset is found
  pipeline/data/hplt.py
  utils/config_generator.py
Due: test, taskgraph-definition

Upgrade bicleaner-ai
  pipeline/bicleaner/bicleaner.sh
  pipeline/bicleaner/requirements/bicleaner-ai.in
  pipeline/bicleaner/requirements/bicleaner-ai.txt
Due: test, taskgraph-definition

Add existing_tasks to the config validation
  taskcluster/translations_taskgraph/actions/train.py
  utils/trigger_training.py
Due: test, taskgraph-definition, taskgraph-diff

Add a corpus-analyze-parallel-sample task
  pipeline/data/analyze-merged.py
  pyproject.toml
  taskcluster/config.yml
  taskcluster/kinds/corpus-analyze-parallel-sample/kind.yml
  taskcluster/translations_taskgraph/transforms/find_upstreams.py
  tests/test_corpus_analyze_parallel_sample.py
Due: test, taskgraph-definition, taskgraph-diff

Add more language specifications for the flores downloading
  pipeline/data/parallel_downloaders.py
Due: test, taskgraph-definition

Update bicleaner to have the typo fix
  pipeline/bicleaner/bicleaner.sh
  pipeline/bicleaner/requirements/bicleaner-ai.in
  pipeline/bicleaner/requirements/bicleaner-ai.txt
Due: test, taskgraph-definition

Re-use the local development container when possible
  Taskfile.yml
  utils/tasks/docker-run.py
Due: test

Add cache.version to all of the training tasks
  taskcluster/kinds/backtranslations-mono-trg-chunk/kind.yml
  taskcluster/kinds/backtranslations-mono-trg-dechunk-translations/kind.yml
  taskcluster/kinds/backtranslations-mono-trg-translate/kind.yml
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/build-vocab/kind.yml
  taskcluster/kinds/continuation-model/kind.yml
  taskcluster/kinds/corpus-align-backtranslations/kind.yml
  taskcluster/kinds/corpus-align-distillation/kind.yml
  taskcluster/kinds/corpus-align-parallel/kind.yml
  taskcluster/kinds/corpus-analyze-mono/kind.yml
  taskcluster/kinds/corpus-analyze-parallel/kind.yml
  taskcluster/kinds/corpus-clean-mono/kind.yml
  taskcluster/kinds/corpus-clean-parallel-fetch-bicleaner-model/kind.yml
  taskcluster/kinds/corpus-clean-parallel/kind.yml
  taskcluster/kinds/corpus-merge-devset/kind.yml
  taskcluster/kinds/corpus-merge-distillation/kind.yml
  taskcluster/kinds/corpus-merge-mono/kind.yml
  taskcluster/kinds/corpus-merge-parallel/kind.yml
  taskcluster/kinds/dataset/kind.yml
  taskcluster/kinds/distillation-corpus-build-shortlist/kind.yml
  taskcluster/kinds/distillation-corpus-final-filtering/kind.yml
  taskcluster/kinds/distillation-mono-src-chunk/kind.yml
  taskcluster/kinds/distillation-mono-src-dechunk-translations/kind.yml
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-chunk/kind.yml
  taskcluster/kinds/distillation-parallel-src-dechunk-translations/kind.yml
  taskcluster/kinds/distillation-parallel-src-extract-best/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translations-score/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-quantize/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/export/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
  taskcluster/translations_taskgraph/transforms/cached_tasks.py
Due: test, taskgraph-definition, taskgraph-diff

Add a clean analysis
  taskcluster/config.yml
  taskcluster/kinds/corpus-analyze-parallel-sample-cleaned/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Configs - H1-2025
  configs/autogenerated/en-hu-h1-2025.yml
  configs/autogenerated/en-mr-h1-2025.yml
  configs/autogenerated/en-nn-h1-2025.yml
  configs/h1-2025/distill-base-memory/en-hu.yml
  configs/h1-2025/distill-base-memory/en-lt.yml
  configs/h1-2025/distill-base-memory/en-lv.yml
  configs/h1-2025/distill-base-memory/en-sk.yml
  configs/h1-2025/distill-base-memory/en-sl.yml
  configs/h1-2025/distill-base-memory/en-uk.yml
  configs/h1-2025/distill-base-memory/sl-en.yml
  configs/h1-2025/student-tiny/af-en.yml
  configs/h1-2025/teacher/af-en.yml
  configs/h1-2025/teacher/az-en.yml
  configs/h1-2025/teacher/be-en.yml
  configs/h1-2025/teacher/bn-en.yml
  configs/h1-2025/teacher/fa-en.yml
  configs/h1-2025/teacher/gu-en.yml
  configs/h1-2025/teacher/he-en.yml
  configs/h1-2025/teacher/hi-en.yml
  configs/h1-2025/teacher/kn-en.yml
  configs/h1-2025/teacher/ml-en.yml
  configs/h1-2025/teacher/mr-en.yml
  configs/h1-2025/teacher/ms-en.yml
  configs/h1-2025/teacher/no-en.yml
  configs/h1-2025/teacher/sq-en.yml
  configs/h1-2025/teacher/ta-en.yml
  configs/h1-2025/teacher/te-en.yml
  configs/h1-2025/teacher/tl-en.yml
Due: none

Add libicu manually to backtranslations
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Fixup - configs
  configs/h1-2025/teacher/ta-en.yml
Due: none

Update config
  configs/retrain_high_res_2025/de-en-retrain_hr.yml
Due: none

Add logging to train action
  taskcluster/translations_taskgraph/actions/train.py
Due: test, taskgraph-definition, taskgraph-diff

Fix train action
  taskcluster/translations_taskgraph/actions/train.py
Due: test, taskgraph-definition, taskgraph-diff

Add train action resume mode
  taskcluster/translations_taskgraph/actions/train.py
Due: test, taskgraph-definition, taskgraph-diff

Log final existing tasks
  taskcluster/translations_taskgraph/actions/train.py
Due: test, taskgraph-definition, taskgraph-diff

Add taskcluster package for train action
  .taskcluster.yml
  taskcluster/requirements.in
  taskcluster/requirements.txt
Due: test, taskgraph-definition, taskgraph-diff

Fix taskcluster requirements
  .taskcluster.yml
Due: none

feat: reland new GPU worker images and dockerization
  docs/training/task-cluster.md
  pipeline/bicleaner/bicleaner.sh
  pipeline/translate/requirements/translate-ctranslate2.in
  pipeline/translate/requirements/translate-ctranslate2.txt
  taskcluster/config.yml
  taskcluster/kinds/backtranslations-mono-trg-translate/kind.yml
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translations-score/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/fetch/toolchains.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Update config
  configs/llmaat/en-ru-llmaat.yml
Due: none

Skip service tasks
  taskcluster/translations_taskgraph/actions/train.py
Due: test, taskgraph-definition, taskgraph-diff

Optimize MetricX batching with data collator
  experiments/llmaat/flows/metricx/predict.py
Due: none

Bump teacher disk
  taskcluster/kinds/train-teacher-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

feat: reland new GPU worker images and dockerization (#1131)
  docs/training/task-cluster.md
  pipeline/bicleaner/bicleaner.sh
  pipeline/translate/requirements/translate-ctranslate2.in
  pipeline/translate/requirements/translate-ctranslate2.txt
  taskcluster/config.yml
  taskcluster/kinds/backtranslations-mono-trg-translate/kind.yml
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translations-score/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/fetch/toolchains.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add libicu manually to the rest of train tasks
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Sample sentences from corpus before building vocab (#1130)
  pipeline/train/spm-vocab.sh
Due: test, taskgraph-definition

Upgrade bicleaner and update the GPU requirement step
  pipeline/bicleaner/bicleaner.sh
  pipeline/bicleaner/requirements/bicleaner-ai.in
  pipeline/bicleaner/requirements/bicleaner-ai.txt
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

bump bicleaner-ai to xlargedisk workers to see if it helps test run stop hanging
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Update the .gitmodules for the marian checkin
  .gitmodules
Due: none

Remove the Wasm folder
  inference/marian/wasm/Dockerfile
  inference/marian/wasm/Makefile
  inference/marian/wasm/README.md
  inference/marian/wasm/custom_shell.html
  inference/marian/wasm/import-gemm-module.js
  inference/marian/wasm/package-benchmark.sh
  inference/marian/wasm/post-module.js
  inference/marian/wasm/pre-module.js
  inference/marian/wasm/test_stdin.cpp
Due: none

Remove Visual Studio build folder
  inference/marian/vs/.gitignore
  inference/marian/vs/BuildRelease.bat
  inference/marian/vs/CheckDeps.bat
  inference/marian/vs/CreateVSProjects.bat
  inference/marian/vs/Marian.sln
  inference/marian/vs/Marian.vcxproj
  inference/marian/vs/Marian.vcxproj.filters
  inference/marian/vs/NOTES.md
  inference/marian/vs/README.md
  inference/marian/vs/pathspec-boost-1.72.txt
Due: none

Remove root level files that are not needed
  inference/marian/.gitattributes
  inference/marian/.gitignore
  inference/marian/.gitmodules
  inference/marian/CHANGELOG.md
  inference/marian/CONTRIBUTING.md
  inference/marian/Doxyfile.in
  inference/marian/azure-pipelines.yml
Due: none

Move the references.bib to the top level
  inference/marian/references.bib
Due: none

Update browsermt/marian-dev include paths
  inference/3rd_party/CMakeLists.txt
  inference/marian/src/3rd_party/zstr/strict_fstream.hpp
  inference/marian/src/CMakeLists.txt
  inference/src/tests/CMakeLists.txt
  inference/src/translator/logging.h
  inference/src/translator/parser.h
Due: none

Remove the marian/.github CI
  inference/marian/.github/ISSUE_TEMPLATE/bug_report.md
  inference/marian/.github/ISSUE_TEMPLATE/config.yml
  inference/marian/.github/ISSUE_TEMPLATE/feature_request.md
  inference/marian/.github/pull_request_template.md
  inference/marian/.github/workflows/arm.yml
  inference/marian/.github/workflows/macos.yml
  inference/marian/.github/workflows/native-customized_marian-macos.yml
  inference/marian/.github/workflows/release.yml
  inference/marian/.github/workflows/ubuntu.yml
  inference/marian/.github/workflows/wasm-customized_marian-macos.yml
  inference/marian/.github/workflows/wasm-customized_marian-ubuntu.yml
  inference/marian/.github/workflows/windows.yml
Due: none

Remove the scripts
  inference/marian/scripts/alphas/extract_stats.py
  inference/marian/scripts/alphas/minimise_error.py
  inference/marian/scripts/bert/bert4marian.py
  inference/marian/scripts/checkpoints/average.py
  inference/marian/scripts/ci/README.md
  inference/marian/scripts/ci/install_cuda_ubuntu.sh
  inference/marian/scripts/ci/install_cuda_windows.ps1
  inference/marian/scripts/ci/install_mkl.sh
  inference/marian/scripts/contrib/fix_hard.py
  inference/marian/scripts/contrib/inject_ctt.py
  inference/marian/scripts/contrib/inject_model_params.py
  inference/marian/scripts/contrib/model_info.py
  inference/marian/scripts/embeddings/export_embeddings.py
  inference/marian/scripts/embeddings/prepare_corpus.py
  inference/marian/scripts/embeddings/process_word2vec.py
  inference/marian/scripts/laser/laser2marian.py
  inference/marian/scripts/onnx/marian_to_onnx.py
  inference/marian/scripts/onnx/marian_to_onnx_example.py
  inference/marian/scripts/server/client_example.py
  inference/marian/scripts/shortlist/.gitignore
  inference/marian/scripts/shortlist/README.md
  inference/marian/scripts/shortlist/generate_shortlists.pl
  inference/marian/scripts/shortlist/install.sh
Due: none

Update the inference/.gitignore for Marian
  inference/.gitignore
Due: none

Remove marian/contrib
  inference/marian/contrib/autoformat.sh
  inference/marian/contrib/other-builds/cmake_doze.txt
  inference/marian/contrib/other-builds/eclipse/.cproject
  inference/marian/contrib/other-builds/eclipse/.project
  inference/marian/contrib/triton-aml/Dockerfile
  inference/marian/contrib/triton-aml/README.md
  inference/marian/contrib/triton-aml/build.sh
  inference/marian/contrib/triton-aml/marian_backend/CMakeLists.txt
  inference/marian/contrib/triton-aml/marian_backend/README.md
  inference/marian/contrib/triton-aml/marian_backend/cmake/TritonMarianBackendConfig.cmake.in
  inference/marian/contrib/triton-aml/marian_backend/src/libtriton_marian.ldscript
  inference/marian/contrib/triton-aml/marian_backend/src/marian.cc
  inference/marian/contrib/triton-aml/marian_backend/src/marian.h
  inference/marian/contrib/triton-aml/src/CMakeLists.txt
  inference/marian/contrib/triton-aml/src/cmarian.cpp
  inference/marian/contrib/triton-aml/src/logging.cpp
  inference/marian/contrib/vim/.vimrc
  inference/marian/contrib/vim/.ycm_extra_conf.py
Due: none
