Repository mozilla/translations: changes, and which Taskcluster tasks are due for each by the changed paths.
All: test, taskgraph-definition, taskgraph-diff

Path conditions:
  test: any of: pipeline/**, tests/**, tracking/**, taskcluster/**, poetry.*, Taskfile.yml
  taskgraph-definition: any of: pipeline/**, taskcluster/**
  taskgraph-diff: any of: taskcluster/**

Update HPLT in the config generator to warn when no HPLT dataset is found
  pipeline/data/hplt.py
  utils/config_generator.py
Due: test, taskgraph-definition

Add existing_tasks to the config validation
  taskcluster/translations_taskgraph/actions/train.py
  utils/trigger_training.py
Due: test, taskgraph-definition, taskgraph-diff

fix: adjust dockerfile volumes to use new caches
  taskcluster/docker/base/Dockerfile
  taskcluster/docker/inference/Dockerfile
  taskcluster/docker/test/Dockerfile
  taskcluster/docker/toolchain-build/Dockerfile
Due: test, taskgraph-definition, taskgraph-diff

revert unnecessary newline in train Dockerfile that crept in as part of #1120
  taskcluster/docker/train/Dockerfile
Due: test, taskgraph-definition, taskgraph-diff

fix: adjust dockerfile volumes to use new caches (#1123)
  taskcluster/docker/base/Dockerfile
  taskcluster/docker/inference/Dockerfile
  taskcluster/docker/test/Dockerfile
  taskcluster/docker/toolchain-build/Dockerfile
  taskcluster/docker/train/Dockerfile
Due: test, taskgraph-definition, taskgraph-diff

Add more language specifications for the flores downloading
  pipeline/data/parallel_downloaders.py
Due: test, taskgraph-definition

Update bicleaner to have the typo fix
  pipeline/bicleaner/bicleaner.sh
  pipeline/bicleaner/requirements/bicleaner-ai.in
  pipeline/bicleaner/requirements/bicleaner-ai.txt
Due: test, taskgraph-definition

Revert "Remove distilled corpus from student"
  pipeline/train/configs/opustrainer/student.train.yml
  taskcluster/kinds/train-student/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Update curriculum
  pipeline/train/configs/opustrainer/student.train.yml
Due: test, taskgraph-definition

Update config
  configs/llmaat/en-ru-llmaat.yml
Due: none

Arabic split-vocab configs (worse)
  configs/autogenerated/ar-en-experiments-ar-v3.yml
  configs/autogenerated/en-ar-experiments-ar-v3.yml
Due: none

Fix NTREX was not being ignored in config generator
  utils/config_generator.py
Due: none

Fix NTREX was not being ignored in config generator (#1125)
  utils/config_generator.py
Due: none

Dutch-English config to test short sentences
  configs/autogenerated/nl-en-short-sentences.yml
Due: none

Build with debug info (#1115)
  pipeline/setup/compile-marian.sh
Due: test, taskgraph-definition

Re-use the local development container when possible
  Taskfile.yml
  utils/tasks/docker-run.py
Due: test

Increase disk for vocab
  taskcluster/kinds/build-vocab/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Bump disk for backwards model
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Update config
  configs/retrain_high_res_2025/de-en-retrain_hr.yml
Due: none

Add logging to train action
  taskcluster/translations_taskgraph/actions/train.py
Due: test, taskgraph-definition, taskgraph-diff

Add train action resume mode
  taskcluster/translations_taskgraph/actions/train.py
Due: test, taskgraph-definition, taskgraph-diff

Fixup - lint fixes
  taskcluster/translations_taskgraph/transforms/cached_tasks.py
Due: test, taskgraph-definition, taskgraph-diff

Fixup - Update the configs
  configs/h1-2025/teacher/gu-en.yml
  configs/h1-2025/teacher/hi-en.yml
  configs/h1-2025/teacher/no-en.yml
Due: none

Add a corpus-analyze-parallel-sample task
  pipeline/data/analyze-merged.py
  pyproject.toml
  taskcluster/config.yml
  taskcluster/kinds/corpus-analyze-parallel-sample/kind.yml
  tests/test_corpus_analyze_parallel_sample.py
Due: test, taskgraph-definition, taskgraph-diff

Fixup - configs
  configs/h1-2025/teacher/bn-en.yml
Due: none

Fixup - configs
  configs/h1-2025/teacher/kn-en.yml
  configs/h1-2025/teacher/ml-en.yml
  configs/h1-2025/teacher/no-en.yml
  configs/h1-2025/teacher/ta-en.yml
  configs/h1-2025/teacher/te-en.yml
Due: none

Fixup - Add a corpus-analyze-parallel-sample task, bump worker size
  taskcluster/kinds/corpus-analyze-parallel-sample/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Sample sentences from corpus before building vocab
  pipeline/train/spm-vocab.sh
Due: test, taskgraph-definition

Fixup - Add a corpus-analyze-parallel-sample task
  taskcluster/kinds/corpus-analyze-parallel-sample/kind.yml
  taskcluster/translations_taskgraph/transforms/find_upstreams.py
Due: test, taskgraph-definition, taskgraph-diff

Add taskcluster package for train action
  .taskcluster.yml
  taskcluster/requirements.in
  taskcluster/requirements.txt
Due: test, taskgraph-definition, taskgraph-diff

Fixup - Add a corpus-analyze-parallel-sample task - requirements
  taskcluster/kinds/corpus-analyze-parallel-sample/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Fix train action
  taskcluster/translations_taskgraph/actions/train.py
Due: test, taskgraph-definition, taskgraph-diff

Log final existing tasks
  taskcluster/translations_taskgraph/actions/train.py
Due: test, taskgraph-definition, taskgraph-diff

Add a clean analysis
  taskcluster/kinds/corpus-analyze-parallel-sample/kind.yml
  taskcluster/kinds/corpus-merge-parallel/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add libicu manually to backtranslations
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Fix taskcluster requirements
  .taskcluster.yml
Due: none
