Repository mozilla/translations: changes, and which Taskcluster tasks are due for each by the changed paths.
All: test, taskgraph-definition, taskgraph-diff

test:
  worker-type: b-cpu
  worker:
    max-run-time: 3600
    docker-image:
      in-tree: test
  run:
    command:
    - bash
    - -c
    - export BIN=$MOZ_FETCHES_DIR && export MARIAN=$MOZ_FETCHES_DIR && task test
  run-on-tasks-for:
  - github-push
  - github-pull-request
  fetches:
    toolchain:
    - fast-align
    - extract-lex
  ...

taskgraph-definition:
  worker-type: b-cpu
  worker:
    docker-image:
      in-tree: test
    max-run-time: 3600
  description: Test the full `translations_taskgraph` to validate the latest changes
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command: task taskgraph-validate

taskgraph-diff:
  worker-type: b-cpu
  worker:
    docker-image:
      in-tree: test
    max-run-time: 1200
  description: Create diffs of taskgraphs vs. base revision.
  run-on-tasks-for:
  - github-pull-request
  run:
    command: task taskgraph-diff BASE_REV={base_rev} OUTPUT_FILE=$TASK_WORKDIR/artifacts/taskgraph.diff

feat: upload task-graph.json from decision task
  taskcluster/kinds/all-pipeline/kind.yml
  taskcluster/kinds/all-pr-pipeline/kind.yml
  taskcluster/kinds/upload-task-graph/kind.yml
  taskcluster/translations_taskgraph/worker_types.py
Due: test, taskgraph-definition, taskgraph-diff

feat: wire in beetmover workers, payload builders, and mozilla-taskgraph
  .taskcluster.yml
  poetry.lock
  pyproject.toml
  taskcluster/config.yml
  taskcluster/requirements.in
  taskcluster/requirements.txt
  taskcluster/translations_taskgraph/__init__.py
  taskcluster/translations_taskgraph/util/dependencies.py
  taskcluster/translations_taskgraph/worker_types.py
Due: test, taskgraph-definition, taskgraph-diff

feat: automatically upload artifacts from pipeline tasks
  taskcluster/kinds/all-pipeline/kind.yml
  taskcluster/kinds/all-pr-pipeline/kind.yml
  taskcluster/kinds/upload-artifacts/kind.yml
  taskcluster/translations_taskgraph/transforms/continuation.py
  taskcluster/translations_taskgraph/transforms/resolve_upload_bucket.py
  taskcluster/translations_taskgraph/transforms/upload_artifacts.py
  tests/test_continuation.py
Due: test, taskgraph-definition, taskgraph-diff

feat: add `upload-bucket` to training config
  configs/autogenerated/en-pl-example.yml
  taskcluster/configs/config.ci.yml
  taskcluster/configs/config.prod.yml
  taskcluster/test/params/large-lt-en.yml
  taskcluster/test/params/small-ru-en.yml
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
  tests/fixtures/config.pytest.enzh.yml
  tests/fixtures/config.pytest.yml
Due: test, taskgraph-definition, taskgraph-diff

enable chain of trust on tasks that will be upstream of beetmover
  taskcluster/kinds/backtranslations-mono-trg-chunk/kind.yml
  taskcluster/kinds/backtranslations-mono-trg-dechunk-translations/kind.yml
  taskcluster/kinds/backtranslations-mono-trg-translate/kind.yml
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/build-vocab/kind.yml
  taskcluster/kinds/corpus-align-backtranslations/kind.yml
  taskcluster/kinds/corpus-align-distillation/kind.yml
  taskcluster/kinds/corpus-align-parallel/kind.yml
  taskcluster/kinds/corpus-analyze-mono/kind.yml
  taskcluster/kinds/corpus-analyze-parallel/kind.yml
  taskcluster/kinds/corpus-clean-mono/kind.yml
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
  taskcluster/kinds/corpus-clean-parallel-fetch-bicleaner-model/kind.yml
  taskcluster/kinds/corpus-clean-parallel/kind.yml
  taskcluster/kinds/corpus-merge-devset/kind.yml
  taskcluster/kinds/corpus-merge-distillation/kind.yml
  taskcluster/kinds/corpus-merge-mono/kind.yml
  taskcluster/kinds/corpus-merge-parallel/kind.yml
  taskcluster/kinds/dataset/kind.yml
  taskcluster/kinds/distillation-corpus-build-shortlist/kind.yml
  taskcluster/kinds/distillation-corpus-final-filtering/kind.yml
  taskcluster/kinds/distillation-mono-src-chunk/kind.yml
  taskcluster/kinds/distillation-mono-src-dechunk-translations/kind.yml
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-chunk/kind.yml
  taskcluster/kinds/distillation-parallel-src-dechunk-translations/kind.yml
  taskcluster/kinds/distillation-parallel-src-extract-best/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translations-score/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-quantize/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/export/kind.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

feat: add task graph verification to ensure no conflicts exist in upload locations
  taskcluster/translations_taskgraph/__init__.py
  taskcluster/translations_taskgraph/util/verifications.py
Due: test, taskgraph-definition, taskgraph-diff

fix: use distinct dirs for evaluate tasks
  taskcluster/translations_taskgraph/transforms/upload_artifacts.py
Due: test, taskgraph-definition, taskgraph-diff

bicleaner: create a dummy scores when no filtering
  pipeline/bicleaner/bicleaner.sh
Due: test, taskgraph-definition

Fix linting
  pipeline/clean/merge-parallel.py
  pipeline/common/datasets.py
Due: test, taskgraph-definition

Yield dummy scores when scores is not provided
  pipeline/clean/merge-parallel.py
Due: test, taskgraph-definition

WIP - Updates
  site/firefox-models/models.mjs
Due: none

Update config generator, specifically for scripts
  pyproject.toml
  utils/config_generator.py
Due: none

Create a singular aug-mix for evaluation that can respect the capabilities of the language scripts
  docs/training/opus-trainer.md
  pipeline/data/parallel_importer.py
  tests/test_data_importer.py
  utils/config_generator.py
Due: test, taskgraph-definition

Update the config generator
  utils/config_generator.py
Due: none

Use script info for deciding on what augmentations to run
  docs/training/opus-trainer.md
  pipeline/data/lang_script.py
  pipeline/train/configs/opustrainer/backward.cjk.yml
  pipeline/train/configs/opustrainer/backward.yml
  pipeline/train/configs/opustrainer/student.cjk.yml
  pipeline/train/configs/opustrainer/student.yml
  pipeline/train/configs/opustrainer/teacher.one-stage.cjk.yml
  pipeline/train/configs/opustrainer/teacher.one-stage.yml
  pipeline/train/configs/opustrainer/teacher.two-stage.cjk.yml
  pipeline/train/configs/opustrainer/teacher.two-stage.yml
  pipeline/train/configs/opustrainer/teacher.yml
  pipeline/train/train.py
  pyproject.toml
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add pyicu to train.in and libicu-dev to docker train
  pipeline/train/requirements/train.in
  pipeline/train/requirements/train.txt
  taskcluster/docker/train/Dockerfile
Due: test, taskgraph-definition, taskgraph-diff

Ensure the shortlist is long enough to have out of bounds access
  inference/marian-fork/src/data/shortlist.cpp
Due: none

Use std::vector::at rather than operator[] for shortlist data access
  inference/marian-fork/src/data/shortlist.cpp
Due: none

Add more documentation to shortlisting
  inference/marian-fork/src/data/shortlist.cpp
Due: none

Fix linting
  tests/test_common_datasets.py
Due: test

refactor(tests): move some useful helpers into fixtures; remove unused dataclass
  tests/fixtures/__init__.py
  tests/test_continuation.py
Due: test

feat: only archive corpora to GCS if requested (fixes #1048)
  configs/autogenerated/en-pl-example.yml
  taskcluster/configs/config.ci.yml
  taskcluster/configs/config.prod.yml
  taskcluster/kinds/upload-artifacts/kind.yml
  taskcluster/test/params/large-lt-en.yml
  taskcluster/test/params/small-ru-en.yml
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
  taskcluster/translations_taskgraph/transforms/upload_artifacts.py
  tests/fixtures/config.pytest.enzh.yml
  tests/fixtures/config.pytest.yml
  tests/test_alignments.py
  tests/test_continuation.py
Due: test, taskgraph-definition, taskgraph-diff

feat: only archive corpora to GCS if requested (fixes #1048) (#1194)
  configs/autogenerated/en-pl-example.yml
  taskcluster/configs/config.ci.yml
  taskcluster/configs/config.prod.yml
  taskcluster/kinds/upload-artifacts/kind.yml
  taskcluster/test/params/large-lt-en.yml
  taskcluster/test/params/small-ru-en.yml
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
  taskcluster/translations_taskgraph/transforms/upload_artifacts.py
  tests/fixtures/__init__.py
  tests/fixtures/config.pytest.enzh.yml
  tests/fixtures/config.pytest.yml
  tests/test_alignments.py
  tests/test_continuation.py
Due: test, taskgraph-definition, taskgraph-diff

Address review comments
  pipeline/data/parallel_importer.py
  pipeline/train/configs/opustrainer/teacher.yml
  pipeline/train/train.py
  tests/test_training.py
Due: test, taskgraph-definition

Refine the strategy for picking split vocabs and vocab size
  utils/config_generator.py
Due: none

Add continuation to the cache (#1171)
  taskcluster/kinds/build-vocab/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Build the marian-fork for use in the pipeline
  taskcluster/config.yml
  taskcluster/kinds/compile/kind.yml
  taskcluster/kinds/distillation-student-model-quantize/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/export/kind.yml
  taskcluster/kinds/fetch/toolchains.yml
  taskcluster/kinds/inference/kind.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/translations_taskgraph/transforms/cached_tasks.py
Due: test, taskgraph-definition, taskgraph-diff

fix issue arount tests failing
  poetry.lock
Due: test

reformatted file
  tests/unit/test_tracking_cli.py
Due: test

Split the vocab for Hangul
  utils/config_generator.py
Due: none

Choose the augmentation to perform based on script information (#1172)
  docs/training/opus-trainer.md
  pipeline/data/lang_script.py
  pipeline/data/parallel_importer.py
  pipeline/train/configs/opustrainer/backward.cjk.yml
  pipeline/train/configs/opustrainer/backward.yml
  pipeline/train/configs/opustrainer/student.cjk.yml
  pipeline/train/configs/opustrainer/student.yml
  pipeline/train/configs/opustrainer/teacher.one-stage.cjk.yml
  pipeline/train/configs/opustrainer/teacher.one-stage.yml
  pipeline/train/configs/opustrainer/teacher.two-stage.cjk.yml
  pipeline/train/configs/opustrainer/teacher.two-stage.yml
  pipeline/train/configs/opustrainer/teacher.yml
  pipeline/train/requirements/train.in
  pipeline/train/requirements/train.txt
  pipeline/train/train.py
  pyproject.toml
  taskcluster/docker/train/Dockerfile
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
  tests/test_data_importer.py
  tests/test_training.py
  utils/config_generator.py
Due: test, taskgraph-definition, taskgraph-diff

Add a translate python utils
  inference/translate-cli/translate.py
  utils/common/remote_settings.py
Due: none

Path conditions:
  test: any of: pipeline/**, tests/**, tracking/**, taskcluster/**, poetry.*, Taskfile.yml
  taskgraph-definition: any of: pipeline/**, taskcluster/**
  taskgraph-diff: any of: taskcluster/**
