Repository mozilla/translations: changes, and which Taskcluster tasks are due for each by the changed paths.
All: test, taskgraph-definition, taskgraph-diff

test:
  worker-type: b-cpu
  worker:
    max-run-time: 3600
    docker-image:
      in-tree: test
  run:
    command:
    - bash
    - -c
    - export BIN=$MOZ_FETCHES_DIR && export MARIAN=$MOZ_FETCHES_DIR && task test
  run-on-tasks-for:
  - github-push
  - github-pull-request
  fetches:
    toolchain:
    - fast-align
    - extract-lex
  ...

taskgraph-definition:
  worker-type: b-cpu
  worker:
    docker-image:
      in-tree: test
    max-run-time: 3600
  description: Test the full `translations_taskgraph` to validate the latest changes
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command: task taskgraph-validate

taskgraph-diff:
  worker-type: b-cpu
  worker:
    docker-image:
      in-tree: test
    max-run-time: 1200
  description: Create diffs of taskgraphs vs. base revision.
  run-on-tasks-for:
  - github-pull-request
  run:
    command: task taskgraph-diff BASE_REV={base_rev} OUTPUT_FILE=$TASK_WORKDIR/artifacts/taskgraph.diff

Add gdb and valgrind to the docker instance
  docker/Dockerfile
Due: none

Add a translate-cli endpoint
  Taskfile.yml
  inference/CMakeLists.txt
  inference/scripts/build.py
  inference/translate-cli/CMakeLists.txt
  inference/translate-cli/main.cpp
Due: test

Add a task to translate
  Taskfile.yml
  inference/translate-cli/translate.py
Due: test

Adjust the allocation strategy for Wasm to match in the translate-cli
  inference/marian-fork/src/tensors/tensor_allocator.h
Due: none

Update OpusCleaner
  pipeline/clean/requirements/clean-mono.in
  pipeline/clean/requirements/clean-mono.txt
  pipeline/clean/requirements/clean-parallel.in
  pipeline/clean/requirements/clean-parallel.txt
  poetry.lock
  pyproject.toml
Due: test, taskgraph-definition

Add currency mismatch filter for Latin languages
  pipeline/clean/opuscleaner/generate_filters.py
  taskcluster/kinds/corpus-clean-parallel/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Update tests
  tests/data/corpus_samples/en-fr.txt.zip
  tests/fixtures/__init__.py
  tests/fixtures/config.pytest.enfr.yml
  tests/fixtures/config.pytest.enzh.yml
  tests/test_clean.py
  tests/test_filters.py
Due: test

Add punctuation modifier (#1163)
  docs/training/opus-trainer.md
  pipeline/data/parallel_importer.py
  pipeline/data/requirements/data.in
  pipeline/data/requirements/data.txt
  pipeline/train/configs/opustrainer/student.cjk.yml
  pipeline/train/configs/opustrainer/student.yml
  pipeline/train/configs/opustrainer/teacher.one-stage.cjk.yml
  pipeline/train/configs/opustrainer/teacher.one-stage.yml
  pipeline/train/configs/opustrainer/teacher.two-stage.cjk.yml
  pipeline/train/configs/opustrainer/teacher.two-stage.yml
  pipeline/train/requirements/train.in
  pipeline/train/requirements/train.txt
  poetry.lock
  pyproject.toml
  taskcluster/configs/config.prod.yml
  tests/test_data_importer.py
  utils/config_generator.py
Due: test, taskgraph-definition, taskgraph-diff

Fix mono clean (#1162)
  pipeline/clean/requirements/clean-mono.in
  pipeline/clean/requirements/clean-mono.txt
  pipeline/clean/requirements/clean-parallel.in
  pipeline/clean/requirements/clean-parallel.txt
  pipeline/clean/tools/clean_mono.py
  poetry.lock
  pyproject.toml
  taskcluster/docker/test/Dockerfile
  taskcluster/kinds/corpus-clean-mono/kind.yml
  taskcluster/kinds/corpus-clean-parallel/kind.yml
  tests/test_clean.py
Due: test, taskgraph-definition, taskgraph-diff

Add more details about the models to the Firefox Translations Models page (#1166)
  site/@types/models.d.ts
  site/firefox-models/index.html
  site/firefox-models/models.css
  site/firefox-models/models.mjs
  site/utils.mjs
Due: none

Add types to tests/test_training.py (#1173)
  pyproject.toml
  tests/test_training.py
Due: test

Add LLM running code and docs (#1147)
  experiments/README.md
  experiments/llmaat/README.md
  experiments/llmaat/flows/configs/config.beam-sample.json
  experiments/llmaat/flows/configs/config.greedy.json
  experiments/llmaat/flows/configs/config.qe-rerank.json
  experiments/llmaat/flows/configs/config.sample.json
  experiments/llmaat/flows/configs/config.vllm.json
  experiments/llmaat/flows/evals.py
  experiments/llmaat/flows/langs.py
  experiments/llmaat/flows/llm_eval_flow.py
  experiments/llmaat/flows/llm_run_flow.py
  experiments/llmaat/flows/llm_runner.py
  experiments/llmaat/flows/metricx/models.py
  experiments/llmaat/flows/metricx/predict.py
  experiments/llmaat/flows/prompts.py
  experiments/llmaat/flows/requirements.outerbounds.txt
  experiments/llmaat/notebooks/Select corpus.ipynb
  experiments/llmaat/scripts/cluster_corpus_ddp.py
  experiments/llmaat/scripts/emb_corpus_ddp.py
  experiments/llmaat/scripts/translate_all_alma.py
  experiments/llmaat/scripts/translate_all_llama3.py
Due: none

feat: only archive corpora to GCS if requested (fixes #1048) (#1194)
  configs/autogenerated/en-pl-example.yml
  taskcluster/configs/config.ci.yml
  taskcluster/configs/config.prod.yml
  taskcluster/kinds/upload-artifacts/kind.yml
  taskcluster/test/params/large-lt-en.yml
  taskcluster/test/params/small-ru-en.yml
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
  taskcluster/translations_taskgraph/transforms/upload_artifacts.py
  tests/fixtures/__init__.py
  tests/fixtures/config.pytest.enzh.yml
  tests/fixtures/config.pytest.yml
  tests/test_alignments.py
  tests/test_continuation.py
Due: test, taskgraph-definition, taskgraph-diff

Add split_digits option to Sentencepiece (#1174)
  pipeline/train/spm-vocab.sh
Due: test, taskgraph-definition

Choose the augmentation to perform based on script information (#1172)
  docs/training/opus-trainer.md
  pipeline/data/lang_script.py
  pipeline/data/parallel_importer.py
  pipeline/train/configs/opustrainer/backward.cjk.yml
  pipeline/train/configs/opustrainer/backward.yml
  pipeline/train/configs/opustrainer/student.cjk.yml
  pipeline/train/configs/opustrainer/student.yml
  pipeline/train/configs/opustrainer/teacher.one-stage.cjk.yml
  pipeline/train/configs/opustrainer/teacher.one-stage.yml
  pipeline/train/configs/opustrainer/teacher.two-stage.cjk.yml
  pipeline/train/configs/opustrainer/teacher.two-stage.yml
  pipeline/train/configs/opustrainer/teacher.yml
  pipeline/train/requirements/train.in
  pipeline/train/requirements/train.txt
  pipeline/train/train.py
  pyproject.toml
  taskcluster/docker/train/Dockerfile
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
  tests/test_data_importer.py
  tests/test_training.py
  utils/config_generator.py
Due: test, taskgraph-definition, taskgraph-diff

Add config validation to validate the config whenever the train action is triggered (#1168)
  configs/autogenerated/en-pl-example.yml
  poetry.lock
  pyproject.toml
  taskcluster/configs/config.prod.yml
  taskcluster/translations_taskgraph/actions/train.py
  tests/fixtures/__init__.py
  tests/fixtures/config.pytest.enzh.yml
  tests/fixtures/config.pytest.yml
  tests/test_config_validation.py
Due: test, taskgraph-definition, taskgraph-diff

Add continuation to the cache (#1171)
  taskcluster/kinds/build-vocab/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Fix shortlist crash that is happening in the quantize step (#1193)
  inference/marian-fork/src/data/shortlist.cpp
Due: none

Add the extract_stats script
  pipeline/quantize/extract_stats.py
  pipeline/quantize/quantize.sh
  taskcluster/kinds/distillation-student-model-quantize/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Build the marian-fork for use in the pipeline
  taskcluster/config.yml
  taskcluster/kinds/compile/kind.yml
  taskcluster/kinds/distillation-student-model-quantize/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/export/kind.yml
  taskcluster/kinds/fetch/toolchains.yml
  taskcluster/kinds/inference/kind.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/translations_taskgraph/transforms/cached_tasks.py
Due: test, taskgraph-definition, taskgraph-diff

Add PyICU for cleaning
  pipeline/clean/requirements/clean-parallel.in
  pipeline/clean/requirements/clean-parallel.txt
Due: test, taskgraph-definition

Add PYTHONPATH
  taskcluster/kinds/corpus-clean-parallel/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add pontoon importer and sample augment modifier
  pipeline/common/downloads.py
  pipeline/data/parallel_downloaders.py
  pipeline/data/parallel_importer.py
Due: test, taskgraph-definition

Add currency mismatch filter (#1199)
  pipeline/clean/opuscleaner/generate_filters.py
  pipeline/clean/requirements/clean-mono.in
  pipeline/clean/requirements/clean-mono.txt
  pipeline/clean/requirements/clean-parallel.in
  pipeline/clean/requirements/clean-parallel.txt
  poetry.lock
  pyproject.toml
  taskcluster/kinds/corpus-clean-parallel/kind.yml
  tests/data/corpus_samples/en-fr.txt.zip
  tests/fixtures/__init__.py
  tests/fixtures/config.pytest.enfr.yml
  tests/fixtures/config.pytest.enzh.yml
  tests/test_clean.py
  tests/test_filters.py
Due: test, taskgraph-definition, taskgraph-diff

Rename Bicleaner step .scores.zst to best-scores
  pipeline/bicleaner/bicleaner.sh
  pipeline/clean/merge-parallel.py
  taskcluster/kinds/corpus-merge-parallel/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add support for more models
  experiments/llmaat/flows/llm_runner.py
Due: none

Enable and fix QE reranking
  experiments/llmaat/flows/configs/config.vllm.qe-rerank.json
  experiments/llmaat/flows/evals.py
  experiments/llmaat/flows/llm_eval_flow.py
  experiments/llmaat/flows/llm_run_flow.py
Due: none

Adapt test_merge_corpus to dedup by target
  tests/test_merge_corpus.py
Due: test

Move generator logic to a function
  pipeline/clean/merge-parallel.py
Due: test, taskgraph-definition

feat: skeleton for evaluation action / task
  taskcluster/configs/eval.yml
  taskcluster/kinds/final-eval/kind.yml
  taskcluster/kinds/upload-final-eval/kind.yml
  taskcluster/translations_taskgraph/__init__.py
  taskcluster/translations_taskgraph/actions/evaluate.py
  taskcluster/translations_taskgraph/target_tasks.py
Due: test, taskgraph-definition, taskgraph-diff

Target side deduplication based on bicleaner scores (#1201)
  pipeline/bicleaner/bicleaner.sh
  pipeline/clean/merge-parallel.py
  pipeline/common/datasets.py
  taskcluster/kinds/corpus-merge-parallel/kind.yml
  tests/test_common_datasets.py
  tests/test_merge_corpus.py
Due: test, taskgraph-definition, taskgraph-diff

Add sampling config
  experiments/llmaat/README.md
  experiments/llmaat/flows/configs/config.vllm.greedy.json
  experiments/llmaat/flows/configs/config.vllm.sample.json
  experiments/llmaat/flows/llm_eval_flow.py
  experiments/llmaat/flows/llm_run_flow.py
  experiments/llmaat/flows/llm_runner.py
Due: none

Increase disk
  experiments/llmaat/flows/llm_eval_flow.py
  experiments/llmaat/flows/llm_run_flow.py
Due: none

fix: don't upload intermediate models from training tasks
  taskcluster/kinds/upload-artifacts/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

fix: don't upload intermediate models from training tasks (#1207)
  taskcluster/kinds/upload-artifacts/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

chore: bump to latest PyICU version
  pipeline/alignments/requirements/alignments.in
  pipeline/alignments/requirements/alignments.txt
  pipeline/clean/requirements/clean-parallel.in
  pipeline/clean/requirements/clean-parallel.txt
  pipeline/data/requirements/data.in
  pipeline/data/requirements/data.txt
  pipeline/train/requirements/train.in
  pipeline/train/requirements/train.txt
  poetry.lock
  pyproject.toml
Due: test, taskgraph-definition

Vllm update and other fixes
  experiments/llmaat/flows/llm_eval_flow.py
  experiments/llmaat/flows/llm_run_flow.py
Due: none

Add support for gpt-oss
  experiments/llmaat/flows/llm_runner.py
Due: none

Update config
  Taskfile.yml
  configs/retrain_high_res_2025/de-en-retrain_hr.yml
Due: test

Path conditions:
  test: any of: pipeline/**, tests/**, tracking/**, taskcluster/**, poetry.*, Taskfile.yml
  taskgraph-definition: any of: pipeline/**, taskcluster/**
  taskgraph-diff: any of: taskcluster/**
