Repository mozilla/translations: changes, and which Taskcluster tasks are due for each by the changed paths.
All: test, taskgraph-definition, taskgraph-diff

test:
  worker-type: b-cpu
  worker:
    max-run-time: 3600
    docker-image:
      in-tree: test
  run:
    command:
    - bash
    - -c
    - export BIN=$MOZ_FETCHES_DIR && export MARIAN=$MOZ_FETCHES_DIR && task test
  run-on-tasks-for:
  - github-push
  - github-pull-request
  fetches:
    toolchain:
    - fast-align
    - extract-lex
  ...

taskgraph-definition:
  worker-type: b-cpu
  worker:
    docker-image:
      in-tree: test
    max-run-time: 3600
  description: Test the full `translations_taskgraph` to validate the latest changes
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command: task taskgraph-validate

taskgraph-diff:
  worker-type: b-cpu
  worker:
    docker-image:
      in-tree: test
    max-run-time: 1200
  description: Create diffs of taskgraphs vs. base revision.
  run-on-tasks-for:
  - github-pull-request
  run:
    command: task taskgraph-diff BASE_REV={base_rev} OUTPUT_FILE=$TASK_WORKDIR/artifacts/taskgraph.diff

Update datasets
  pipeline/eval/datasets.py
  pipeline/eval/eval_datasets.py
  pipeline/eval/final_eval.py
  pipeline/eval/langs.py
Due: test, taskgraph-definition

Dataset fixes
  pipeline/eval/eval_datasets.py
  pipeline/eval/langs.py
Due: test, taskgraph-definition

Fix final evals
  pipeline/eval/eval_datasets.py
  pipeline/eval/final_eval.py
  pipeline/eval/langs.py
  pipeline/eval/metrics.py
  pipeline/eval/translators.py
Due: test, taskgraph-definition

Add configuration
  pipeline/eval/final_eval.py
  pipeline/eval/requirements/final_eval.in
  pipeline/eval/requirements/final_eval.txt
  pipeline/eval/requirements/llm.in
  pipeline/eval/requirements/llm.txt
  pipeline/eval/translators.py
  taskcluster/configs/eval.yml
  taskcluster/kinds/final-eval/kind.yml
  taskcluster/translations_taskgraph/actions/evaluate.py
Due: test, taskgraph-definition, taskgraph-diff

Enable env
  taskcluster/kinds/final-eval/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Configure cli, add light reqs
  pipeline/eval/final_eval.py
  pipeline/eval/requirements/final_eval_light.in
  taskcluster/kinds/final-eval/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add reqs
  pipeline/eval/final_eval.py
  pipeline/eval/requirements/final_eval_light.txt
Due: test, taskgraph-definition

Remove mtdata
  pipeline/eval/final_eval.py
  pipeline/eval/translators.py
Due: test, taskgraph-definition

Add yaml package
  pipeline/eval/requirements/final_eval_light.in
Due: test, taskgraph-definition

Fix kind
  pipeline/eval/requirements/final_eval_light.txt
  taskcluster/kinds/final-eval/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Fix permissions
  taskcluster/kinds/final-eval/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Change upload path
  taskcluster/kinds/upload-final-eval/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Fix cmd
  taskcluster/kinds/final-eval/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Test gpu
  pipeline/eval/final_eval.py
  pipeline/eval/requirements/final_eval.in
  pipeline/eval/requirements/final_eval.txt
  taskcluster/configs/eval.yml
  taskcluster/kinds/final-eval/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Move package installation to docker image
  taskcluster/configs/eval.yml
  taskcluster/docker/eval/Dockerfile
  taskcluster/kinds/docker-image/kind.yml
  taskcluster/kinds/final-eval/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Do not upload logs
  taskcluster/kinds/upload-final-eval/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Install packages manually
  taskcluster/docker/eval/Dockerfile
Due: test, taskgraph-definition, taskgraph-diff

Fix comet score
  pipeline/eval/metrics.py
  taskcluster/docker/eval/Dockerfile
Due: test, taskgraph-definition, taskgraph-diff

Move reqs to docker
  pipeline/eval/requirements/final_eval_light.in
  pipeline/eval/requirements/final_eval_light.txt
  taskcluster/docker/eval/Dockerfile
  taskcluster/docker/eval/final_eval.in
  taskcluster/docker/eval/final_eval.txt
Due: test, taskgraph-definition, taskgraph-diff

Use compile instead of inference
  taskcluster/kinds/compile/kind.yml
  taskcluster/kinds/final-eval/kind.yml
  taskcluster/kinds/inference/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Trigger ci
  taskcluster/kinds/final-eval/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add reqs
  taskcluster/docker/eval/Dockerfile
Due: test, taskgraph-definition, taskgraph-diff

Fix requirements
  pipeline/eval/translators.py
  taskcluster/docker/eval/final_eval.in
  taskcluster/docker/eval/final_eval.txt
Due: test, taskgraph-definition, taskgraph-diff

Group metrics
  pipeline/eval/final_eval.py
  taskcluster/kinds/final-eval/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Fix tests
  pipeline/eval/eval.py
  pipeline/eval/final_eval.py
  pipeline/eval/metrics.py
  tests/test_eval.py
Due: test, taskgraph-definition

Load translations from GCS
  pipeline/eval/final_eval.py
Due: test, taskgraph-definition

Use zh-hant by default
  configs/cjk/zh-hant-en-cjk.yml
  pipeline/data/hplt.py
  pipeline/data/mono_importer.py
  pipeline/data/parallel_downloaders.py
  pipeline/data/parallel_importer.py
Due: test, taskgraph-definition

Run db update on cron
  .cron.yml
  db/requirements.in
  db/requirements.txt
  db/updater.py
  taskcluster/kinds/update-db/kind.yml
  taskcluster/kinds/upload-db/kind.yml
  taskcluster/translations_taskgraph/target_tasks.py
  utils/site_server.py
Due: test, taskgraph-definition, taskgraph-diff

Revert port
  utils/site_server.py
Due: none

Install requirements
  db/requirements/requirements.in
  db/requirements/requirements.txt
  taskcluster/kinds/update-db/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Run on PR
  taskcluster/kinds/update-db/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Fix directory creation
  db/updater.py
Due: none

Upload on PR
  taskcluster/kinds/upload-db/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Specify bucket explicitly
  taskcluster/kinds/upload-db/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Fix bucket
  taskcluster/kinds/upload-db/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add class comments
  db/sql.py
  db/updater.py
  site/model-registry/model-registry.mjs
Due: none

Update readme
  db/README.md
Due: none

Do not run on PR
  taskcluster/kinds/update-db/kind.yml
  taskcluster/kinds/upload-db/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Use zh in CI
  taskcluster/configs/config.ci.yml
Due: test, taskgraph-definition, taskgraph-diff

Fix mono importer
  pipeline/data/mono_importer.py
Due: test, taskgraph-definition

Path conditions:
  test: any of: pipeline/**, tests/**, tracking/**, taskcluster/**, poetry.*, Taskfile.yml
  taskgraph-definition: any of: pipeline/**, taskcluster/**
  taskgraph-diff: any of: taskcluster/**
