Repository mozilla/translations: changes, and which Taskcluster tasks are due for each by the changed paths.
All: test, taskgraph-definition, taskgraph-diff

test:
  worker-type: b-cpu
  worker:
    max-run-time: 3600
    docker-image:
      in-tree: test
  run:
    command:
    - bash
    - -c
    - export BIN=$MOZ_FETCHES_DIR && export MARIAN=$MOZ_FETCHES_DIR && task test
  run-on-tasks-for:
  - github-push
  - github-pull-request
  fetches:
    toolchain:
    - fast-align
    - extract-lex
  ...

taskgraph-definition:
  worker-type: b-cpu
  worker:
    docker-image:
      in-tree: test
    max-run-time: 3600
  description: Test the full `translations_taskgraph` to validate the latest changes
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command: task taskgraph-validate

taskgraph-diff:
  worker-type: b-cpu
  worker:
    docker-image:
      in-tree: test
    max-run-time: 1200
  description: Create diffs of taskgraphs vs. base revision.
  run-on-tasks-for:
  - github-pull-request
  run:
    command: task taskgraph-diff BASE_REV={base_rev} OUTPUT_FILE=$TASK_WORKDIR/artifacts/taskgraph.diff

Add missing dependency fetch
  taskcluster/kinds/build-vocab/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add spm-norm-rule param to test configs
  tests/fixtures/config.pytest.enzh.yml
  tests/fixtures/config.pytest.enzh_hant.yml
  tests/fixtures/config.pytest.zh_hanten.yml
Due: test

Add lid models to gitignore
  .gitignore
Due: none

Add split-digits to joint vocab
  pipeline/train/spm-vocab.sh
Due: test, taskgraph-definition

Update docs, leave nfkc as default for now.
  docs/training/README.md
Due: none

Update docs
  docs/training/README.md
Due: none

Add galician adn basque configs
  configs/iberian/eneu-baseline.yml
  configs/iberian/eneu-moredata.yml
  configs/iberian/engl-baseline.yml
  configs/iberian/engl-scielo.yml
  configs/iberian/euen-baseline.yml
  configs/iberian/euen-onestage.yml
  configs/iberian/euen-topk10.yml
  configs/iberian/glen-baseline.yml
  configs/iberian/glen-init-esen.yml
  configs/iberian/glen-onestage.yml
  configs/iberian/glen-topk10-onestage.yml
  configs/iberian/glen-topk10.yml
Due: none

Add bouquet missing languages
  pipeline/langs/maps.py
Due: test, taskgraph-definition

Fix lang test for Serbian
  tests/test_lang_codes.py
Due: test

Update Bouquet to include Basque and Galician
  pipeline/eval/eval_datasets.py
Due: test, taskgraph-definition

Fix wrong eng code for Bouquet
  pipeline/eval/eval_datasets.py
Due: test, taskgraph-definition

Add --file support to run_model.py
  utils/run_model.py
Due: none

Move training dashboard to mozilla translations site
  site/index.html
  site/training-dashboard/index.html
  site/training-dashboard/taskcluster-db.mjs
  site/training-dashboard/taskcluster.mjs
  site/training-dashboard/training.css
  site/training-dashboard/training.mjs
  site/training-dashboard/utils.mjs
Due: none

Model Registry defaults to sort by date
  site/model-registry/model-registry.mjs
Due: none

Fix lang codes test for zh Hant
  tests/test_lang_codes.py
Due: test

Add Afrikaans Bouquet
  pipeline/langs/maps.py
Due: test, taskgraph-definition

Update Flores101 to Flores200 for the training pipeline
  pipeline/data/parallel_downloaders.py
  pipeline/langs/codes.py
  pipeline/langs/maps.py
  pipeline/langs/scripts.py
  tests/data/corpus_samples/flores200_dataset.tar.gz
  tests/fixtures/__init__.py
  tests/test_lang_codes.py
  utils/config_generator.py
Due: test, taskgraph-definition

Add dev-max-sentences config parameter
  taskcluster/configs/config.ci.yml
  taskcluster/configs/config.prod.yml
  taskcluster/kinds/corpus-merge-devset/kind.yml
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
Due: test, taskgraph-definition, taskgraph-diff

Add hplt.py files to dataset cache resources
  taskcluster/kinds/dataset/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add suport for generic monolingual HF dataset
  docs/data-and-cleaning/datasets.md
  pipeline/common/datasets.py
  pipeline/data/mono_importer.py
  pipeline/data/requirements/data.in
  pipeline/data/requirements/data.txt
  taskcluster/kinds/dataset/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add parallel importer for Hugging Face
  docs/data-and-cleaning/datasets.md
  pipeline/data/parallel_downloaders.py
Due: test, taskgraph-definition

Ignore pyright warning
  pipeline/data/parallel_downloaders.py
Due: test, taskgraph-definition

Add hf monolingual importer test
  pipeline/data/mono_importer.py
  taskcluster/kinds/dataset/kind.yml
  tests/data/corpus_samples/hf_dataset/train.jsonl
  tests/data/corpus_samples/hfp_dataset/README.md
  tests/data/corpus_samples/hfp_dataset2/README.md
  tests/fixtures/config.pytest.yml
  tests/test_data_importer.py
Due: test, taskgraph-definition, taskgraph-diff

Fix info bytes in hf mono importer
  pipeline/data/mono_importer.py
Due: test, taskgraph-definition

Add tests for hfp importer and add dataset kind for it
  pipeline/data/parallel_downloaders.py
  taskcluster/kinds/dataset/kind.yml
  taskcluster/translations_taskgraph/util/dataset_helpers.py
  tests/data/corpus_samples/hfp_dataset/README
  tests/data/corpus_samples/hfp_dataset/ru-en.tsv
  tests/data/corpus_samples/hfp_dataset2/README
  tests/data/corpus_samples/hfp_dataset2/es-sv/train-00000-of-00001.parquet
  tests/fixtures/config.pytest.yml
  tests/test_data_importer.py
Due: test, taskgraph-definition, taskgraph-diff

Remove streaming from HF mono importer
  pipeline/data/mono_importer.py
Due: test, taskgraph-definition

Add ntrex importer to tracking code
  tracking/translations_parser/utils.py
Due: test

Add galician and basque configs
  configs/iberian/eneu-baseline.yml
  configs/iberian/eneu-finetranslations.yml
  configs/iberian/eneu-moredata.yml
  configs/iberian/engl-baseline.yml
  configs/iberian/engl-finetranslations.yml
  configs/iberian/engl-scielo.yml
  configs/iberian/euen-baseline.yml
  configs/iberian/euen-finetranslations.yml
  configs/iberian/euen-onestage.yml
  configs/iberian/euen-topk10.yml
  configs/iberian/glen-baseline.yml
  configs/iberian/glen-finetranslations.yml
  configs/iberian/glen-init-esen.yml
  configs/iberian/glen-onestage.yml
  configs/iberian/glen-topk10-onestage.yml
  configs/iberian/glen-topk10.yml
Due: none

Add more Bouquet languages
  pipeline/eval/eval_datasets.py
  pipeline/langs/maps.py
  tests/test_lang_codes.py
Due: test, taskgraph-definition

Path conditions:
  test: any of: pipeline/**, tests/**, tracking/**, taskcluster/**, poetry.*, Taskfile.yml
  taskgraph-definition: any of: pipeline/**, taskcluster/**
  taskgraph-diff: any of: taskcluster/**
