Repository mozilla/translations: changes, and which Taskcluster tasks are due for each by the changed paths.
All: test, taskgraph-definition, taskgraph-diff

test:
  worker-type: b-cpu
  worker:
    max-run-time: 3600
    docker-image:
      in-tree: test
  run:
    command:
    - bash
    - -c
    - export BIN=$MOZ_FETCHES_DIR && export MARIAN=$MOZ_FETCHES_DIR && task test
  run-on-tasks-for:
  - github-push
  - github-pull-request
  fetches:
    toolchain:
    - fast-align
    - extract-lex
  ...

taskgraph-definition:
  worker-type: b-cpu
  worker:
    docker-image:
      in-tree: test
    max-run-time: 3600
  description: Test the full `translations_taskgraph` to validate the latest changes
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command: task taskgraph-validate

taskgraph-diff:
  worker-type: b-cpu
  worker:
    docker-image:
      in-tree: test
    max-run-time: 1200
  description: Create diffs of taskgraphs vs. base revision.
  run-on-tasks-for:
  - github-pull-request
  run:
    command: task taskgraph-diff BASE_REV={base_rev} OUTPUT_FILE=$TASK_WORKDIR/artifacts/taskgraph.diff

Add list subcommand documentation to remote_settings README.md (#226)
  remote_settings/README.md
  remote_settings/subcommands/list/command.py
  tests/remote_settings/list/test_list_local_server.py
  tests/remote_settings/list/test_list_mocked.py
Due: test

Improve remote_settings create log format (#270)
  remote_settings/client.py
  remote_settings/subcommands/create/command.py
Due: none

Update create subcommand to check for duplicate models (#231)
  remote_settings/client.py
  remote_settings/subcommands/create/command.py
  tests/remote_settings/common.py
  tests/remote_settings/create/test_create_local_server.py
  tests/remote_settings/create/test_create_mocked.py
  tests/remote_settings/list/test_list_local_server.py
  tests/remote_settings/list/test_list_mocked.py
Due: test

Fix remote_settings_script staging server URL (#139)
  remote_settings/client.py
  tests/remote_settings/test_create.py
Due: test

Support --lang-pair in remote_settings script (#134)
  remote_settings/README.md
  remote_settings/client.py
  remote_settings/subcommands/create.py
  tests/remote_settings/attachments/dev/emty/lex.50.50.esen.s2t.bin.gz
  tests/remote_settings/attachments/dev/emty/model.esen.intgemm8.bin.gz
  tests/remote_settings/attachments/dev/emty/vocab.esen.spm.gz
  tests/remote_settings/attachments/dev/enes/lex.50.50.enes.s2t.bin
  tests/remote_settings/attachments/dev/enes/lex.enes.s2t.bin
  tests/remote_settings/attachments/dev/enes/model.enes.intgemm8.bin
  tests/remote_settings/attachments/dev/enes/qualityModel.enes.bin
  tests/remote_settings/attachments/dev/enes/srcvocab.enes.spm
  tests/remote_settings/attachments/dev/enes/trgvocab.enes.spm
  tests/remote_settings/attachments/dev/enes/vocab.enes.spm
  tests/remote_settings/attachments/prod/esen/lex.50.50.esen.s2t.bin
  tests/remote_settings/attachments/prod/esen/lex.esen.s2t.bin
  tests/remote_settings/attachments/prod/esen/model.esen.intgemm8.bin
  tests/remote_settings/attachments/prod/esen/qualityModel.esen.bin
  tests/remote_settings/attachments/prod/esen/srcvocab.esen.spm
  tests/remote_settings/attachments/prod/esen/trgvocab.esen.spm
  tests/remote_settings/attachments/prod/esen/vocab.esen.spm
  tests/remote_settings/test_create.py
Due: test

Add JSON metadata to each model directory (#217)
  remote_settings/client.py
Due: none

Clarify the docs for uploading using remote settings (#143)
  remote_settings/README.md
Due: none

Remove the '--quiet' flag from the create subcommand (#249)
  remote_settings/client.py
  remote_settings/format.py
  remote_settings/subcommands/create/command.py
  tests/remote_settings/create/test_create_local_server.py
  tests/remote_settings/create/test_create_mocked.py
Due: test

Upload compressed models with updated schema to new Remote Settings collections (#252)
  remote_settings/client.py
  remote_settings/common.py
  remote_settings/subcommands/create/command.py
  remote_settings/subcommands/local_server/command.py
  remote_settings/subcommands/local_server/mount/translations.ini
  remote_settings/subcommands/local_server/schema/models_schema.json
  tests/remote_settings/common.py
  tests/remote_settings/create/test_create_local_server.py
  tests/remote_settings/create/test_create_mocked.py
  tests/remote_settings/list/test_list_local_server.py
Due: test

Rename size and hash to decompressedSize and decompressedHash respectively in the model schema (#258)
  remote_settings/client.py
  remote_settings/common.py
  remote_settings/subcommands/create/command.py
  remote_settings/subcommands/local_server/command.py
  remote_settings/subcommands/local_server/schema/models_schema.json
  tests/remote_settings/create/test_create_local_server.py
  tests/remote_settings/create/test_create_mocked.py
  tests/remote_settings/list/test_list_local_server.py
Due: test

Add `local-server` subcommand to `remote_settings` script (#212)
  remote_settings/__main__.py
  remote_settings/client.py
  remote_settings/common.py
  remote_settings/subcommands/create/command.py
  remote_settings/subcommands/local_server/README.md
  remote_settings/subcommands/local_server/command.py
  remote_settings/subcommands/local_server/mount/translations.ini
  remote_settings/subcommands/local_server/schema/models_schema.json
  remote_settings/subcommands/local_server/schema/wasm_schema.json
  tests/remote_settings/__init__.py
  tests/remote_settings/create/__init__.py
  tests/remote_settings/create/test_create_local_server.py
  tests/remote_settings/create/test_create_mocked.py
  tests/remote_settings/test_constants.py
Due: test

Add the list subcommand to remote_settings (#222)
  remote_settings/__main__.py
  remote_settings/client.py
  remote_settings/subcommands/list/command.py
  tests/remote_settings/conftest.py
  tests/remote_settings/create/test_create_local_server.py
  tests/remote_settings/list/__init__.py
  tests/remote_settings/list/test_list_local_server.py
  tests/remote_settings/list/test_list_mocked.py
Due: test

Reorganize remote_settings directory structure (#120)
  remote_settings/__main__.py
  remote_settings/client.py
  remote_settings/format.py
  remote_settings/subcommands/create.py
  tests/remote_settings/attachments/lex.50.50.esen.s2t.bin
  tests/remote_settings/attachments/lex.esen.s2t.bin
  tests/remote_settings/attachments/model.esen.intgemm8.bin
  tests/remote_settings/attachments/qualityModel.esen.bin
  tests/remote_settings/attachments/srcvocab.esen.spm
  tests/remote_settings/attachments/trgvocab.esen.spm
  tests/remote_settings/attachments/vocab.esen.spm
  tests/remote_settings/test_create.py
Due: test

Add lang codes convertor
  pipeline/langs/codes.py
  tests/test_lang_codes.py
Due: test, taskgraph-definition

Use openlid for zh_hant
  pipeline/clean/clean-mono.sh
  pipeline/clean/opuscleaner/clean-parallel.sh
  pipeline/clean/requirements/clean-mono.in
  pipeline/clean/requirements/clean-mono.txt
  pipeline/clean/tools/langid_fasttext.py
Due: test, taskgraph-definition

Extend mono max length
  pipeline/clean/tools/clean_mono.py
Due: test, taskgraph-definition

Handle cjk convertion
  pipeline/data/cjk.py
  pipeline/data/mono_importer.py
  pipeline/data/parallel_importer.py
  pipeline/train/train.py
  tests/test_cjk.py
Due: test, taskgraph-definition

Move maps and script info to langs module
  docs/training/opus-trainer.md
  pipeline/clean/opuscleaner/generate_filters.py
  pipeline/data/parallel_importer.py
  pipeline/data/pontoon.py
  pipeline/eval/eval_datasets.py
  pipeline/eval/metrics.py
  pipeline/eval/translators.py
  pipeline/langs/maps.py
  pipeline/langs/scripts.py
  pipeline/train/configs/opustrainer/teacher.yml
  taskcluster/kinds/corpus-clean-mono/kind.yml
  taskcluster/kinds/corpus-clean-parallel/kind.yml
  taskcluster/kinds/dataset/kind.yml
  utils/config_generator.py
Due: test, taskgraph-definition, taskgraph-diff

Fix parameter type
  pipeline/data/mono_importer.py
Due: test, taskgraph-definition

Migrate to HPLT 3
  pipeline/data/hplt.py
Due: test, taskgraph-definition

Use new code convertor
  pipeline/data/mono_importer.py
  pipeline/data/parallel_downloaders.py
Due: test, taskgraph-definition

Update CI config. TODO: revert
  taskcluster/configs/config.ci.yml
Due: test, taskgraph-definition, taskgraph-diff

Fix path
  docs/training/opus-trainer.md
  pipeline/train/configs/opustrainer/teacher.yml
  taskcluster/kinds/corpus-clean-parallel/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

WIP: Configure remote_settings local-server to run with Podman
  remote_settings/remote_settings/client.py
  remote_settings/remote_settings/subcommands/local_server/README.md
  remote_settings/remote_settings/subcommands/local_server/command.py
Due: none

Fix tests
  pipeline/clean/clean-mono.sh
  taskcluster/kinds/corpus-clean-mono/kind.yml
  tests/data/corpus_samples/hplt-eng_Latn_map.txt
  tests/data/corpus_samples/hplt-rus_Cyrl.txt
  tests/fixtures/__init__.py
  tests/fixtures/config.pytest.yml
  tests/test_hplt.py
Due: test, taskgraph-definition, taskgraph-diff

Revert "Update CI config. TODO: revert"
  taskcluster/configs/config.ci.yml
Due: test, taskgraph-definition, taskgraph-diff

Add ICU
  pipeline/clean/requirements/clean-mono.in
  pipeline/clean/requirements/clean-mono.txt
Due: test, taskgraph-definition

Fix downloaders
  pipeline/data/parallel_downloaders.py
Due: test, taskgraph-definition

Fix pyright
  pyproject.toml
  utils/config_generator.py
Due: none

Add tests for zh_hant and fix downloaders
  pipeline/data/parallel_downloaders.py
  tests/data/corpus_samples/en-zh_health.txt.zip
  tests/data/corpus_samples/flores101_dataset.tar.gz
  tests/fixtures/__init__.py
  tests/fixtures/config.pytest.enzh_hant.yml
  tests/test_data_importer.py
Due: test, taskgraph-definition

Fix lang id
  pipeline/clean/clean-mono.sh
  pipeline/clean/opuscleaner/configs/en-zh/default.filters.json
  pipeline/clean/opuscleaner/configs/en-zh/opus_WikiMatrix-v1.filters.json
  pipeline/clean/opuscleaner/configs/en-zh/opus_bible-uedin-v1.filters.json
  pipeline/clean/opuscleaner/configs/zh-en/default.filters.json
  pipeline/clean/opuscleaner/configs/zh-en/opus_WikiMatrix-v1.filters.json
  pipeline/clean/opuscleaner/configs/zh-en/opus_bible-uedin-v1.filters.json
  pipeline/clean/tools/clean_mono.py
  pipeline/clean/tools/langid_fasttext.py
  pipeline/langs/codes.py
  tests/test_clean.py
  tests/test_lang_codes.py
Due: test, taskgraph-definition

Add tests for scripts
  tests/test_lang_codes.py
Due: test

Move flores defaults
  pipeline/data/parallel_downloaders.py
  pipeline/langs/codes.py
  pipeline/langs/maps.py
Due: test, taskgraph-definition

Download lid models with Taskcluster
  pipeline/clean/clean-mono.sh
  pipeline/clean/opuscleaner/clean-parallel.sh
  taskcluster/kinds/corpus-clean-mono/kind.yml
  taskcluster/kinds/corpus-clean-parallel/kind.yml
  taskcluster/kinds/fetch/kind.yml
  taskcluster/kinds/fetch/models.yml
Due: test, taskgraph-definition, taskgraph-diff

Predownload models
  pipeline/clean/clean-mono.sh
  pipeline/clean/opuscleaner/clean-parallel.sh
Due: test, taskgraph-definition

Cleaning fixes
  pipeline/bicleaner/bicleaner.sh
  pipeline/bicleaner/download_pack.py
  pipeline/clean/opuscleaner/configs/en-zh_hant/default.filters.json
  pipeline/langs/codes.py
  pipeline/langs/maps.py
  tests/test_clean.py
  tests/test_lang_codes.py
  utils/config_generator.py
Due: test, taskgraph-definition

WIP: Test Remote Settings in CI
  taskcluster/config.yml
  taskcluster/kinds/tests/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Include final evals in the main pipeline
  pipeline/eval/final_eval.py
  taskcluster/kinds/all-pipeline/kind.yml
  taskcluster/kinds/final-eval-lang/kind.yml
  taskcluster/kinds/upload-final-eval-lang/kind.yml
  taskcluster/translations_taskgraph/util/verifications.py
Due: test, taskgraph-definition, taskgraph-diff

Path conditions:
  test: any of: pipeline/**, tests/**, tracking/**, taskcluster/**, poetry.*, Taskfile.yml
  taskgraph-definition: any of: pipeline/**, taskcluster/**
  taskgraph-diff: any of: taskcluster/**
