Repository mozilla/translations: changes, and which Taskcluster tasks are due for each by the changed paths.
All: test, taskgraph-definition, taskgraph-diff

Path conditions:
  test: any of: pipeline/**, tests/**, tracking/**, taskcluster/**, poetry.*, Taskfile.yml
  taskgraph-definition: any of: pipeline/**, taskcluster/**
  taskgraph-diff: any of: taskcluster/**

Fix flores
  pipeline/data/parallel_downloaders.py
Due: test, taskgraph-definition

Update configs
  configs/cjk/zh-hant-en-cjk.yml
  taskcluster/configs/config.ci.yml
Due: test, taskgraph-definition, taskgraph-diff

Switch pontoon to zh-tw
  pipeline/data/pontoon.py
Due: test, taskgraph-definition

Update configs
  configs/autogenerated/zh-en_zh_hant.yml
  taskcluster/configs/config.ci.yml
Due: test, taskgraph-definition, taskgraph-diff

Add ntrex
  configs/cjk/zh-hant-en-cjk.yml
  pipeline/data/parallel_downloaders.py
  taskcluster/configs/config.ci.yml
  taskcluster/kinds/dataset/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Update config
  configs/cjk/zh-hant-en-cjk.yml
Due: none

Add llm to metrics
  pipeline/eval/final_eval.py
  pipeline/eval/llm.py
  pipeline/eval/metrics.py
  taskcluster/docker/eval/final_eval.in
  taskcluster/docker/eval/final_eval.txt
Due: test, taskgraph-definition, taskgraph-diff

Update model registry periodically (#1285)
  .cron.yml
  db/README.md
  db/models.py
  db/requirements/requirements.in
  db/requirements/requirements.txt
  db/sql.py
  db/updater.py
  site/model-registry/model-registry.mjs
  taskcluster/kinds/update-db/kind.yml
  taskcluster/kinds/upload-db/kind.yml
  taskcluster/translations_taskgraph/target_tasks.py
  utils/model_registry.py
Due: test, taskgraph-definition, taskgraph-diff

switch to beetmover dev workers
  taskcluster/config.yml
  taskcluster/kinds/upload-db/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

allow overwrites in update db
  taskcluster/kinds/upload-db/kind.yml
  taskcluster/translations_taskgraph/worker_types.py
  uv.lock
Due: test, taskgraph-definition, taskgraph-diff

Fix llm scores
  pipeline/eval/metrics.py
Due: test, taskgraph-definition

Use flat file structure
  pipeline/eval/final_eval.py
Due: test, taskgraph-definition

Add cleaning and argument validation
  pipeline/eval/final_eval.py
Due: test, taskgraph-definition

Disable argos logger
  pipeline/eval/final_eval.py
Due: test, taskgraph-definition

Fix flores eval for uploaded models
  db/updater.py
Due: none

Fix flores eval for uploaded models (#1293)
  db/updater.py
Due: none

Read secrets
  pipeline/eval/metrics.py
  taskcluster/kinds/final-eval/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Read secrets
  pipeline/eval/final_eval.py
Due: test, taskgraph-definition

Fix init
  pipeline/eval/final_eval.py
Due: test, taskgraph-definition

Clean kind
  taskcluster/kinds/upload-final-eval/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Update default config
  taskcluster/configs/eval.yml
Due: test, taskgraph-definition, taskgraph-diff

Add toolz
  pipeline/eval/requirements/eval.in
  pipeline/eval/requirements/eval.txt
Due: test, taskgraph-definition

Make scores backward compatible
  pipeline/eval/eval.py
  pipeline/eval/final_eval.py
  pipeline/eval/metrics.py
  tests/test_eval.py
Due: test, taskgraph-definition

Fix action trigger
  Taskfile.yml
  utils/trigger_eval.py
Due: test

Update docs
  docs/training/final-evaluations.md
Due: none

Update todos
  pipeline/eval/final_eval.py
  pipeline/eval/metrics.py
  pipeline/eval/translators.py
  taskcluster/kinds/final-eval/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Update todos
  taskcluster/docker/eval/final_eval.in
Due: test, taskgraph-definition, taskgraph-diff

Update readme
  docs/training/final-evaluations.md
Due: none

Use openlid model
  pipeline/clean/clean-mono.sh
  pipeline/clean/opuscleaner/clean-parallel.sh
  pipeline/clean/opuscleaner/configs/en-zh/default.filters.json
  pipeline/clean/opuscleaner/configs/en-zh/opus_WikiMatrix-v1.filters.json
  pipeline/clean/opuscleaner/configs/en-zh/opus_bible-uedin-v1.filters.json
  pipeline/clean/opuscleaner/configs/zh-en/default.filters.json
  pipeline/clean/opuscleaner/configs/zh-en/opus_WikiMatrix-v1.filters.json
  pipeline/clean/opuscleaner/configs/zh-en/opus_bible-uedin-v1.filters.json
  pipeline/clean/tools/langid_fasttext.py
Due: test, taskgraph-definition

Fix mono clean lang
  pipeline/clean/tools/langid_fasttext.py
Due: test, taskgraph-definition

Use explicit language codes
  configs/cjk/zh-hant-en-cjk.yml
  pipeline/clean/opuscleaner/configs/en-zh/default.filters.json
  pipeline/clean/opuscleaner/configs/en-zh/opus_WikiMatrix-v1.filters.json
  pipeline/clean/opuscleaner/configs/en-zh/opus_bible-uedin-v1.filters.json
  pipeline/clean/opuscleaner/configs/zh-en/default.filters.json
  pipeline/clean/opuscleaner/configs/zh-en/opus_WikiMatrix-v1.filters.json
  pipeline/clean/opuscleaner/configs/zh-en/opus_bible-uedin-v1.filters.json
Due: test, taskgraph-definition

Update fasttext
  pipeline/clean/requirements/clean-mono.in
  pipeline/clean/requirements/clean-mono.txt
Due: test, taskgraph-definition

Rely on langid
  pipeline/data/hplt.py
Due: test, taskgraph-definition

Increase max length
  pipeline/clean/opuscleaner/configs/en-zh/default.filters.json
  pipeline/clean/opuscleaner/configs/en-zh/opus_WikiMatrix-v1.filters.json
  pipeline/clean/opuscleaner/configs/en-zh/opus_bible-uedin-v1.filters.json
  pipeline/clean/opuscleaner/configs/zh-en/default.filters.json
  pipeline/clean/opuscleaner/configs/zh-en/opus_WikiMatrix-v1.filters.json
  pipeline/clean/opuscleaner/configs/zh-en/opus_bible-uedin-v1.filters.json
  pipeline/clean/tools/clean_mono.py
Due: test, taskgraph-definition

Fix en
  pipeline/clean/tools/langid_fasttext.py
Due: test, taskgraph-definition

feat: allow overwrites in update db task
  taskcluster/kinds/upload-db/kind.yml
  taskcluster/translations_taskgraph/worker_types.py
Due: test, taskgraph-definition, taskgraph-diff

feat: allow overwrites in update db task (#1292)
  taskcluster/kinds/upload-db/kind.yml
  taskcluster/translations_taskgraph/worker_types.py
Due: test, taskgraph-definition, taskgraph-diff

Add en-hu
  configs/fix_parantheses/en-hu.yml
Due: none

Fix conifg
  configs/fix_parantheses/en-hu.yml
Due: none
