Repository mozilla/translations: changes, and which Taskcluster tasks are due for each by the changed paths.
All: test, taskgraph-definition, taskgraph-diff

Path conditions:
  test: any of: pipeline/**, tests/**, tracking/**, taskcluster/**, poetry.*, Taskfile.yml
  taskgraph-definition: any of: pipeline/**, taskcluster/**
  taskgraph-diff: any of: taskcluster/**

Add spBLEU and update docs
  docs/training/final-evaluations.md
  pipeline/eval/final_eval.py
  pipeline/eval/metrics.py
  taskcluster/configs/eval.yml
Due: test, taskgraph-definition, taskgraph-diff

Add final evals UI
  db/models.py
  db/sql.py
  db/updater.py
  docs/training/final-evaluations.md
  site/final-evals/final-evals.css
  site/final-evals/final-evals.mjs
  site/final-evals/index.html
  site/index.html
Due: none

Add robots.txt
  site/robots.txt
Due: none

Do not save restricted datasets
  pipeline/eval/eval_datasets.py
  pipeline/eval/final_eval.py
Due: test, taskgraph-definition

Allow overwrites for the final evals
  taskcluster/kinds/upload-final-eval/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Migration of final evaluation (#1284)
  Taskfile.yml
  docs/training/final-evaluations.md
  inference/CMakeLists.txt
  inference/src/app/CMakeLists.txt
  inference/src/app/translator_cli.cpp
  pipeline/eval/eval.py
  pipeline/eval/eval_datasets.py
  pipeline/eval/final_eval.py
  pipeline/eval/langs.py
  pipeline/eval/llm.py
  pipeline/eval/metrics.py
  pipeline/eval/metricx.py
  pipeline/eval/requirements/eval.in
  pipeline/eval/requirements/eval.txt
  pipeline/eval/requirements/llm.in
  pipeline/eval/requirements/llm.txt
  pipeline/eval/translators.py
  taskcluster/configs/eval.yml
  taskcluster/docker/eval/Dockerfile
  taskcluster/docker/eval/final_eval.in
  taskcluster/docker/eval/final_eval.txt
  taskcluster/kinds/compile/kind.yml
  taskcluster/kinds/docker-image/kind.yml
  taskcluster/kinds/final-eval/kind.yml
  taskcluster/kinds/upload-final-eval/kind.yml
  taskcluster/translations_taskgraph/actions/evaluate.py
  tests/test_eval.py
  utils/trigger_eval.py
Due: test, taskgraph-definition, taskgraph-diff

Use new google scores for comparison in the model registry
  db/sql.py
  db/updater.py
  site/model-registry/index.html
  site/model-registry/model-registry.css
  site/model-registry/model-registry.mjs
Due: none

Use new final evals in db
  db/models.py
  db/sql.py
  db/updater.py
Due: none

Update UI
  site/final-evals/final-evals.css
  site/final-evals/final-evals.mjs
  site/final-evals/index.html
  site/index.html
  site/model-registry/index.html
  site/model-registry/model-registry.css
  site/model-registry/model-registry.mjs
  site/robots.txt
Due: none

Update docs
  docs/training/final-evaluations.md
Due: none

hack: hardcode decision task id.
  utils/trigger_training.py
  uv.lock
Due: none

Reduce alignment chunk size
  pipeline/alignments/align.py
Due: test, taskgraph-definition

Update config
  configs/cjk/zh-hant-en-cjk.yml
Due: none

Fix listing GCS evals
  db/updater.py
Due: none

Add OPUS zh_TW datasets
  configs/cjk/zh-hant-en-cjk.yml
Due: none

Multiply COMET by 100
  site/final-evals/final-evals.mjs
Due: none

Fix model registry UI
  site/model-registry/index.html
  site/model-registry/model-registry.css
  site/model-registry/model-registry.mjs
Due: none

Minor fixes in final evals UI
  site/final-evals/final-evals.mjs
Due: none

Use new final evals in UI (#1306)
  db/models.py
  db/sql.py
  db/updater.py
  docs/training/final-evaluations.md
  site/final-evals/final-evals.css
  site/final-evals/final-evals.mjs
  site/final-evals/index.html
  site/index.html
  site/model-registry/index.html
  site/model-registry/model-registry.css
  site/model-registry/model-registry.mjs
  site/robots.txt
Due: none

Add a separate config to run all evals
  taskcluster/configs/eval.all.yml
Due: test, taskgraph-definition, taskgraph-diff

Set argos env before import
  pipeline/eval/translators.py
Due: test, taskgraph-definition

Fix flores language mapping
  pipeline/eval/langs.py
Due: test, taskgraph-definition

Fix default values
  pipeline/eval/final_eval.py
Due: test, taskgraph-definition

Run linter
  pipeline/eval/final_eval.py
Due: test, taskgraph-definition

Add retries for microsoft
  pipeline/eval/translators.py
Due: test, taskgraph-definition

Fix nllb code mapping
  pipeline/eval/langs.py
  pipeline/eval/translators.py
Due: test, taskgraph-definition

Use standard instance
  taskcluster/configs/eval.all.yml
Due: test, taskgraph-definition, taskgraph-diff

Fix GCS read path
  pipeline/eval/final_eval.py
Due: test, taskgraph-definition

Decrease API batch size
  pipeline/eval/translators.py
Due: test, taskgraph-definition

Fix dataset loading
  pipeline/eval/final_eval.py
Due: test, taskgraph-definition

Symmetrize aln in chunks
  pipeline/alignments/align.py
Due: test, taskgraph-definition

Fix configs
  configs/cjk/zh-hant-en-cjk.yml
  taskcluster/configs/config.ci.yml
Due: test, taskgraph-definition, taskgraph-diff

Save model metadata on export
  pipeline/quantize/save_metadata.py
  taskcluster/kinds/export/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add model metadata and release status
  db/models.py
  db/sql.py
  db/updater.py
Due: none

Remove old ui
  site/llm-evals/index.html
  site/llm-evals/llm-evals.css
  site/llm-evals/llm-evals.mjs
  site/llm-evals/llm-evals.ts
  site/llm-evals/terminology.mjs
Due: none

Add release labels to evals
  site/final-evals/final-evals.css
  site/final-evals/final-evals.mjs
  site/final-evals/index.html
Due: none

Add release labels to model registry
  site/model-registry/index.html
  site/model-registry/model-registry.css
  site/model-registry/model-registry.mjs
Due: none

Sort by comet
  site/final-evals/final-evals.mjs
Due: none

Update firefox models UI to use db
  site/firefox-models/models.mjs
Due: none

Fix multiple models per language
  site/firefox-models/models.mjs
Due: none
