Repository mozilla/translations: changes, and which Taskcluster tasks are due for each by the changed paths.
All: test, taskgraph-definition, taskgraph-diff

test:
  worker-type: b-cpu
  worker:
    max-run-time: 3600
    docker-image:
      in-tree: test
  run:
    command:
    - bash
    - -c
    - export BIN=$MOZ_FETCHES_DIR && export MARIAN=$MOZ_FETCHES_DIR && task test
  run-on-tasks-for:
  - github-push
  - github-pull-request
  fetches:
    toolchain:
    - fast-align
    - extract-lex
  ...

taskgraph-definition:
  worker-type: b-cpu
  worker:
    docker-image:
      in-tree: test
    max-run-time: 3600
  description: Test the full `translations_taskgraph` to validate the latest changes
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command: task taskgraph-validate

taskgraph-diff:
  worker-type: b-cpu
  worker:
    docker-image:
      in-tree: test
    max-run-time: 1200
  description: Create diffs of taskgraphs vs. base revision.
  run-on-tasks-for:
  - github-pull-request
  run:
    command: task taskgraph-diff BASE_REV={base_rev} OUTPUT_FILE=$TASK_WORKDIR/artifacts/taskgraph.diff

feat: automatically upload artifacts from pipeline tasks
  taskcluster/kinds/all-pipeline/kind.yml
  taskcluster/kinds/all-pr-pipeline/kind.yml
  taskcluster/kinds/beetmover/kind.yml
  taskcluster/translations_taskgraph/transforms/beetmover.py
Due: test, taskgraph-definition, taskgraph-diff

feat: upload experiment config
  taskcluster/kinds/all-pipeline/kind.yml
  taskcluster/kinds/all-pr-pipeline/kind.yml
  taskcluster/kinds/beetmover-experiment-config/kind.yml
  taskcluster/translations_taskgraph/transforms/beetmover_experiment_config.py
Due: test, taskgraph-definition, taskgraph-diff

temp: use dev beetmover workers.
  taskcluster/config.yml
Due: test, taskgraph-definition, taskgraph-diff

enable chain of trust on tasks that will be upstream of beetmover
  taskcluster/kinds/backtranslations-mono-trg-chunk/kind.yml
  taskcluster/kinds/backtranslations-mono-trg-dechunk-translations/kind.yml
  taskcluster/kinds/backtranslations-mono-trg-translate/kind.yml
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/build-vocab/kind.yml
  taskcluster/kinds/corpus-align-backtranslations/kind.yml
  taskcluster/kinds/corpus-align-distillation/kind.yml
  taskcluster/kinds/corpus-align-parallel/kind.yml
  taskcluster/kinds/corpus-analyze-mono/kind.yml
  taskcluster/kinds/corpus-analyze-parallel/kind.yml
  taskcluster/kinds/corpus-clean-mono/kind.yml
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
  taskcluster/kinds/corpus-clean-parallel-fetch-bicleaner-model/kind.yml
  taskcluster/kinds/corpus-clean-parallel/kind.yml
  taskcluster/kinds/corpus-merge-devset/kind.yml
  taskcluster/kinds/corpus-merge-distillation/kind.yml
  taskcluster/kinds/corpus-merge-mono/kind.yml
  taskcluster/kinds/corpus-merge-parallel/kind.yml
  taskcluster/kinds/dataset/kind.yml
  taskcluster/kinds/distillation-corpus-build-shortlist/kind.yml
  taskcluster/kinds/distillation-corpus-final-filtering/kind.yml
  taskcluster/kinds/distillation-mono-src-chunk/kind.yml
  taskcluster/kinds/distillation-mono-src-dechunk-translations/kind.yml
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-chunk/kind.yml
  taskcluster/kinds/distillation-parallel-src-dechunk-translations/kind.yml
  taskcluster/kinds/distillation-parallel-src-extract-best/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translations-score/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-quantize/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/export/kind.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

fix: chain of trust should influence cache digest
  taskcluster/translations_taskgraph/transforms/cached_tasks.py
Due: test, taskgraph-definition, taskgraph-diff

feat: add `upload-bucket` to training config
  taskcluster/configs/config.ci.yml
  taskcluster/configs/config.prod.yml
  taskcluster/test/params/large-lt-en.yml
  taskcluster/test/params/small-ru-en.yml
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
  tests/fixtures/config.pytest.enzh.yml
  tests/fixtures/config.pytest.yml
Due: test, taskgraph-definition, taskgraph-diff

feat: wire in beetmover workers, payload builders, and mozilla-taskgraph
  .taskcluster.yml
  poetry.lock
  pyproject.toml
  taskcluster/config.yml
  taskcluster/requirements.in
  taskcluster/requirements.txt
  taskcluster/translations_taskgraph/__init__.py
  taskcluster/translations_taskgraph/util/dependencies.py
  taskcluster/translations_taskgraph/worker_types.py
Due: test, taskgraph-definition, taskgraph-diff

Get TypeScript to pass
  site/@types/models.d.ts
  site/@types/utils.d.ts
  site/firefox-models/models.mjs
  site/model-registry/model-registry.mjs
  site/package.json
  site/tsconfig.json
  site/utils.mjs
Due: none

Update the Firefox Models
  site/@types/models.d.ts
  site/firefox-models/index.html
  site/firefox-models/models.css
  site/firefox-models/models.mjs
Due: none

Firefox models site refresh (#1148)
  site/@types/models.d.ts
  site/@types/utils.d.ts
  site/firefox-models/index.html
  site/firefox-models/models.css
  site/firefox-models/models.mjs
  site/model-registry/model-registry.mjs
  site/package.json
  site/tsconfig.json
  site/utils.mjs
Due: none

feat: reland new GPU worker images and dockerization (#1131)
  docs/training/task-cluster.md
  pipeline/bicleaner/bicleaner.sh
  pipeline/translate/requirements/translate-ctranslate2.in
  pipeline/translate/requirements/translate-ctranslate2.txt
  taskcluster/config.yml
  taskcluster/kinds/backtranslations-mono-trg-translate/kind.yml
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translations-score/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/fetch/toolchains.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

bump to cuda v12.9.0
  taskcluster/kinds/fetch/toolchains.yml
Due: test, taskgraph-definition, taskgraph-diff

Fix the interpretation of the Desktop-only JEXL filter
  site/firefox-models/models.mjs
Due: none

Fix the release filtering
  site/firefox-models/models.mjs
Due: none

temp: use dev beetmover workers.
  taskcluster/config.yml
  taskcluster/kinds/beetmover/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

fixed an issue around tests-lint-black failing
  tests/data/tests/en-ca-vocab.spm
  tests/task/test_data_importer.py
Due: test

Site firefox models logic fix (#1149)
  site/firefox-models/models.mjs
Due: none

chore(types): Add all new files to be type checked
  pyproject.toml
Due: none

feat(taskcluster): Add a cache version transform
  taskcluster/translations_taskgraph/transforms/cached_tasks.py
Due: test, taskgraph-definition, taskgraph-diff

feat(pipeline): Rewrite the prod config to use the new continuation key
  taskcluster/configs/config.prod.yml
Due: test, taskgraph-definition, taskgraph-diff

fix(types): Add mocked downloads to more download utils in downloads.py
  pipeline/common/downloads.py
Due: test, taskgraph-definition

feat(pipeline): Add pipeline/continuation python scripts and continuation kinds
  pipeline/common/arg_utils.py
  pipeline/continuation/corpus.py
  pipeline/continuation/model.py
  pipeline/continuation/requirements/continuation.in
  pipeline/continuation/requirements/continuation.txt
  pipeline/continuation/vocab.py
  taskcluster/config.yml
  taskcluster/kinds/continuation-corpus/kind.yml
  taskcluster/kinds/continuation-model/kind.yml
  taskcluster/kinds/continuation-vocab/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

fix(pipeline): The datasets can now produce optional values
  taskcluster/translations_taskgraph/target_tasks.py
  taskcluster/translations_taskgraph/transforms/find_upstreams.py
  taskcluster/translations_taskgraph/transforms/from_datasets.py
Due: test, taskgraph-definition, taskgraph-diff

fix(pipeline): Bicleaner is now optional as datasets may not generate a bicleaner step
  taskcluster/translations_taskgraph/transforms/find_upstreams.py
Due: test, taskgraph-definition, taskgraph-diff

feat(pipeline): Add the new continuation configs to taskcluster
  taskcluster/test/test_training_continuation_backwards.py
  taskcluster/test/test_training_continuation_teacher.py
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
Due: test, taskgraph-definition, taskgraph-diff

chore(pipeline): Add the continuation transform and dependencies to the kind.yml files
  taskcluster/kinds/all-pr-pipeline/kind.yml
  taskcluster/kinds/backtranslations-mono-trg-chunk/kind.yml
  taskcluster/kinds/backtranslations-mono-trg-dechunk-translations/kind.yml
  taskcluster/kinds/backtranslations-mono-trg-translate/kind.yml
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/build-vocab/kind.yml
  taskcluster/kinds/corpus-align-backtranslations/kind.yml
  taskcluster/kinds/corpus-align-distillation/kind.yml
  taskcluster/kinds/corpus-align-parallel/kind.yml
  taskcluster/kinds/corpus-analyze-mono/kind.yml
  taskcluster/kinds/corpus-analyze-parallel/kind.yml
  taskcluster/kinds/corpus-clean-mono/kind.yml
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
  taskcluster/kinds/corpus-clean-parallel-fetch-bicleaner-model/kind.yml
  taskcluster/kinds/corpus-clean-parallel/kind.yml
  taskcluster/kinds/corpus-merge-devset/kind.yml
  taskcluster/kinds/corpus-merge-distillation/kind.yml
  taskcluster/kinds/corpus-merge-mono/kind.yml
  taskcluster/kinds/corpus-merge-parallel/kind.yml
  taskcluster/kinds/dataset/kind.yml
  taskcluster/kinds/distillation-corpus-build-shortlist/kind.yml
  taskcluster/kinds/distillation-corpus-final-filtering/kind.yml
  taskcluster/kinds/distillation-mono-src-chunk/kind.yml
  taskcluster/kinds/distillation-mono-src-dechunk-translations/kind.yml
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-chunk/kind.yml
  taskcluster/kinds/distillation-parallel-src-dechunk-translations/kind.yml
  taskcluster/kinds/distillation-parallel-src-extract-best/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translations-score/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-quantize/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/export/kind.yml
  taskcluster/kinds/tests/kind.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

feat(pipeline): Add corpus continuation transform
  taskcluster/translations_taskgraph/transforms/continuation.py
  taskcluster/translations_taskgraph/transforms/training_continuation.py
  taskcluster/translations_taskgraph/util/mocked_downloads.py
  utils/config_generator.py
  utils/trigger_training.py
Due: test, taskgraph-definition, taskgraph-diff

fix(pipeline): Make corpus priors optional as continuation may not have them
  pipeline/alignments/align.py
Due: test, taskgraph-definition

refactor(pipeline): Use the new continuation keys from the training config in the kind.yml from-parameters
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

feat(test): Update the test fixtures to allow dynamic configs and return the resolved tasks
  tests/fixtures/__init__.py
  tests/test_tracking_utils.py
Due: test

docs: Update the docs for corpus continuation
  docs/training/README.md
  docs/training/using-pretrained-models.md
Due: none

test: Add tests for corpus continuation
  pipeline/common/downloads.py
  tests/test_continuation.py
Due: test, taskgraph-definition

feat(site): Add the new continuation configs to the model registry
  site/@types/training-run.d.ts
  site/model-registry/model-registry.mjs
Due: none

Address review comments
  pipeline/alignments/align.py
  pipeline/continuation/model.py
  taskcluster/translations_taskgraph/transforms/continuation.py
Due: test, taskgraph-definition, taskgraph-diff

Fix CI
  taskcluster/translations_taskgraph/transforms/continuation.py
  tests/test_continuation.py
Due: test, taskgraph-definition, taskgraph-diff

Add start task prefix
  docs/training/task-cluster.md
  taskcluster/config.yml
  taskcluster/configs/config.prod.yml
  taskcluster/translations_taskgraph/actions/train.py
  utils/trigger_training.py
Due: test, taskgraph-definition, taskgraph-diff

Format logged tasks
  taskcluster/translations_taskgraph/actions/train.py
Due: test, taskgraph-definition, taskgraph-diff

Path conditions:
  test: any of: pipeline/**, tests/**, tracking/**, taskcluster/**, poetry.*, Taskfile.yml
  taskgraph-definition: any of: pipeline/**, taskcluster/**
  taskgraph-diff: any of: taskcluster/**
