Repository mozilla/translations: changes, and which Taskcluster tasks are due for each by the changed paths.
All: test, taskgraph-definition, taskgraph-diff

test:
  worker-type: b-cpu
  worker:
    max-run-time: 3600
    docker-image:
      in-tree: test
  run:
    command:
    - bash
    - -c
    - export BIN=$MOZ_FETCHES_DIR && export MARIAN=$MOZ_FETCHES_DIR && task test
  run-on-tasks-for:
  - github-push
  - github-pull-request
  fetches:
    toolchain:
    - fast-align
    - extract-lex
  ...

taskgraph-definition:
  worker-type: b-cpu
  worker:
    docker-image:
      in-tree: test
    max-run-time: 3600
  description: Test the full `translations_taskgraph` to validate the latest changes
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command: task taskgraph-validate

taskgraph-diff:
  worker-type: b-cpu
  worker:
    docker-image:
      in-tree: test
    max-run-time: 1200
  description: Create diffs of taskgraphs vs. base revision.
  run-on-tasks-for:
  - github-pull-request
  run:
    command: task taskgraph-diff BASE_REV={base_rev} OUTPUT_FILE=$TASK_WORKDIR/artifacts/taskgraph.diff

scripts: add publish.py — versioned crates.io release with a read-only --dry-run
  inference-rs/PUBLISHING.md
  inference-rs/issues/closed/publish-script.md
  inference-rs/scripts/publish.py
Due: none

fxtranslate-cli: resume interrupted model downloads via HTTP Range
  inference-rs/crates/fxtranslate-cli/src/cache.rs
  inference-rs/crates/fxtranslate-cli/src/fetch.rs
  inference-rs/crates/fxtranslate-cli/tests/common/mod.rs
  inference-rs/crates/fxtranslate-cli/tests/packaging.rs
Due: none

issues: close download-resume — Range resume landed
  inference-rs/issues/closed/fxtranslate-download-resume.md
Due: none

fxtranslate: read embedding rows from packed Wemb, drop the raw int8 double
  inference-rs/crates/fxtranslate/src/engine.rs
  inference-rs/crates/fxtranslate/src/gemm.rs
  inference-rs/crates/fxtranslate/src/gemmology_shim.cpp
  inference-rs/crates/fxtranslate/src/weights.rs
  inference-rs/crates/fxtranslate/tests/wemb_read_row.rs
Due: none

issues: close read-rows-from-packed-b — packed-Wemb row reads landed
  inference-rs/issues/closed/read-rows-from-packed-b.md
Due: none

issues: record resolution notes on the two closed follow-ups
  inference-rs/issues/closed/fxtranslate-download-resume.md
  inference-rs/issues/closed/read-rows-from-packed-b.md
Due: none

ci: run inference-rs checks on GitHub Actions
  .github/workflows/inference-rs.yml
  inference-rs/Taskfile.yml
  inference-rs/scripts/check.py
  inference-rs/scripts/lint_ci.py
Due: none

fxtranslate: wire the x86 AVX2 gemmology kernel + prove SIMD is live
  .github/workflows/inference-rs.yml
  inference-rs/crates/fxtranslate/build.rs
  inference-rs/crates/fxtranslate/src/gemm.rs
  inference-rs/crates/fxtranslate/src/gemmology_shim.cpp
  inference-rs/crates/fxtranslate/tests/gemm_parity.rs
  inference-rs/issues/x86-gemmology-backend.md
Due: none

fxtranslate: validate AVX2 in-regime, document the backend split
  inference-rs/README.md
  inference-rs/crates/fxtranslate/tests/gemm_parity.rs
  inference-rs/gemm-backends.md
Due: none

ci: add portable/scalar leg + probe x86 CPU int8 features
  .github/workflows/inference-rs.yml
  inference-rs/crates/fxtranslate/tests/gemm_parity.rs
Due: none

docs: record per-backend validation status and the VNNI CI gap
  inference-rs/gemm-backends.md
  inference-rs/issues/x86-gemmology-backend.md
Due: none

docs: correct the Firefox/WASM + training-bias analysis in gemm-backends
  inference-rs/gemm-backends.md
Due: none

Add the placeholder README.md files
  inference-rs/crates/fxtranslate-cli/README.md
  inference-rs/crates/fxtranslate/README.md
Due: none

fxtranslate: make model management a library capability, not a CLI-only one
  inference-rs/Cargo.lock
  inference-rs/PUBLISHING.md
  inference-rs/Taskfile.yml
  inference-rs/crates/fxtranslate-cli/Cargo.toml
  inference-rs/crates/fxtranslate-cli/src/cli.rs
  inference-rs/crates/fxtranslate-cli/src/lib.rs
  inference-rs/crates/fxtranslate-cli/src/main.rs
  inference-rs/crates/fxtranslate-cli/src/translate.rs
  inference-rs/crates/fxtranslate-cli/tests/common/mod.rs
  inference-rs/crates/fxtranslate-cli/tests/list.rs
  inference-rs/crates/fxtranslate-cli/tests/translate.rs
  inference-rs/crates/fxtranslate/Cargo.toml
  inference-rs/crates/fxtranslate/README.md
  inference-rs/crates/fxtranslate/src/cache.rs
  inference-rs/crates/fxtranslate/src/fetch.rs
  inference-rs/crates/fxtranslate/src/lang.rs
  inference-rs/crates/fxtranslate/src/lib.rs
  inference-rs/crates/fxtranslate/src/loader.rs
  inference-rs/crates/fxtranslate/src/remote.rs
  inference-rs/crates/fxtranslate/tests/common/mod.rs
  inference-rs/crates/fxtranslate/tests/fixtures/rs-models-v2.json
  inference-rs/crates/fxtranslate/tests/fixtures/tiny.bin.zst
  inference-rs/crates/fxtranslate/tests/packaging.rs
Due: none

fxtranslate: gate memmap2 behind an `mmap` feature, on by default via `fast`
  inference-rs/PUBLISHING.md
  inference-rs/crates/fxtranslate-oracle/Cargo.toml
  inference-rs/crates/fxtranslate/Cargo.toml
  inference-rs/crates/fxtranslate/README.md
  inference-rs/crates/fxtranslate/src/engine.rs
  inference-rs/crates/fxtranslate/src/model.rs
  inference-rs/crates/fxtranslate/src/weights.rs
  inference-rs/crates/fxtranslate/tests/translate.rs
Due: none

fxtranslate: silence unused-mut on `Weights::new` in scalar builds
  inference-rs/crates/fxtranslate/src/weights.rs
Due: none

fxtranslate: ship the MPL-2.0 license text in each crate
  inference-rs/crates/fxtranslate-cli/LICENSE
  inference-rs/crates/fxtranslate-oracle/LICENSE
  inference-rs/crates/fxtranslate/LICENSE
Due: none

fxtranslate-cli: drop the publish guard so it ships to crates.io
  inference-rs/PUBLISHING.md
  inference-rs/crates/fxtranslate-cli/Cargo.toml
  inference-rs/scripts/publish.py
Due: none

Improve the documentation for the fxtranslate crates
  inference-rs/crates/fxtranslate/README.md
Due: none

fxtranslate: complete the crate READMEs and fix stale arch docs
  inference-rs/PUBLISHING.md
  inference-rs/crates/fxtranslate-cli/README.md
  inference-rs/crates/fxtranslate-oracle/Cargo.toml
  inference-rs/crates/fxtranslate-oracle/README.md
  inference-rs/crates/fxtranslate/Cargo.toml
  inference-rs/crates/fxtranslate/README.md
  inference-rs/crates/fxtranslate/src/gemm.rs
  inference-rs/crates/fxtranslate/src/lib.rs
Due: none

Close the issues
  inference-rs/issues/closed/x86-gemmology-backend.md
Due: none

fxtranslate: drop stale issue-tracker links from docs and comments
  inference-rs/PUBLISHING.md
  inference-rs/README.md
  inference-rs/crates/fxtranslate-cli/src/lib.rs
  inference-rs/crates/fxtranslate-oracle/src/main.rs
  inference-rs/crates/fxtranslate/Cargo.toml
  inference-rs/crates/fxtranslate/build.rs
  inference-rs/crates/fxtranslate/src/gemm.rs
  inference-rs/crates/fxtranslate/tests/packaging.rs
  inference-rs/gemm-backends.md
Due: none

inference-rs: refocus the top-level README as an internal dev guide
  inference-rs/README.md
  inference-rs/Taskfile.yml
Due: none

inference-rs: tighten the Taskfile summaries and drop stale refs
  inference-rs/Taskfile.yml
Due: none

inference-rs: retire lint-docs and de-cruft the helper scripts
  .github/workflows/inference-rs.yml
  inference-rs/Taskfile.yml
  inference-rs/scripts/check.py
  inference-rs/scripts/final_comparison.py
  inference-rs/scripts/make_blocks.py
  inference-rs/scripts/perf.py
  inference-rs/scripts/publish.py
  inference-rs/scripts/release_build.py
  inference-rs/scripts/translate.py
Due: none

Prepare for the initial publish
  inference-rs/crates/fxtranslate-cli/Cargo.toml
  inference-rs/crates/fxtranslate/Cargo.toml
  inference-rs/scripts/publish.py
Due: none

fix: update pull request policy to public_restricted
  .taskcluster.yml
Due: none

fix: update pull request policy to public_restricted (#1445)
  .taskcluster.yml
Due: none

Specify input format in Google translator
  pipeline/eval/translators.py
Due: test, taskgraph-definition

Add Python requirements transform
  taskcluster/translations_taskgraph/transforms/python_requirements.py
Due: test, taskgraph-definition, taskgraph-diff

Test Python requirements transform
  taskcluster/test/test_python_requirements.py
Due: test, taskgraph-definition, taskgraph-diff

Use requirements transform in teacher evaluation
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Run tests and linter on untrusted pull requests
  taskcluster/kinds/tests/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Run tests and linter on untrusted pull requests (#1448)
  taskcluster/kinds/tests/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add last iberian configs
  configs/iberian/euen-finetranslations.yml
  configs/iberian/glen-finetranslations.yml
Due: none

Add next26 configs
  configs/next26/en-mr-teacher100.yml
  configs/next26/en-mr.yml
  configs/next26/en-ta.yml
  configs/next26/en-ur.yml
  configs/next26/hindimix-ur-en.yml
  configs/next26/len400-mr-en.yml
  configs/next26/len400-ta-en.yml
  configs/next26/len400-ur-en.yml
  configs/next26/lowerbc-mr-en.yml
  configs/next26/lowerbc-ur-en.yml
  configs/next26/mr-en.yml
  configs/next26/nobcbpcc-mr-en.yml
  configs/next26/nobcbpcc-nosangraha-mr-en.yml
  configs/next26/nobcbpcc-nosangraha-ta-en.yml
  configs/next26/nobcbpcc-nosangraha-ur-en.yml
  configs/next26/nobcbpcc-ta-en.yml
  configs/next26/nobcbpcc-ur-en.yml
  configs/next26/ta-en.yml
  configs/next26/ur-en.yml
Due: none

Restore streaming mode for monolingual HF datasets and skip HF token on tests
  pipeline/common/downloads.py
  pipeline/data/mono_importer.py
  pipeline/data/parallel_downloaders.py
Due: test, taskgraph-definition

Restore streaming for monolingual datasets
  pipeline/data/mono_importer.py
Due: test, taskgraph-definition

Path conditions:
  test: any of: pipeline/**, tests/**, tracking/**, taskcluster/**, poetry.*, Taskfile.yml
  taskgraph-definition: any of: pipeline/**, taskcluster/**
  taskgraph-diff: any of: taskcluster/**
