Repository mozilla/translations: changes, and which Taskcluster tasks are due for each by the changed paths.
All: test, taskgraph-definition, taskgraph-diff

Path conditions:
  test: any of: pipeline/**, tests/**, tracking/**, taskcluster/**, poetry.*, Taskfile.yml
  taskgraph-definition: any of: pipeline/**, taskcluster/**
  taskgraph-diff: any of: taskcluster/**

Skip unaligned ratio for all eval tests but one
  tests/test_eval.py
Due: test

Do not remove evals
  taskcluster/translations_taskgraph/transforms/training_continuation.py
Due: test, taskgraph-definition, taskgraph-diff

Use python downloader
  taskcluster/kinds/distillation-student-model-train/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Fix command
  taskcluster/kinds/distillation-student-model-train/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Upload docmt-vocab training configs
  configs/docmt-vocab/en-is.yml
  configs/docmt-vocab/en-ja.yml
  configs/docmt-vocab/en-uk.yml
  configs/docmt-vocab/is-en.yml
Due: none

Limit the monolingual data in the prod config (#1170)
  taskcluster/configs/config.prod.yml
Due: test, taskgraph-definition, taskgraph-diff

Add documentation for the extract_stats.py file
  pipeline/quantize/extract_stats.py
Due: test, taskgraph-definition

Build the marian-fork for use in the pipeline
  taskcluster/config.yml
  taskcluster/kinds/compile/kind.yml
  taskcluster/kinds/distillation-student-model-quantize/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/export/kind.yml
  taskcluster/kinds/fetch/toolchains.yml
  taskcluster/kinds/inference/kind.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/translations_taskgraph/transforms/cached_tasks.py
Due: test, taskgraph-definition, taskgraph-diff

Add the extract_stats script
  pipeline/quantize/extract_stats.py
  pipeline/quantize/quantize.sh
  taskcluster/kinds/distillation-student-model-quantize/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add a note about the hash_paths bug
  taskcluster/kinds/compile/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add finetuning configs
  configs/llmaat/en-ru-finetune.yml
  configs/llmaat/en-zh-finetune.yml
Due: none

Build the marian-fork for use in the pipeline (#1195)
  pipeline/quantize/extract_stats.py
  pipeline/quantize/quantize.sh
  taskcluster/config.yml
  taskcluster/kinds/compile/kind.yml
  taskcluster/kinds/distillation-student-model-quantize/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/export/kind.yml
  taskcluster/kinds/fetch/toolchains.yml
  taskcluster/kinds/inference/kind.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/translations_taskgraph/transforms/cached_tasks.py
Due: test, taskgraph-definition, taskgraph-diff

Extract corpus sampling
  pipeline/clean/merge-parallel.py
  pipeline/common/datasets.py
Due: test, taskgraph-definition

Always calculate priors on a sample first
  pipeline/alignments/align.py
  pipeline/alignments/tokenizer.py
Due: test, taskgraph-definition

Parallelize aligning
  pipeline/alignments/align.py
Due: test, taskgraph-definition

Add psutil
  pipeline/alignments/requirements/alignments.in
  pipeline/alignments/requirements/alignments.txt
Due: test, taskgraph-definition

Fix pylint errors
  pipeline/alignments/align.py
  tests/test_tokenizer.py
Due: test, taskgraph-definition

Increase disk and add comments
  experiments/llmaat/flows/llm_eval_flow.py
  experiments/llmaat/flows/llm_run_flow.py
Due: none

Reduce number of workers
  pipeline/alignments/align.py
Due: test, taskgraph-definition

Update config
  configs/retrain_high_res_2025/de-en-retrain_hr.yml
Due: none

Add redistillation configs
  configs/redistill/ar-en.yml
  configs/redistill/en-ar.yml
  configs/redistill/en-ru-retrain_base-memory.yml
Due: none

Fix OpusCleaner server
  Taskfile.yml
  poetry.lock
  pyproject.toml
Due: test

Remove old dataset fixing scripts
  pipeline/clean/clean-mono.sh
  pipeline/clean/fixes/detok.sh
  pipeline/clean/fixes/mtdata_JW300.mt.sh
  pipeline/clean/fixes/mtdata_JW300.sh
  pipeline/clean/fixes/mtdata_OPUS_DOGC_v2.ca.sh
  pipeline/clean/fixes/mtdata_OPUS_DOGC_v2.es.sh
  pipeline/clean/fixes/mtdata_OPUS_DOGC_v2.sh
  pipeline/clean/fixes/mtdata_OPUS_ECB_v1.sh
  pipeline/clean/fixes/mtdata_OPUS_SETIMES_v2.sh
  pipeline/clean/fixes/mtdata_OPUS_UNPC_v1_0.en.sh
  pipeline/clean/fixes/mtdata_OPUS_UNPC_v1_0.fr.sh
  pipeline/clean/fixes/mtdata_neulab_tedtalksv1_train.ro.sh
  pipeline/clean/fixes/mtdata_neulab_tedtalksv1_train.sh
  taskcluster/kinds/corpus-clean-mono/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add dataset specific OpusCleaner filters
  pipeline/clean/opuscleaner/configs/en-fr/opus_UNPC-v1.0.filters.json
  pipeline/clean/opuscleaner/configs/fr-en/opus_UNPC-v1.0.filters.json
  pipeline/clean/opuscleaner/configs/opus_ECB-v1.filters.json
  pipeline/clean/opuscleaner/configs/opus_NeuLab-TedTalks-v1.filters.json
  pipeline/clean/opuscleaner/configs/opus_SETIMES-v2.filters.json
  pipeline/clean/opuscleaner/configs/opus_UNPC-v1.0.filters.json
  taskcluster/kinds/corpus-clean-parallel/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add more filters
  pipeline/clean/opuscleaner/configs/en-pt/opus_JRC-Acquis-v3.0.filters.json
  pipeline/clean/opuscleaner/configs/en-zh/opus_WikiMatrix-v1.filters.json
  pipeline/clean/opuscleaner/configs/en-zh/opus_bible-uedin-v1.filters.json
  pipeline/clean/opuscleaner/configs/opus_ECB-v1.filters.json
  pipeline/clean/opuscleaner/configs/opus_EUconst-v1.filters.json
  pipeline/clean/opuscleaner/configs/opus_Wikipedia-v1.0.filters.json
  pipeline/clean/opuscleaner/configs/opus_wikimedia-v20230407.json
  pipeline/clean/opuscleaner/configs/pt-en/opus_JRC-Acquis-v3.0.filters.json
  pipeline/clean/opuscleaner/configs/zh-en/opus_WikiMatrix-v1.filters.json
  pipeline/clean/opuscleaner/configs/zh-en/opus_bible-uedin-v1.filters.json
  taskcluster/kinds/corpus-clean-parallel/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Parallelize aligning (#1224)
  pipeline/alignments/align.py
  pipeline/alignments/requirements/alignments.in
  pipeline/alignments/requirements/alignments.txt
  pipeline/alignments/tokenizer.py
  pipeline/clean/merge-parallel.py
  pipeline/common/datasets.py
  tests/test_tokenizer.py
Due: test, taskgraph-definition

Add redistillation configs (#1227)
  configs/redistill/ar-en.yml
  configs/redistill/en-ar.yml
  configs/redistill/en-ru-retrain_base-memory.yml
Due: none

Improvements for LLM dataset generation (#1206)
  experiments/llmaat/README.md
  experiments/llmaat/flows/configs/config.vllm.greedy.json
  experiments/llmaat/flows/configs/config.vllm.qe-rerank.json
  experiments/llmaat/flows/configs/config.vllm.sample.json
  experiments/llmaat/flows/evals.py
  experiments/llmaat/flows/llm_eval_flow.py
  experiments/llmaat/flows/llm_run_flow.py
  experiments/llmaat/flows/llm_runner.py
Due: none

Move to experiment folder
  configs/retrain_hr/de-en-retrain_hr.yml
Due: none

Add high resource configs
  configs/retrain_hr/bg-en.yml
  configs/retrain_hr/cs-en.yml
  configs/retrain_hr/de-en.yml
  configs/retrain_hr/es-en.yml
  configs/retrain_hr/et-en.yml
  configs/retrain_hr/fi-en.yml
  configs/retrain_hr/fr-en.yml
  configs/retrain_hr/it-en.yml
  configs/retrain_hr/nl-en.yml
  configs/retrain_hr/pl-en.yml
  configs/retrain_hr/pt-en.yml
Due: none

Enable debug logging
  taskcluster/translations_taskgraph/actions/train.py
Due: test, taskgraph-definition, taskgraph-diff

Bump max action run time
  .taskcluster.yml
Due: none

Update configs
  configs/retrain_hr/cs-en.yml
  configs/retrain_hr/de-en.yml
  configs/retrain_hr/es-en.yml
  configs/retrain_hr/et-en.yml
  configs/retrain_hr/fr-en.yml
  configs/retrain_hr/it-en.yml
  configs/retrain_hr/pl-en.yml
  configs/retrain_hr/pt-en.yml
Due: none

Download model in "use" mode
  taskcluster/kinds/distillation-student-model-train/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Fix condition
  taskcluster/kinds/distillation-student-model-train/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Fix merging
  pipeline/clean/merge-parallel.py
Due: test, taskgraph-definition
