Repository mozilla/translations: changes, and which Taskcluster tasks are due for each by the changed paths.
All: test, taskgraph-definition, taskgraph-diff

Path conditions:
  test: any of: pipeline/**, tests/**, tracking/**, taskcluster/**, poetry.*, Taskfile.yml
  taskgraph-definition: any of: pipeline/**, taskcluster/**
  taskgraph-diff: any of: taskcluster/**

Fix output parsing
  experiments/llmaat/flows/llm_runner.py
Due: none

chore: bump to latest PyICU version (#1208)
  pipeline/alignments/requirements/alignments.in
  pipeline/alignments/requirements/alignments.txt
  pipeline/clean/requirements/clean-parallel.in
  pipeline/clean/requirements/clean-parallel.txt
  pipeline/data/requirements/data.in
  pipeline/data/requirements/data.txt
  pipeline/train/requirements/train.in
  pipeline/train/requirements/train.txt
  poetry.lock
  pyproject.toml
Due: test, taskgraph-definition

fix: handle multidigit chunks correctly in upload artifacts transform
  taskcluster/translations_taskgraph/transforms/upload_artifacts.py
Due: test, taskgraph-definition, taskgraph-diff

fix: handle multidigit chunks correctly in upload artifacts transform (#1211)
  taskcluster/translations_taskgraph/transforms/upload_artifacts.py
Due: test, taskgraph-definition, taskgraph-diff

feat: skeleton for evaluation action / task
  taskcluster/configs/eval.yml
  taskcluster/kinds/final-eval/kind.yml
  taskcluster/kinds/upload-final-eval/kind.yml
  taskcluster/translations_taskgraph/__init__.py
  taskcluster/translations_taskgraph/actions/evaluate.py
  taskcluster/translations_taskgraph/target_tasks.py
Due: test, taskgraph-definition, taskgraph-diff

Add continuation for student
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/test/test_training_continuation_student.py
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
Due: test, taskgraph-definition, taskgraph-diff

Fix params
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Fix test params
  taskcluster/configs/config.ci.yml
  taskcluster/test/test_training_continuation_backwards.py
  taskcluster/test/test_training_continuation_teacher.py
Due: test, taskgraph-definition, taskgraph-diff

Fix bicleaner test
  taskcluster/test/test_cleaning_params.py
Due: test, taskgraph-definition, taskgraph-diff

Fix Taskcluster tests to CI
  taskcluster/kinds/tests/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Install deps
  Taskfile.yml
Due: test

Evaluation of short sentences with unaligned-ratio metric
  pipeline/eval/eval.py
  pipeline/eval/requirements/eval.in
  pipeline/eval/requirements/eval.txt
  tests/test_eval.py
Due: test, taskgraph-definition

Remove unused import
  pipeline/eval/eval.py
Due: test, taskgraph-definition

Add a pipeline step to do LLM evaluation
  pipeline/eval/eval-batch-instructions.md
  pipeline/eval/eval-final-summary.md
  pipeline/eval/llm.py
  pipeline/eval/requirements/llm.in
  pipeline/eval/requirements/llm.txt
Due: test, taskgraph-definition

Add an llm-evals visualization to the site
  site/@types/utils.d.ts
  site/llm-evals/index.html
  site/llm-evals/llm-evals.css
  site/llm-evals/llm-evals.mjs
  site/llm-evals/llm-evals.ts
  site/llm-evals/terminology.mjs
  site/utils.mjs
Due: none

Remove the --mini and --max_count that made testing things fast
  taskcluster/kinds/final-eval/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add a test for the llm eval, note that it requires the openai key to be set to run, so is normally skipped
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/target_tasks.py
  tests/fixtures/__init__.py
  tests/test_config_validation.py
  tests/test_final_eval.py
  utils/preflight_check.py
Due: test, taskgraph-definition, taskgraph-diff

Add docs for final evaluations
  docs/training/final-evaluations.md
Due: none

Hook up the eval code to taskcluster and add a way to trigger it
  Taskfile.yml
  taskcluster/configs/eval.yml
  taskcluster/kinds/final-eval/kind.yml
  taskcluster/kinds/upload-final-eval/kind.yml
  taskcluster/translations_taskgraph/actions/evaluate.py
  utils/trigger_eval.py
  utils/trigger_training.py
Due: test, taskgraph-definition, taskgraph-diff

Add pontoon test set for short sentences evaluation to de CI
  taskcluster/configs/config.ci.yml
Due: test, taskgraph-definition, taskgraph-diff

Fix naming issue
  taskcluster/translations_taskgraph/transforms/training_continuation.py
Due: test, taskgraph-definition, taskgraph-diff

Revert "feat: reland new GPU worker images and dockerization (#1154)"
  pipeline/bicleaner/bicleaner.sh
  taskcluster/config.yml
  taskcluster/kinds/backtranslations-mono-trg-translate/kind.yml
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translations-score/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/fetch/toolchains.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Fix init mode and tests
  taskcluster/test/test_training_continuation_backwards.py
  taskcluster/translations_taskgraph/transforms/training_continuation.py
Due: test, taskgraph-definition, taskgraph-diff

Remove build vocab
  taskcluster/translations_taskgraph/transforms/training_continuation.py
Due: test, taskgraph-definition, taskgraph-diff

Revert "chore: bump to latest PyICU version (#1208)"
  pipeline/alignments/requirements/alignments.in
  pipeline/alignments/requirements/alignments.txt
  pipeline/clean/requirements/clean-parallel.in
  pipeline/clean/requirements/clean-parallel.txt
  pipeline/data/requirements/data.in
  pipeline/data/requirements/data.txt
  pipeline/train/requirements/train.in
  pipeline/train/requirements/train.txt
  poetry.lock
  pyproject.toml
Due: test, taskgraph-definition

Finetune student
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/scripts/pipeline/train-taskcluster.sh
Due: test, taskgraph-definition, taskgraph-diff

Add student to schema
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
Due: test, taskgraph-definition, taskgraph-diff

Download vocabs
  taskcluster/kinds/distillation-student-model-train/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Fix variables
  taskcluster/kinds/distillation-student-model-train/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add TMX dataset provider kind
  taskcluster/kinds/dataset/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

linting
  pipeline/common/downloads.py
  pipeline/data/parallel_downloaders.py
  pipeline/data/parallel_importer.py
Due: test, taskgraph-definition

Add PyIcu to requirements
  pipeline/eval/requirements/eval.in
  pipeline/eval/requirements/eval.txt
Due: test, taskgraph-definition

Convert iterator to list to match type hints
  pipeline/data/parallel_importer.py
Due: test, taskgraph-definition

Print dataset name in TMX importer
  pipeline/data/parallel_downloaders.py
Due: test, taskgraph-definition

Add sep and misc user defined symbols to the vocab
  pipeline/train/spm-vocab.sh
Due: test, taskgraph-definition

Make wget less verbose
  taskcluster/kinds/distillation-student-model-train/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Fix wrong alignment indexes were being taken
  pipeline/eval/eval.py
Due: test, taskgraph-definition
