Repository mozilla/translations: changes, and which Taskcluster tasks are due for each by the changed paths.
All: test, taskgraph-definition, taskgraph-diff

Path conditions:
  test: any of: pipeline/**, tests/**, tracking/**, taskcluster/**, poetry.*, Taskfile.yml
  taskgraph-definition: any of: pipeline/**, taskcluster/**
  taskgraph-diff: any of: taskcluster/**

Add hf monolingual importer test
  pipeline/data/mono_importer.py
  taskcluster/kinds/dataset/kind.yml
  tests/data/corpus_samples/hf_dataset/train.jsonl
  tests/data/corpus_samples/hfp_dataset/README.md
  tests/data/corpus_samples/hfp_dataset2/README.md
  tests/fixtures/config.pytest.yml
  tests/test_data_importer.py
Due: test, taskgraph-definition, taskgraph-diff

Add galician and basque configs
  configs/iberian/eneu-baseline.yml
  configs/iberian/eneu-finetranslations.yml
  configs/iberian/eneu-moredata.yml
  configs/iberian/engl-baseline.yml
  configs/iberian/engl-finetranslations.yml
  configs/iberian/engl-scielo.yml
  configs/iberian/euen-baseline.yml
  configs/iberian/euen-finetranslations.yml
  configs/iberian/euen-onestage.yml
  configs/iberian/euen-topk10.yml
  configs/iberian/glen-baseline.yml
  configs/iberian/glen-finetranslations.yml
  configs/iberian/glen-init-esen.yml
  configs/iberian/glen-onestage.yml
  configs/iberian/glen-topk10-onestage.yml
  configs/iberian/glen-topk10.yml
Due: none

Add ntrex importer to tracking code
  tracking/translations_parser/utils.py
Due: test

Add suport for generic monolingual HF dataset
  docs/data-and-cleaning/datasets.md
  pipeline/common/datasets.py
  pipeline/data/mono_importer.py
  pipeline/data/requirements/data.in
  pipeline/data/requirements/data.txt
  taskcluster/kinds/dataset/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add parallel importer for Hugging Face
  docs/data-and-cleaning/datasets.md
  pipeline/data/parallel_downloaders.py
Due: test, taskgraph-definition

Remove streaming from HF mono importer
  pipeline/data/mono_importer.py
Due: test, taskgraph-definition

Pashto Flores200 map
  pipeline/langs/maps.py
Due: test, taskgraph-definition

config generator: ignore newsdev and Anuvaad from mtadata
  utils/config_generator.py
Due: none

Update production pipeline config
  taskcluster/configs/config.prod.yml
Due: test, taskgraph-definition, taskgraph-diff

Add '+' as allowed character for HF subset names
  pipeline/data/parallel_downloaders.py
Due: test, taskgraph-definition

show if huggingface is logged in with token
  pipeline/data/parallel_downloaders.py
Due: test, taskgraph-definition

Use HF login token in dataset tasks
  taskcluster/kinds/dataset/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Experiment using translations model for static embeddings
  inference/marian-fork/src/data/sentencepiece_vocab.cpp
  inference/marian-fork/src/data/vocab.cpp
  inference/marian-fork/src/data/vocab.h
  inference/marian-fork/src/data/vocab_base.h
  inference/src/translator/translation_model.cpp
  inference/src/translator/translation_model.h
  inference/wasm/bindings/bergamot-translator.d.ts
  inference/wasm/bindings/service_bindings.cpp
Due: none

Move final-evals secrets manager to pipeline/common
  pipeline/common/secrets.py
  pipeline/data/mono_importer.py
  pipeline/data/parallel_downloaders.py
  pipeline/data/requirements/data.in
  pipeline/data/requirements/data.txt
  pipeline/eval/final_eval.py
Due: test, taskgraph-definition

Specify input format in Google translator
  pipeline/eval/translators.py
Due: test, taskgraph-definition

Restore streaming for monolingual datasets
  pipeline/data/mono_importer.py
Due: test, taskgraph-definition

Restore streaming mode for monolingual HF datasets and skip HF token on tests
  pipeline/common/downloads.py
  pipeline/data/mono_importer.py
  pipeline/data/parallel_downloaders.py
Due: test, taskgraph-definition

Model Registry defaults to sort by date
  site/model-registry/model-registry.mjs
Due: none

Move training dashboard to mozilla translations site
  site/index.html
  site/training-dashboard/index.html
  site/training-dashboard/taskcluster-db.mjs
  site/training-dashboard/taskcluster.mjs
  site/training-dashboard/training.css
  site/training-dashboard/training.mjs
  site/training-dashboard/utils.mjs
Due: none

Use max_length value from the config in ctranslate
  pipeline/translate/decoder.yml
  pipeline/translate/translate_ctranslate2.py
Due: test, taskgraph-definition

Add scripts to create bilingual Static Embedding models from Firefox Translations translations models ticket: https://mozilla-hub.atlassian.net/browse/AIAUG-39
  utils/export_static_embedding.py
Due: none

update poetry
  poetry.lock
  pyproject.toml
Due: test

reformat
  utils/export_static_embedding.py
Due: none

lint fix
  utils/export_static_embedding.py
Due: none

update pyright version
  poetry.lock
  pyproject.toml
Due: test

add pyright ignore
  utils/export_static_embedding.py
Due: none

current state
  inference/marian-fork/src/data/sentencepiece_vocab.cpp
  inference/marian-fork/src/data/vocab.cpp
  inference/marian-fork/src/data/vocab.h
  inference/marian-fork/src/data/vocab_base.h
  inference/src/translator/translation_model.cpp
  inference/src/translator/translation_model.h
  inference/wasm/bindings/bergamot-translator.d.ts
  inference/wasm/bindings/service_bindings.cpp
Due: none

Stub out the inference-rs code
  Taskfile.yml
  inference-rs/Cargo.lock
  inference-rs/Cargo.toml
  inference-rs/README.md
  inference-rs/Taskfile.yml
  inference-rs/scripts/download_model.py
  inference-rs/src/main.rs
Due: test

Convert the run script into a python script
  inference-rs/Taskfile.yml
  inference-rs/scripts/translate_reference.py
Due: none

Make the CLI arguments consistent with the rest of the repo
  inference-rs/README.md
  inference-rs/Taskfile.yml
  inference-rs/build-plan.md
  inference-rs/scripts/download_model.py
  inference-rs/scripts/translate_reference.py
Due: none

Refine the runners a bit
  inference-rs/README.md
  inference-rs/Taskfile.yml
  inference-rs/scripts/translate_reference.py
Due: none

Add task inference-rs:check
  inference-rs/Taskfile.yml
  inference-rs/scripts/check.py
Due: none

Commit my initial plan
  inference-rs/build-plan.md
Due: none

Come up with a build plan
  inference-rs/build-plan.md
Due: none

Get the inference engine to build on macOS
  .gitmodules
  inference-rs/scripts/translate_reference.py
  inference/CMakeLists.txt
  inference/marian-fork/src/functional/operators.h
  inference/scripts/build.py
Due: none

Add docs for the gemm backends
  inference-rs/gemm-backends.md
Due: none

Add the inference engine build to the checks
  inference-rs/scripts/check.py
Due: none

Vendor in gemmology
  .gitmodules
  inference-rs/README.md
  inference-rs/Taskfile.yml
  inference-rs/build-plan.md
  inference-rs/follow-ups.md
  inference-rs/gemm-backends.md
  inference/marian-fork/CMakeLists.txt
  inference/marian-fork/src/3rd_party/CMakeLists.txt
  inference/marian-fork/src/graph/expression_operators.cpp
  inference/marian-fork/src/layers/generic.cpp
  inference/marian-fork/src/tensors/cpu/backend.h
  inference/marian-fork/src/tensors/cpu/gemmology_intgemm_shim.h
  inference/marian-fork/src/tensors/cpu/integer_common.h
  inference/scripts/build.py
Due: none

Create a trace recorder in marian
  inference-rs/README.md
  inference-rs/build-plan.md
  inference-rs/follow-ups.md
  inference-rs/gemm-backends.md
  inference-rs/scripts/translate_reference.py
  inference/marian-fork/src/CMakeLists.txt
  inference/marian-fork/src/graph/expression_graph.cpp
  inference/marian-fork/src/graph/trace_recorder.cpp
  inference/marian-fork/src/graph/trace_recorder.h
Due: none

Add a reader in rust for the recorded traces
  inference-rs/README.md
  inference-rs/Taskfile.yml
  inference-rs/scripts/check.py
  inference-rs/src/compare.rs
  inference-rs/src/lib.rs
  inference-rs/src/main.rs
  inference-rs/src/trace.rs
  inference-rs/tests/real_trace.rs
Due: none
