Repository mozilla/translations: changes, and which Taskcluster tasks are due for each by the changed paths.
All: test, taskgraph-definition, taskgraph-diff

Path conditions:
  test: any of: pipeline/**, tests/**, tracking/**, taskcluster/**, poetry.*, Taskfile.yml
  taskgraph-definition: any of: pipeline/**, taskcluster/**
  taskgraph-diff: any of: taskcluster/**

Add jsonschema for config validation checks
  poetry.lock
  pyproject.toml
Due: test

Update trigger_training
  utils/trigger_training.py
Due: none

fix(pipeline): Bicleaner is now optional as datasets may not generate a bicleaner step
  taskcluster/translations_taskgraph/transforms/find_upstreams.py
Due: test, taskgraph-definition, taskgraph-diff

test: Add tests for corpus continuation
  pipeline/common/downloads.py
  tests/test_continuation.py
Due: test, taskgraph-definition

refactor(pipeline): Use the new continuation keys from the training config in the kind.yml from-parameters
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

fix(pipeline): The datasets can now produce optional values
  taskcluster/translations_taskgraph/target_tasks.py
  taskcluster/translations_taskgraph/transforms/find_upstreams.py
  taskcluster/translations_taskgraph/transforms/from_datasets.py
Due: test, taskgraph-definition, taskgraph-diff

fix(pipeline): Make corpus priors optional as continuation may not have them
  pipeline/alignments/align.py
Due: test, taskgraph-definition

feat(test): Update the test fixtures to allow dynamic configs and return the resolved tasks
  tests/fixtures/__init__.py
  tests/test_tracking_utils.py
Due: test

Add config validation
  configs/autogenerated/en-pl-example.yml
  taskcluster/translations_taskgraph/actions/train.py
  tests/fixtures/__init__.py
  tests/fixtures/config.pytest.enzh.yml
  tests/fixtures/config.pytest.yml
  tests/test_config_validation.py
Due: test, taskgraph-definition, taskgraph-diff

Always specify the best and first number for shortlists
  pipeline/eval/eval.py
  pipeline/quantize/quantize.sh
  taskcluster/kinds/evaluate-quantized/kind.yml
  tests/test_eval.py
Due: test, taskgraph-definition, taskgraph-diff

Adjust the prod config
  taskcluster/configs/config.prod.yml
Due: test, taskgraph-definition, taskgraph-diff

Build with debug info
  pipeline/setup/compile-marian.sh
Due: test, taskgraph-definition

utils/run_task.py
  Taskfile.yml
  utils/run_task.py
Due: test

Add types to tests/test_training.py
  pyproject.toml
  tests/test_training.py
Due: test

Assert that GPUs are available and output information about them
  pipeline/common/marian.py
  pipeline/eval/eval.py
  pipeline/train/train.py
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
  taskcluster/scripts/pipeline/train_taskcluster.py
  tests/test_train_taskcluster.py
  tests/test_training.py
Due: test, taskgraph-definition, taskgraph-diff

Update the config generator
  utils/config_generator.py
Due: none

Add the h1-2025 configs
  configs/autogenerated/en-hu-h1-2025.yml
  configs/autogenerated/en-mr-h1-2025.yml
  configs/autogenerated/en-nn-h1-2025.yml
  configs/h1-2025/af-en-h1-2025.yml
  configs/h1-2025/en-hu-h1-2025.yml
  configs/h1-2025/en-mr.yml
  configs/h1-2025/en-no-h1-2025.yml
  configs/h1-2025/mr-en.yml
Due: none

Update the GPU check in bicleaner.sh
  pipeline/bicleaner/bicleaner.sh
  pipeline/common/marian.py
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Change bicleaner to be version invalidated
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add continuation to the cache
  taskcluster/kinds/build-vocab/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Create a singular aug-mix for evaluation that can respect the capabilities of the language scripts
  docs/training/opus-trainer.md
  pipeline/data/parallel_importer.py
  tests/test_data_importer.py
  utils/config_generator.py
Due: test, taskgraph-definition

Use script info for deciding on what augmentations to run
  docs/training/opus-trainer.md
  pipeline/data/lang_script.py
  pipeline/train/configs/opustrainer/backward.cjk.yml
  pipeline/train/configs/opustrainer/backward.yml
  pipeline/train/configs/opustrainer/student.cjk.yml
  pipeline/train/configs/opustrainer/student.yml
  pipeline/train/configs/opustrainer/teacher.one-stage.cjk.yml
  pipeline/train/configs/opustrainer/teacher.one-stage.yml
  pipeline/train/configs/opustrainer/teacher.two-stage.cjk.yml
  pipeline/train/configs/opustrainer/teacher.two-stage.yml
  pipeline/train/configs/opustrainer/teacher.yml
  pipeline/train/train.py
  pyproject.toml
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Fixup - Update the config generator
  configs/autogenerated/en-mr-h1-2025.yml
  configs/h1-2025/en-mr.yml
  configs/h1-2025/mr-en.yml
Due: none

Update config
  configs/llmaat/en-ru-llmaat.yml
Due: none

Add augmentation to mtdata dev datasets
  utils/config_generator.py
Due: none

Allow no / at the end of continuation
  pipeline/continuation/model.py
Due: test, taskgraph-definition

Update the afrikaans config to have backwards continuation
  configs/h1-2025/af-en-h1-2025.yml
Due: none

Add the vocab to training continuation
  configs/h1-2025/af-en-h1-2025.yml
Due: none

Generate the task graph before trigger training
  taskcluster/translations_taskgraph/transforms/training_continuation.py
  utils/trigger_training.py
Due: test, taskgraph-definition, taskgraph-diff

af-en backtranslations corpus continuation
  configs/h1-2025/af-en-h1-2025.yml
Due: none

Update the af-en config for corpus continuation
  configs/h1-2025/af-en-h1-2025.yml
Due: none

Restart on a CUDA Curand error
  pipeline/common/command_runner.py
Due: test, taskgraph-definition

Use the streaming CUDA error detector
  pipeline/common/command_runner.py
  tests/test_command_runner.py
Due: test, taskgraph-definition

Add the GPU assertion to pipeline/translate/translate.py
  pipeline/translate/translate.py
  taskcluster/kinds/backtranslations-mono-trg-translate/kind.yml
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Fix linting error
  pipeline/translate/translate.py
Due: test, taskgraph-definition

Assert that GPUs are available and output information about them
  pipeline/bicleaner/bicleaner.sh
  pipeline/common/marian.py
  pipeline/eval/eval.py
  pipeline/train/train.py
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
  taskcluster/scripts/pipeline/train_taskcluster.py
  tests/test_train_taskcluster.py
  tests/test_training.py
Due: test, taskgraph-definition, taskgraph-diff

Add the USE_CPU environment
  tests/test_translate.py
Due: test

Fix typo
  pipeline/data/parallel_downloaders.py
Due: test, taskgraph-definition

Assert that GPUs are available and restart tasks if they are not (#1112)
  pipeline/bicleaner/bicleaner.sh
  pipeline/common/marian.py
  pipeline/eval/eval.py
  pipeline/train/train.py
  pipeline/translate/translate.py
  taskcluster/kinds/backtranslations-mono-trg-translate/kind.yml
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
  taskcluster/scripts/pipeline/train_taskcluster.py
  tests/test_train_taskcluster.py
  tests/test_training.py
  tests/test_translate.py
Due: test, taskgraph-definition, taskgraph-diff
