Repository mozilla/translations: changes, and which Taskcluster tasks are due for each by the changed paths.
All: test, taskgraph-definition, taskgraph-diff

test:
  worker-type: b-cpu
  worker:
    max-run-time: 3600
    docker-image:
      in-tree: test
  run:
    command:
    - bash
    - -c
    - export BIN=$MOZ_FETCHES_DIR && export MARIAN=$MOZ_FETCHES_DIR && task test
  run-on-tasks-for:
  - github-push
  - github-pull-request
  fetches:
    toolchain:
    - fast-align
    - extract-lex
  ...

taskgraph-definition:
  worker-type: b-cpu
  worker:
    docker-image:
      in-tree: test
    max-run-time: 3600
  description: Test the full `translations_taskgraph` to validate the latest changes
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command: task taskgraph-validate

taskgraph-diff:
  worker-type: b-cpu
  worker:
    docker-image:
      in-tree: test
    max-run-time: 1200
  description: Create diffs of taskgraphs vs. base revision.
  run-on-tasks-for:
  - github-pull-request
  run:
    command: task taskgraph-diff BASE_REV={base_rev} OUTPUT_FILE=$TASK_WORKDIR/artifacts/taskgraph.diff

Make previous groups optional
  taskcluster/translations_taskgraph/actions/train.py
Due: test, taskgraph-definition, taskgraph-diff

fixed an issue around tests failing
  tests/unit/test_train_taskcluster.py
Due: test

Update trigger_training
  utils/trigger_training.py
Due: none

Always specify the best and first number for shortlists
  pipeline/eval/eval.py
  pipeline/quantize/quantize.sh
  taskcluster/kinds/evaluate-quantized/kind.yml
  tests/test_eval.py
Due: test, taskgraph-definition, taskgraph-diff

Add jsonschema for config validation checks
  poetry.lock
  pyproject.toml
Due: test

utils/run_task.py
  Taskfile.yml
  utils/run_task.py
Due: test

Add config validation
  configs/autogenerated/en-pl-example.yml
  taskcluster/translations_taskgraph/actions/train.py
  tests/fixtures/__init__.py
  tests/fixtures/config.pytest.enzh.yml
  tests/fixtures/config.pytest.yml
  tests/test_config_validation.py
Due: test, taskgraph-definition, taskgraph-diff

Limit the monolingual data in the prod config
  taskcluster/configs/config.prod.yml
Due: test, taskgraph-definition, taskgraph-diff

Update the config generator
  utils/config_generator.py
Due: none

Add continuation to the cache
  taskcluster/kinds/build-vocab/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add types to tests/test_training.py
  pyproject.toml
  tests/test_training.py
Due: test

Use script info for deciding on what augmentations to run
  docs/training/opus-trainer.md
  pipeline/data/lang_script.py
  pipeline/train/configs/opustrainer/backward.cjk.yml
  pipeline/train/configs/opustrainer/backward.yml
  pipeline/train/configs/opustrainer/student.cjk.yml
  pipeline/train/configs/opustrainer/student.yml
  pipeline/train/configs/opustrainer/teacher.one-stage.cjk.yml
  pipeline/train/configs/opustrainer/teacher.one-stage.yml
  pipeline/train/configs/opustrainer/teacher.two-stage.cjk.yml
  pipeline/train/configs/opustrainer/teacher.two-stage.yml
  pipeline/train/configs/opustrainer/teacher.yml
  pipeline/train/train.py
  pyproject.toml
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Create a singular aug-mix for evaluation that can respect the capabilities of the language scripts
  docs/training/opus-trainer.md
  pipeline/data/parallel_importer.py
  tests/test_data_importer.py
  utils/config_generator.py
Due: test, taskgraph-definition

Update config generator, specifically for scripts
  utils/config_generator.py
Due: none

Retry tasks with a Curand CUDA error
  pipeline/common/command_runner.py
  tests/test_command_runner.py
Due: test, taskgraph-definition

Show the resolved tasks and cache status in the `task train` command
  Taskfile.yml
  pyproject.toml
  taskcluster/translations_taskgraph/taskgraph_utils.py
  taskcluster/translations_taskgraph/transforms/training_continuation.py
  tests/fixtures/__init__.py
  tests/test_continuation.py
  utils/preflight_check.py
  utils/trigger_training.py
Due: test, taskgraph-definition, taskgraph-diff

Update HPLT in the config generator to warn when no HPLT dataset is found
  pipeline/data/hplt.py
  utils/config_generator.py
Due: test, taskgraph-definition

Add pyicu to the dependencies
  pipeline/train/requirements/train.in
  pipeline/train/requirements/train.txt
Due: test, taskgraph-definition

Add better asserts to start-stage
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/transforms/training_continuation.py
Due: test, taskgraph-definition, taskgraph-diff

Add libicu-dev to taskcluster/docker/train/Dockerfile
  taskcluster/docker/train/Dockerfile
Due: test, taskgraph-definition, taskgraph-diff

Check for monocleaner support for a language
  pipeline/clean/clean-mono.sh
  utils/config_generator.py
Due: test, taskgraph-definition

Add a clean analysis
  taskcluster/config.yml
  taskcluster/kinds/corpus-analyze-parallel-sample-cleaned/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add existing_tasks to the config validation
  taskcluster/translations_taskgraph/actions/train.py
  utils/trigger_training.py
Due: test, taskgraph-definition, taskgraph-diff

Add a corpus-analyze-parallel-sample task
  pipeline/data/analyze-merged.py
  pyproject.toml
  taskcluster/config.yml
  taskcluster/kinds/corpus-analyze-parallel-sample/kind.yml
  taskcluster/translations_taskgraph/transforms/find_upstreams.py
  tests/test_corpus_analyze_parallel_sample.py
Due: test, taskgraph-definition, taskgraph-diff

Add more language specifications for the flores downloading
  pipeline/data/parallel_downloaders.py
Due: test, taskgraph-definition

Add cache.version to all of the training tasks
  taskcluster/kinds/backtranslations-mono-trg-chunk/kind.yml
  taskcluster/kinds/backtranslations-mono-trg-dechunk-translations/kind.yml
  taskcluster/kinds/backtranslations-mono-trg-translate/kind.yml
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/build-vocab/kind.yml
  taskcluster/kinds/continuation-model/kind.yml
  taskcluster/kinds/corpus-align-backtranslations/kind.yml
  taskcluster/kinds/corpus-align-distillation/kind.yml
  taskcluster/kinds/corpus-align-parallel/kind.yml
  taskcluster/kinds/corpus-analyze-mono/kind.yml
  taskcluster/kinds/corpus-analyze-parallel/kind.yml
  taskcluster/kinds/corpus-clean-mono/kind.yml
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
  taskcluster/kinds/corpus-clean-parallel-fetch-bicleaner-model/kind.yml
  taskcluster/kinds/corpus-clean-parallel/kind.yml
  taskcluster/kinds/corpus-merge-devset/kind.yml
  taskcluster/kinds/corpus-merge-distillation/kind.yml
  taskcluster/kinds/corpus-merge-mono/kind.yml
  taskcluster/kinds/corpus-merge-parallel/kind.yml
  taskcluster/kinds/dataset/kind.yml
  taskcluster/kinds/distillation-corpus-build-shortlist/kind.yml
  taskcluster/kinds/distillation-corpus-final-filtering/kind.yml
  taskcluster/kinds/distillation-mono-src-chunk/kind.yml
  taskcluster/kinds/distillation-mono-src-dechunk-translations/kind.yml
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-chunk/kind.yml
  taskcluster/kinds/distillation-parallel-src-dechunk-translations/kind.yml
  taskcluster/kinds/distillation-parallel-src-extract-best/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translations-score/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-quantize/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/export/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
  taskcluster/translations_taskgraph/transforms/cached_tasks.py
Due: test, taskgraph-definition, taskgraph-diff

Add continuation validation for URLs
  pipeline/continuation/model.py
  utils/trigger_training.py
Due: test, taskgraph-definition

en-xx configs
  configs/h1-2025/en-xx/en-af.yml
  configs/h1-2025/en-xx/en-az.yml
  configs/h1-2025/en-xx/en-be.yml
  configs/h1-2025/en-xx/en-bn.yml
  configs/h1-2025/en-xx/en-fa.yml
  configs/h1-2025/en-xx/en-gu.yml
  configs/h1-2025/en-xx/en-he.yml
  configs/h1-2025/en-xx/en-hi.yml
  configs/h1-2025/en-xx/en-kn.yml
  configs/h1-2025/en-xx/en-ml.yml
  configs/h1-2025/en-xx/en-mr.yml
  configs/h1-2025/en-xx/en-ms.yml
  configs/h1-2025/en-xx/en-no.yml
  configs/h1-2025/en-xx/en-sq.yml
  configs/h1-2025/en-xx/en-ta.yml
  configs/h1-2025/en-xx/en-te.yml
  configs/h1-2025/en-xx/en-tl.yml
Due: none

Fixup - eb6f2e16 Add continuation validation for URLs
  tests/test_continuation.py
Due: test

Fix the no_interactive in trigger training
  utils/trigger_training.py
Due: none

Use Taskcluster root url env
  taskcluster/translations_taskgraph/actions/train.py
Due: test, taskgraph-definition, taskgraph-diff

Fix pyright errors
  taskcluster/translations_taskgraph/actions/train.py
Due: test, taskgraph-definition, taskgraph-diff

Resume pipeline (#1132)
  .taskcluster.yml
  docs/training/task-cluster.md
  taskcluster/config.yml
  taskcluster/configs/config.prod.yml
  taskcluster/requirements.in
  taskcluster/requirements.txt
  taskcluster/translations_taskgraph/actions/train.py
  utils/trigger_training.py
Due: test, taskgraph-definition, taskgraph-diff

feat: reland new GPU worker images and dockerization (#1131)
  docs/training/task-cluster.md
  pipeline/bicleaner/bicleaner.sh
  pipeline/translate/requirements/translate-ctranslate2.in
  pipeline/translate/requirements/translate-ctranslate2.txt
  taskcluster/config.yml
  taskcluster/kinds/backtranslations-mono-trg-translate/kind.yml
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translations-score/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/fetch/toolchains.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

bump to cuda v12.9.0
  taskcluster/kinds/fetch/toolchains.yml
Due: test, taskgraph-definition, taskgraph-diff

Path conditions:
  test: any of: pipeline/**, tests/**, tracking/**, taskcluster/**, poetry.*, Taskfile.yml
  taskgraph-definition: any of: pipeline/**, taskcluster/**
  taskgraph-diff: any of: taskcluster/**
