Repository mozilla/translations: changes, and which Taskcluster tasks are due for each by the changed paths.
All: test, taskgraph-definition, taskgraph-diff

Path conditions:
  test: any of: pipeline/**, tests/**, tracking/**, taskcluster/**, poetry.*, Taskfile.yml
  taskgraph-definition: any of: pipeline/**, taskcluster/**
  taskgraph-diff: any of: taskcluster/**

Don't install deps
  Taskfile.yml
Due: test

Add distill student
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/transforms/training_continuation.py
Due: test, taskgraph-definition, taskgraph-diff

Disable skipping evals
  taskcluster/translations_taskgraph/transforms/training_continuation.py
Due: test, taskgraph-definition, taskgraph-diff

Add pretrained mode to distilled
  taskcluster/kinds/distill-student/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add continuation transform
  taskcluster/kinds/distill-student/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Remove distilled corpus from student
  pipeline/train/configs/opustrainer/student.train.yml
  taskcluster/kinds/train-student/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add pyicu to the dependencies
  pipeline/train/requirements/train.in
  pipeline/train/requirements/train.txt
Due: test, taskgraph-definition

Fixup - Add the student training configs
  configs/h1-2025/students/en-lv.yml
  configs/h1-2025/students/en-sk.yml
  configs/h1-2025/students/en-sl.yml
  configs/h1-2025/students/en-uk.yml
  configs/h1-2025/students/sl-en.yml
Due: none

upgrade to taskgraph 14.2.1
  .taskcluster.yml
  poetry.lock
  pyproject.toml
Due: test

backout switching gpu workers to docker + new worker image
  docs/training/task-cluster.md
  pipeline/bicleaner/bicleaner.sh
  pipeline/translate/requirements/translate-ctranslate2.in
  pipeline/translate/requirements/translate-ctranslate2.txt
  taskcluster/config.yml
  taskcluster/docker/base/Dockerfile
  taskcluster/docker/inference/Dockerfile
  taskcluster/docker/test/Dockerfile
  taskcluster/docker/toolchain-build/Dockerfile
  taskcluster/docker/train/Dockerfile
  taskcluster/kinds/backtranslations-mono-trg-translate/kind.yml
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translations-score/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/fetch/toolchains.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Show the resolved tasks and cache status in the `task train` command
  Taskfile.yml
  pyproject.toml
  taskcluster/translations_taskgraph/taskgraph_utils.py
  taskcluster/translations_taskgraph/transforms/training_continuation.py
  tests/fixtures/__init__.py
  utils/preflight_check.py
  utils/trigger_training.py
Due: test, taskgraph-definition, taskgraph-diff

Add better asserts to start-stage
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/transforms/training_continuation.py
Due: test, taskgraph-definition, taskgraph-diff

Update config
  configs/llmaat/en-ru-llmaat.yml
Due: none

Fixup configs
  configs/h1-2025/distill-base-memory/en-hu.yml
  configs/h1-2025/distill-base-memory/en-lt.yml
  configs/h1-2025/distill-base-memory/en-lv.yml
  configs/h1-2025/distill-base-memory/en-sk.yml
  configs/h1-2025/distill-base-memory/en-sl.yml
  configs/h1-2025/distill-base-memory/en-uk.yml
  configs/h1-2025/distill-base-memory/sl-en.yml
  configs/h1-2025/student-tiny/af-en.yml
  configs/h1-2025/teacher/af-en.yml
  configs/h1-2025/teacher/en-mr.yml
  configs/h1-2025/teacher/en-no.yml
  configs/h1-2025/teacher/mr-en.yml
Due: none

Add docs for training continuation
  docs/training/using-pretrained-models.md
Due: none

Retry tasks with a Curand CUDA error
  pipeline/common/command_runner.py
  tests/test_command_runner.py
Due: test, taskgraph-definition

Update config generator, specifically for scripts
  utils/config_generator.py
Due: none

backout switching gpu workers to docker + new worker image (#1120)
  .taskcluster.yml
  docs/training/task-cluster.md
  pipeline/bicleaner/bicleaner.sh
  pipeline/translate/requirements/translate-ctranslate2.in
  pipeline/translate/requirements/translate-ctranslate2.txt
  poetry.lock
  pyproject.toml
  taskcluster/config.yml
  taskcluster/docker/base/Dockerfile
  taskcluster/docker/inference/Dockerfile
  taskcluster/docker/test/Dockerfile
  taskcluster/docker/toolchain-build/Dockerfile
  taskcluster/docker/train/Dockerfile
  taskcluster/kinds/backtranslations-mono-trg-translate/kind.yml
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translations-score/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/fetch/toolchains.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Remove unused file
  pipeline/data/importers.py
Due: test, taskgraph-definition

Update config
  configs/retrain_high_res_2025/de-en-retrain_hr.yml
Due: none

Update HPLT in the config generator to warn when no HPLT dataset is found
  pipeline/data/hplt.py
  utils/config_generator.py
Due: test, taskgraph-definition

Fixup configs
  configs/h1-2025/teacher/af-en.yml
  configs/h1-2025/teacher/az-en.yml
  configs/h1-2025/teacher/be-en.yml
  configs/h1-2025/teacher/bn-en.yml
  configs/h1-2025/teacher/en-mr.yml
  configs/h1-2025/teacher/fa-en.yml
  configs/h1-2025/teacher/gu-en.yml
  configs/h1-2025/teacher/he-en.yml
  configs/h1-2025/teacher/hi-en.yml
  configs/h1-2025/teacher/kn-en.yml
  configs/h1-2025/teacher/ml-en.yml
  configs/h1-2025/teacher/mr-en.yml
  configs/h1-2025/teacher/ms-en.yml
  configs/h1-2025/teacher/no-en.yml
  configs/h1-2025/teacher/sq-en.yml
  configs/h1-2025/teacher/ta-en.yml
  configs/h1-2025/teacher/te-en.yml
  configs/h1-2025/teacher/tl-en.yml
Due: none

Add cache.version to all of the training tasks
  taskcluster/kinds/backtranslations-mono-trg-chunk/kind.yml
  taskcluster/kinds/backtranslations-mono-trg-dechunk-translations/kind.yml
  taskcluster/kinds/backtranslations-mono-trg-translate/kind.yml
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/build-vocab/kind.yml
  taskcluster/kinds/continuation-model/kind.yml
  taskcluster/kinds/corpus-align-backtranslations/kind.yml
  taskcluster/kinds/corpus-align-distillation/kind.yml
  taskcluster/kinds/corpus-align-parallel/kind.yml
  taskcluster/kinds/corpus-analyze-mono/kind.yml
  taskcluster/kinds/corpus-analyze-parallel/kind.yml
  taskcluster/kinds/corpus-clean-mono/kind.yml
  taskcluster/kinds/corpus-clean-parallel-fetch-bicleaner-model/kind.yml
  taskcluster/kinds/corpus-clean-parallel/kind.yml
  taskcluster/kinds/corpus-merge-devset/kind.yml
  taskcluster/kinds/corpus-merge-distillation/kind.yml
  taskcluster/kinds/corpus-merge-mono/kind.yml
  taskcluster/kinds/corpus-merge-parallel/kind.yml
  taskcluster/kinds/dataset/kind.yml
  taskcluster/kinds/distillation-corpus-build-shortlist/kind.yml
  taskcluster/kinds/distillation-corpus-final-filtering/kind.yml
  taskcluster/kinds/distillation-mono-src-chunk/kind.yml
  taskcluster/kinds/distillation-mono-src-dechunk-translations/kind.yml
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-chunk/kind.yml
  taskcluster/kinds/distillation-parallel-src-dechunk-translations/kind.yml
  taskcluster/kinds/distillation-parallel-src-extract-best/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translations-score/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-quantize/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/export/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
  taskcluster/translations_taskgraph/transforms/cached_tasks.py
Due: test, taskgraph-definition, taskgraph-diff

Upgrade bicleaner-ai
  pipeline/bicleaner/bicleaner.sh
  pipeline/bicleaner/requirements/bicleaner-ai.in
  pipeline/bicleaner/requirements/bicleaner-ai.txt
Due: test, taskgraph-definition

Configs - H1-2025
  configs/autogenerated/en-hu-h1-2025.yml
  configs/autogenerated/en-mr-h1-2025.yml
  configs/autogenerated/en-nn-h1-2025.yml
  configs/h1-2025/distill-base-memory/en-hu.yml
  configs/h1-2025/distill-base-memory/en-lt.yml
  configs/h1-2025/distill-base-memory/en-lv.yml
  configs/h1-2025/distill-base-memory/en-sk.yml
  configs/h1-2025/distill-base-memory/en-sl.yml
  configs/h1-2025/distill-base-memory/en-uk.yml
  configs/h1-2025/distill-base-memory/sl-en.yml
  configs/h1-2025/student-tiny/af-en.yml
  configs/h1-2025/teacher/af-en.yml
  configs/h1-2025/teacher/en-mr.yml
  configs/h1-2025/teacher/en-no.yml
  configs/h1-2025/teacher/mr-en.yml
Due: none

fix: pin to a specific version of taskcluster-taskgraph
  .taskcluster.yml
  poetry.lock
  pyproject.toml
Due: test

fix: pin to a specific version of taskcluster-taskgraph (#1124)
  .taskcluster.yml
  poetry.lock
  pyproject.toml
Due: test

Add few shot prompt
  experiments/llmaat/flows/configs/config.vllm.json
  experiments/llmaat/flows/prompts.py
Due: none

Fixup config - Use existing teacher task for af-en
  configs/h1-2025/student-tiny/af-en.yml
Due: none
