Repository mozilla/translations: changes, and which Taskcluster tasks are due for each by the changed paths.
All: test, taskgraph-definition, taskgraph-diff

Path conditions:
  test: any of: pipeline/**, tests/**, tracking/**, taskcluster/**, poetry.*, Taskfile.yml
  taskgraph-definition: any of: pipeline/**, taskcluster/**
  taskgraph-diff: any of: taskcluster/**

Revert changes
  Taskfile.yml
  pipeline/alignments/generate-shortlist.sh
Due: test, taskgraph-definition

Fix naming
  docs/data-and-cleaning/datasets.md
  taskcluster/kinds/dataset/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Build with debug info
  pipeline/setup/compile-marian.sh
Due: test, taskgraph-definition

Add the student base-memory configuration
  docs/training/README.md
  pipeline/train/configs/model/student.base-memory.yml
  pipeline/train/train.py
  taskcluster/configs/config.prod.yml
  taskcluster/translations_taskgraph/actions/train.py
Due: test, taskgraph-definition, taskgraph-diff

Always specify the best and first number for shortlists
  pipeline/eval/eval.py
  pipeline/quantize/quantize.sh
  taskcluster/kinds/evaluate-quantized/kind.yml
  tests/test_eval.py
Due: test, taskgraph-definition, taskgraph-diff

utils/run_task.py
  Taskfile.yml
  utils/run_task.py
Due: test

Adjust the prod config
  taskcluster/configs/config.prod.yml
Due: test, taskgraph-definition, taskgraph-diff

Add the h1-2025 configs
  configs/autogenerated/en-hu-h1-2025.yml
  configs/autogenerated/en-mr-h1-2025.yml
  configs/autogenerated/en-nn-h1-2025.yml
  configs/h1-2025/af-en-h1-2025.yml
  configs/h1-2025/en-hu-h1-2025.yml
  configs/h1-2025/en-mr.yml
  configs/h1-2025/en-no-h1-2025.yml
Due: none

Update the config generator
  utils/config_generator.py
Due: none

Use mozilla/OpusCleaner@cldr-regexes
  pipeline/clean/requirements/clean.in
  pipeline/clean/requirements/clean.txt
Due: test, taskgraph-definition

Add continuation to the cache
  taskcluster/kinds/build-vocab/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add some type checking to the align.py file, and fix up types that are now being checked.
  pipeline/alignments/align.py
  pipeline/common/datasets.py
  pyproject.toml
Due: test, taskgraph-definition

Make alignments slimmer on disk space
  pipeline/alignments/align.py
  pipeline/common/downloads.py
  tests/fixtures/__init__.py
  tests/test_alignments.py
  tests/test_common_downloads.py
Due: test, taskgraph-definition

Assert that GPUs are available and output information about them
  pipeline/common/marian.py
  pipeline/eval/eval.py
  pipeline/train/train.py
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
  taskcluster/scripts/pipeline/train_taskcluster.py
  tests/test_training.py
Due: test, taskgraph-definition, taskgraph-diff

Add some type checking to the align.py file, and fix up types that are now being checked.
  pipeline/alignments/align.py
  pipeline/common/datasets.py
  pipeline/common/downloads.py
  pyproject.toml
Due: test, taskgraph-definition

Change the Taskfile pyright poetry installs
  Taskfile.yml
Due: test

Make alignments slimmer on disk space (#1109)
  Taskfile.yml
  pipeline/alignments/align.py
  pipeline/common/datasets.py
  pipeline/common/downloads.py
  pyproject.toml
  tests/fixtures/__init__.py
  tests/test_alignments.py
  tests/test_common_downloads.py
Due: test, taskgraph-definition

Remove ###
  pipeline/data/importers.py
Due: test, taskgraph-definition

Fix retry time
  pipeline/common/downloads.py
Due: test, taskgraph-definition

Update the pyproject.toml OpusCleaner to 0.5 as well
  pyproject.toml
Due: none

Assert that GPUs are available and output information about them
  pipeline/bicleaner/bicleaner.sh
  pipeline/common/marian.py
  pipeline/eval/eval.py
  pipeline/train/train.py
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
  taskcluster/scripts/pipeline/train_taskcluster.py
  tests/test_train_taskcluster.py
  tests/test_training.py
Due: test, taskgraph-definition, taskgraph-diff

feat(taskcluster): Add a cache version transform
  taskcluster/translations_taskgraph/transforms/cached_tasks.py
Due: test, taskgraph-definition, taskgraph-diff

chore(types): Add all new files to be type checked
  pyproject.toml
Due: none

fix(types): Add mocked downloads to more download utils in downloads.py
  pipeline/common/downloads.py
Due: test, taskgraph-definition

feat(pipeline): Add pipeline/continuation python scripts and continuation kinds
  pipeline/common/arg_utils.py
  pipeline/continuation/corpus.py
  pipeline/continuation/model.py
  pipeline/continuation/requirements/continuation.in
  pipeline/continuation/requirements/continuation.txt
  pipeline/continuation/vocab.py
  taskcluster/config.yml
  taskcluster/kinds/continuation-corpus/kind.yml
  taskcluster/kinds/continuation-model/kind.yml
  taskcluster/kinds/continuation-vocab/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

feat(pipeline): Add corpus continuation transform
  taskcluster/translations_taskgraph/transforms/continuation.py
  taskcluster/translations_taskgraph/transforms/training_continuation.py
  taskcluster/translations_taskgraph/util/mocked_downloads.py
  utils/config_generator.py
  utils/trigger_training.py
Due: test, taskgraph-definition, taskgraph-diff

feat(pipeline): Rewrite the prod config to use the new continuation key
  taskcluster/configs/config.prod.yml
Due: test, taskgraph-definition, taskgraph-diff

chore(pipeline): Add the continuation transform and dependencies to the kind.yml files
  taskcluster/kinds/all-pr-pipeline/kind.yml
  taskcluster/kinds/backtranslations-mono-trg-chunk/kind.yml
  taskcluster/kinds/backtranslations-mono-trg-dechunk-translations/kind.yml
  taskcluster/kinds/backtranslations-mono-trg-translate/kind.yml
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/build-vocab/kind.yml
  taskcluster/kinds/corpus-align-backtranslations/kind.yml
  taskcluster/kinds/corpus-align-distillation/kind.yml
  taskcluster/kinds/corpus-align-parallel/kind.yml
  taskcluster/kinds/corpus-analyze-mono/kind.yml
  taskcluster/kinds/corpus-analyze-parallel/kind.yml
  taskcluster/kinds/corpus-clean-mono/kind.yml
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
  taskcluster/kinds/corpus-clean-parallel-fetch-bicleaner-model/kind.yml
  taskcluster/kinds/corpus-clean-parallel/kind.yml
  taskcluster/kinds/corpus-merge-devset/kind.yml
  taskcluster/kinds/corpus-merge-distillation/kind.yml
  taskcluster/kinds/corpus-merge-mono/kind.yml
  taskcluster/kinds/corpus-merge-parallel/kind.yml
  taskcluster/kinds/dataset/kind.yml
  taskcluster/kinds/distillation-corpus-build-shortlist/kind.yml
  taskcluster/kinds/distillation-corpus-final-filtering/kind.yml
  taskcluster/kinds/distillation-mono-src-chunk/kind.yml
  taskcluster/kinds/distillation-mono-src-dechunk-translations/kind.yml
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-chunk/kind.yml
  taskcluster/kinds/distillation-parallel-src-dechunk-translations/kind.yml
  taskcluster/kinds/distillation-parallel-src-extract-best/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translations-score/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-quantize/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/export/kind.yml
  taskcluster/kinds/tests/kind.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

fix(pipeline): Bicleaner is now optional as datasets may not generate a bicleaner step
  taskcluster/translations_taskgraph/transforms/find_upstreams.py
Due: test, taskgraph-definition, taskgraph-diff

refactor(pipeline): Use the new continuation keys from the training config in the kind.yml from-parameters
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

feat(pipeline): Add the new continuation configs to taskcluster
  taskcluster/test/test_training_continuation_backwards.py
  taskcluster/test/test_training_continuation_teacher.py
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
Due: test, taskgraph-definition, taskgraph-diff

Rename data importers
  docs/data-and-cleaning/datasets.md
  pipeline/data/mono_importer.py
  pipeline/data/parallel_downloaders.py
  pipeline/data/parallel_importer.py
  snakemake/Snakefile
  taskcluster/kinds/dataset/kind.yml
  tests/fixtures/__init__.py
  tests/test_data_importer.py
Due: test, taskgraph-definition, taskgraph-diff

Update poetry.lock
  poetry.lock
Due: test

Add parallel data downloaders for type checking
  pipeline/data/parallel_downloaders.py
  pipeline/data/parallel_importer.py
  pyproject.toml
Due: test, taskgraph-definition

Rerun linter
  pipeline/data/parallel_downloaders.py
  pipeline/data/parallel_importer.py
Due: test, taskgraph-definition

Add the GPU assertion to pipeline/translate/translate.py
  pipeline/translate/translate.py
  taskcluster/kinds/backtranslations-mono-trg-translate/kind.yml
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
Due: test, taskgraph-definition, taskgraph-diff
