Repository mozilla/translations: changes, and which Taskcluster tasks are due for each by the changed paths.
All: test, taskgraph-definition, taskgraph-diff

Path conditions:
  test: any of: pipeline/**, tests/**, tracking/**, taskcluster/**, poetry.*, Taskfile.yml
  taskgraph-definition: any of: pipeline/**, taskcluster/**
  taskgraph-diff: any of: taskcluster/**

MTdata fixes (#1118)
  pipeline/data/parallel_downloaders.py
  tests/fixtures/config.pytest.enzh.yml
  tests/test_data_importer.py
  utils/config_generator.py
Due: test, taskgraph-definition

chore: bump taskgraph to 14.1.1 (#1072)
  .taskcluster.yml
  poetry.lock
  pyproject.toml
Due: test

Relock packages
  poetry.lock
Due: test

Fix taskgraph version
  poetry.lock
  pyproject.toml
Due: test

Update configs
  taskcluster/test/params/small-ru-en.yml
  tests/fixtures/config.pytest.enzh.yml
  tests/fixtures/config.pytest.yml
Due: test, taskgraph-definition, taskgraph-diff

fix(types): Add mocked downloads to more download utils in downloads.py
  pipeline/common/downloads.py
Due: test, taskgraph-definition

chore(types): Add all new files to be type checked
  pyproject.toml
Due: none

feat(pipeline): Add corpus continuation transform
  taskcluster/translations_taskgraph/transforms/continuation.py
  taskcluster/translations_taskgraph/transforms/training_continuation.py
  taskcluster/translations_taskgraph/util/mocked_downloads.py
  utils/config_generator.py
  utils/trigger_training.py
Due: test, taskgraph-definition, taskgraph-diff

feat(taskcluster): Add a cache version transform
  taskcluster/translations_taskgraph/transforms/cached_tasks.py
Due: test, taskgraph-definition, taskgraph-diff

feat(pipeline): Rewrite the prod config to use the new continuation key
  taskcluster/configs/config.prod.yml
Due: test, taskgraph-definition, taskgraph-diff

feat(pipeline): Add pipeline/continuation python scripts and continuation kinds
  pipeline/common/arg_utils.py
  pipeline/continuation/corpus.py
  pipeline/continuation/model.py
  pipeline/continuation/requirements/continuation.in
  pipeline/continuation/requirements/continuation.txt
  pipeline/continuation/vocab.py
  taskcluster/config.yml
  taskcluster/kinds/continuation-corpus/kind.yml
  taskcluster/kinds/continuation-model/kind.yml
  taskcluster/kinds/continuation-vocab/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

feat(site): Add the new continuation configs to the model registry
  site/@types/training-run.d.ts
  site/model-registry/model-registry.mjs
Due: none

feat(test): Update the test fixtures to allow dynamic configs and return the resolved tasks
  tests/fixtures/__init__.py
  tests/test_tracking_utils.py
Due: test

docs: Update the docs for corpus continuation
  docs/training/README.md
  docs/training/using-pretrained-models.md
Due: none

fix(pipeline): Make corpus priors optional as continuation may not have them
  pipeline/alignments/align.py
Due: test, taskgraph-definition

fix(pipeline): Bicleaner is now optional as datasets may not generate a bicleaner step
  taskcluster/translations_taskgraph/transforms/find_upstreams.py
Due: test, taskgraph-definition, taskgraph-diff

fix(pipeline): The datasets can now produce optional values
  taskcluster/translations_taskgraph/target_tasks.py
  taskcluster/translations_taskgraph/transforms/find_upstreams.py
  taskcluster/translations_taskgraph/transforms/from_datasets.py
Due: test, taskgraph-definition, taskgraph-diff

feat(pipeline): Add the new continuation configs to taskcluster
  taskcluster/test/test_training_continuation_backwards.py
  taskcluster/test/test_training_continuation_teacher.py
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
Due: test, taskgraph-definition, taskgraph-diff

test: Add tests for corpus continuation
  pipeline/common/downloads.py
  tests/test_continuation.py
Due: test, taskgraph-definition

chore(pipeline): Add the continuation transform and dependencies to the kind.yml files
  taskcluster/kinds/all-pr-pipeline/kind.yml
  taskcluster/kinds/backtranslations-mono-trg-chunk/kind.yml
  taskcluster/kinds/backtranslations-mono-trg-dechunk-translations/kind.yml
  taskcluster/kinds/backtranslations-mono-trg-translate/kind.yml
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/build-vocab/kind.yml
  taskcluster/kinds/corpus-align-backtranslations/kind.yml
  taskcluster/kinds/corpus-align-distillation/kind.yml
  taskcluster/kinds/corpus-align-parallel/kind.yml
  taskcluster/kinds/corpus-analyze-mono/kind.yml
  taskcluster/kinds/corpus-analyze-parallel/kind.yml
  taskcluster/kinds/corpus-clean-mono/kind.yml
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
  taskcluster/kinds/corpus-clean-parallel-fetch-bicleaner-model/kind.yml
  taskcluster/kinds/corpus-clean-parallel/kind.yml
  taskcluster/kinds/corpus-merge-devset/kind.yml
  taskcluster/kinds/corpus-merge-distillation/kind.yml
  taskcluster/kinds/corpus-merge-mono/kind.yml
  taskcluster/kinds/corpus-merge-parallel/kind.yml
  taskcluster/kinds/dataset/kind.yml
  taskcluster/kinds/distillation-corpus-build-shortlist/kind.yml
  taskcluster/kinds/distillation-corpus-final-filtering/kind.yml
  taskcluster/kinds/distillation-mono-src-chunk/kind.yml
  taskcluster/kinds/distillation-mono-src-dechunk-translations/kind.yml
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-chunk/kind.yml
  taskcluster/kinds/distillation-parallel-src-dechunk-translations/kind.yml
  taskcluster/kinds/distillation-parallel-src-extract-best/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translations-score/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-quantize/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/export/kind.yml
  taskcluster/kinds/tests/kind.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

refactor(pipeline): Use the new continuation keys from the training config in the kind.yml from-parameters
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Update trigger_training
  utils/trigger_training.py
Due: none

Add jsonschema for config validation checks
  poetry.lock
  pyproject.toml
Due: test

Fix some tests
  pipeline/train/configs/opustrainer/student.train.cjk.yml
  tests/test_alignments.py
  tests/test_eval.py
  tests/test_merge_corpus.py
  tests/test_training.py
Due: test, taskgraph-definition

Always specify the best and first number for shortlists
  pipeline/eval/eval.py
  pipeline/quantize/quantize.sh
  taskcluster/kinds/evaluate-quantized/kind.yml
  tests/test_eval.py
Due: test, taskgraph-definition, taskgraph-diff

utils/run_task.py
  Taskfile.yml
  utils/run_task.py
Due: test

Add config validation
  configs/autogenerated/en-pl-example.yml
  taskcluster/translations_taskgraph/actions/train.py
  tests/fixtures/__init__.py
  tests/fixtures/config.pytest.enzh.yml
  tests/fixtures/config.pytest.yml
  tests/test_config_validation.py
Due: test, taskgraph-definition, taskgraph-diff

Add continuation to the cache
  taskcluster/kinds/build-vocab/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Use script info for deciding on what augmentations to run
  docs/training/opus-trainer.md
  pipeline/data/lang_script.py
  pipeline/train/configs/opustrainer/backward.cjk.yml
  pipeline/train/configs/opustrainer/backward.yml
  pipeline/train/configs/opustrainer/student.cjk.yml
  pipeline/train/configs/opustrainer/student.yml
  pipeline/train/configs/opustrainer/teacher.one-stage.cjk.yml
  pipeline/train/configs/opustrainer/teacher.one-stage.yml
  pipeline/train/configs/opustrainer/teacher.two-stage.cjk.yml
  pipeline/train/configs/opustrainer/teacher.two-stage.yml
  pipeline/train/configs/opustrainer/teacher.yml
  pipeline/train/train.py
  pyproject.toml
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Build with debug info
  pipeline/setup/compile-marian.sh
Due: test, taskgraph-definition

Create a singular aug-mix for evaluation that can respect the capabilities of the language scripts
  docs/training/opus-trainer.md
  pipeline/data/parallel_importer.py
  tests/test_data_importer.py
  utils/config_generator.py
Due: test, taskgraph-definition

Update the GPU check in bicleaner.sh
  pipeline/bicleaner/bicleaner.sh
  pipeline/common/marian.py
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Update the config generator
  utils/config_generator.py
Due: none

Adjust the prod config
  taskcluster/configs/config.prod.yml
Due: test, taskgraph-definition, taskgraph-diff

Add types to tests/test_training.py
  pyproject.toml
  tests/test_training.py
Due: test

Change bicleaner to be version invalidated
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Show the resolved tasks and cache status in the `task train` command
  Taskfile.yml
  pyproject.toml
  taskcluster/translations_taskgraph/taskgraph_utils.py
  taskcluster/translations_taskgraph/transforms/training_continuation.py
  tests/fixtures/__init__.py
  utils/preflight_check.py
  utils/trigger_training.py
Due: test, taskgraph-definition, taskgraph-diff

Add the student training configs
  configs/h1-2025/students/en-lt.yml
  configs/h1-2025/students/en-lv.yml
  configs/h1-2025/students/en-sk.yml
  configs/h1-2025/students/en-sl.yml
  configs/h1-2025/students/en-uk.yml
  configs/h1-2025/students/sl-en.yml
Due: none

Add the h1-2025 configs
  configs/autogenerated/en-hu-h1-2025.yml
  configs/autogenerated/en-mr-h1-2025.yml
  configs/autogenerated/en-nn-h1-2025.yml
  configs/h1-2025/af-en.yml
  configs/h1-2025/en-hu.yml
  configs/h1-2025/en-mr.yml
  configs/h1-2025/en-no.yml
  configs/h1-2025/mr-en.yml
Due: none

Retry tasks with a Curand CUDA error
  pipeline/common/command_runner.py
  tests/test_command_runner.py
Due: test, taskgraph-definition
