Repository mozilla/translations: changes, and which Taskcluster tasks are due for each by the changed paths.
All: test, taskgraph-definition, taskgraph-diff

Path conditions:
  test: any of: pipeline/**, tests/**, tracking/**, taskcluster/**, poetry.*, Taskfile.yml
  taskgraph-definition: any of: pipeline/**, taskcluster/**
  taskgraph-diff: any of: taskcluster/**

correct path to fixtures
  tests/task/test_eval.py
  tests/task/test_training.py
Due: test

correct path to fixtures
  poetry.lock
  pyproject.toml
  pyrightconfig.json
  tests/fixtures/__init__.py
Due: test

correct path to fixtures
  pyrightconfig.json
Due: none

fix: ignore Pyright type error
  tests/task/test_alignments.py
  tests/task/test_eval.py
  tests/task/test_training.py
  tests/unit/test_common_datasets.py
  tests/unit/test_common_downloads.py
  tests/unit/test_preflight_check.py
  tests/unit/test_split_collect.py
  tests/unit/test_spm_vocab.py
Due: test

ensure zstandard is included in task venv by updating requirements and correct base_dir resolution in sanitize_marian_args
  pipeline/translate/requirements/translate-ctranslate2.in
  pipeline/translate/requirements/translate-ctranslate2.txt
  poetry.lock
  pyproject.toml
  tests/task/test_translate.py
Due: test, taskgraph-definition

correct path for task graph
  pipeline/eval/requirements/eval.in
  pipeline/eval/requirements/eval.txt
  tests/task/test_continuation.py
Due: test, taskgraph-definition

fix issues around specific tests failing
  pipeline/eval/requirements/eval.in
Due: test, taskgraph-definition

Update compiled requirements with hashes
  .gitignore
Due: none

Update compiled requirements with hashes
  .gitignore
  pipeline/eval/requirements/eval.in
  pipeline/eval/requirements/eval.txt
Due: test, taskgraph-definition

Update compiled requirements with hashes
  pipeline/eval/requirements/eval.txt
Due: test, taskgraph-definition

Update opus trainer
  pipeline/data/requirements/data.in
  pipeline/data/requirements/data.txt
  pipeline/train/requirements/train.in
  pipeline/train/requirements/train.txt
  poetry.lock
  pyproject.toml
Due: test, taskgraph-definition

Use punct modifier
  pipeline/train/configs/opustrainer/student.cjk.yml
  pipeline/train/configs/opustrainer/student.yml
  pipeline/train/configs/opustrainer/teacher.one-stage.cjk.yml
  pipeline/train/configs/opustrainer/teacher.one-stage.yml
  pipeline/train/configs/opustrainer/teacher.two-stage.cjk.yml
  pipeline/train/configs/opustrainer/teacher.two-stage.yml
Due: test, taskgraph-definition

Add evaluation support
  pipeline/data/parallel_importer.py
  tests/test_data_importer.py
Due: test, taskgraph-definition

Update config generation
  taskcluster/configs/config.prod.yml
  utils/config_generator.py
Due: test, taskgraph-definition, taskgraph-diff

Update readme
  docs/training/opus-trainer.md
Due: none

Fix quantized Marian decoder config path in test setup
  tests/task/test_eval.py
Due: test

Fix directory path for test_ctranslate2
  tests/task/test_ctranslate2.py
Due: test

refactor specific tests structure
  tests/unit/test_tracking_cli.py
  tests/unit/test_tracking_utils.py
  tests/unit/test_train_taskcluster.py
Due: test

format file
  tests/unit/test_tracking_cli.py
Due: test

correct path
  tests/unit/test_train_taskcluster.py
Due: test

Dutch and Catalan configs
  configs/autogenerated/ca-en-short-sentences.yml
  configs/autogenerated/en-ca-short-sentences.yml
  configs/autogenerated/nl-en-short-sentences.yml
Due: none

Move short sentences experiments configs to a directory
  configs/short-sentences/ca-en-short-sentences.yml
  configs/short-sentences/en-ca-short-sentences.yml
  configs/short-sentences/nl-en-short-sentences.yml
Due: none

Add Arabic configs
  configs/arabic/ar-en-experiments-ar-v2.yml
  configs/arabic/en-ar-experiments-ar-v2.yml
Due: none

Add Arabic configs (#1164)
  configs/arabic/ar-en-experiments-ar-v2.yml
  configs/arabic/en-ar-experiments-ar-v2.yml
Due: none

Catalan and Dutch configs from short sentences experiments (#1165)
  configs/short-sentences/ca-en-short-sentences.yml
  configs/short-sentences/en-ca-short-sentences.yml
  configs/short-sentences/nl-en-short-sentences.yml
Due: none

Update experiments/llmaat/README.md
  experiments/llmaat/README.md
Due: none

Add LLM running code and docs (#1147)
  experiments/README.md
  experiments/llmaat/README.md
  experiments/llmaat/flows/configs/config.beam-sample.json
  experiments/llmaat/flows/configs/config.greedy.json
  experiments/llmaat/flows/configs/config.qe-rerank.json
  experiments/llmaat/flows/configs/config.sample.json
  experiments/llmaat/flows/configs/config.vllm.json
  experiments/llmaat/flows/evals.py
  experiments/llmaat/flows/langs.py
  experiments/llmaat/flows/llm_eval_flow.py
  experiments/llmaat/flows/llm_run_flow.py
  experiments/llmaat/flows/llm_runner.py
  experiments/llmaat/flows/metricx/models.py
  experiments/llmaat/flows/metricx/predict.py
  experiments/llmaat/flows/prompts.py
  experiments/llmaat/flows/requirements.outerbounds.txt
  experiments/llmaat/notebooks/Select corpus.ipynb
  experiments/llmaat/scripts/cluster_corpus_ddp.py
  experiments/llmaat/scripts/emb_corpus_ddp.py
  experiments/llmaat/scripts/translate_all_alma.py
  experiments/llmaat/scripts/translate_all_llama3.py
Due: none

Add jsonschema for config validation checks
  poetry.lock
  pyproject.toml
Due: test

Add config validation
  configs/autogenerated/en-pl-example.yml
  taskcluster/configs/config.prod.yml
  taskcluster/translations_taskgraph/actions/train.py
  tests/fixtures/__init__.py
  tests/fixtures/config.pytest.enzh.yml
  tests/fixtures/config.pytest.yml
  tests/test_config_validation.py
Due: test, taskgraph-definition, taskgraph-diff

fix import issues
  tests/task/test_training.py
  tests/task/test_translate.py
  tests/unit/test_filters.py
  tests/unit/test_spm_vocab.py
Due: test

correct path for test_tracking_cli
  tests/unit/test_tracking_cli.py
Due: test

correct directory path
  tests/unit/test_tracking_cli.py
Due: test
