Repository mozilla/translations: changes, and which Taskcluster tasks are due for each by the changed paths.
All: test, taskgraph-definition, taskgraph-diff

Path conditions:
  test: any of: pipeline/**, tests/**, tracking/**, taskcluster/**, poetry.*, Taskfile.yml
  taskgraph-definition: any of: pipeline/**, taskcluster/**
  taskgraph-diff: any of: taskcluster/**

Update OpusCleaner
  pipeline/clean/requirements/clean-parallel.in
  pipeline/clean/requirements/clean-parallel.txt
Due: test, taskgraph-definition

Update cleaning filters for HBS
  pipeline/clean/opuscleaner/configs/bs-en/default.filters.json
  pipeline/clean/opuscleaner/configs/en-sr/default.filters.json
  pipeline/clean/opuscleaner/configs/hr-en/default.filters.json
  pipeline/clean/opuscleaner/configs/sr-en/default.filters.json
Due: test, taskgraph-definition

Include final evals in the main pipeline (#1354)
  pipeline/eval/final_eval.py
  taskcluster/kinds/all-pipeline/kind.yml
  taskcluster/kinds/final-eval-lang/kind.yml
  taskcluster/kinds/upload-final-eval-lang/kind.yml
  taskcluster/translations_taskgraph/util/verifications.py
Due: test, taskgraph-definition, taskgraph-diff

Use hashable resource for opuscleaner
  pipeline/clean/requirements/clean-parallel.in
  pipeline/clean/requirements/clean-parallel.txt
Due: test, taskgraph-definition

Add heliport dep
  pipeline/clean/requirements/clean-parallel.in
  pipeline/clean/requirements/clean-parallel.txt
Due: test, taskgraph-definition

Use custom filters
  configs/en-hbs-data/bs-en.yml
  configs/en-hbs-data/hr-en.yml
  configs/en-hbs-data/sr-en.yml
Due: none

Make common fallbacks unambiguous and fix Croatian
  pipeline/langs/all_autogenerated.json
  pipeline/langs/codes.py
  pipeline/langs/maps.py
Due: test, taskgraph-definition

Fix Taskcluster caching
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/corpus-clean-mono/kind.yml
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
  taskcluster/kinds/corpus-clean-parallel-fetch-bicleaner-model/kind.yml
  taskcluster/kinds/corpus-clean-parallel/kind.yml
  taskcluster/kinds/dataset/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/final-eval-lang/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Set random seed
  tests/test_data_importer.py
Due: test

Add Thai configs
  pipeline/clean/opuscleaner/configs/en-th/default.filters.json
Due: test, taskgraph-definition

Change opuscleaner-mode to 'customs' when generating a config
  docs/data-and-cleaning/index.md
  taskcluster/configs/config.prod.yml
Due: test, taskgraph-definition, taskgraph-diff

Fix typo
  pipeline/langs/codes.py
Due: test, taskgraph-definition

Remove commented code
  pipeline/data/mono_importer.py
Due: test, taskgraph-definition

Reduce test noise threshold
  tests/test_data_importer.py
Due: test

Relax test min augmentation rate
  tests/test_data_importer.py
Due: test

Configs to pull testsets
  configs/en-hbs-data/bs-en.yml
  configs/en-hbs-data/hr-en.yml
  configs/en-hbs-data/sr-en.yml
Due: none

hbs opuscleaner config
  pipeline/clean/opuscleaner/configs/hbs-en/default.filters.json
Due: test, taskgraph-definition

Remove Neulab form tests
  tests/test_data_importer.py
Due: test

Include final evals in CI
  Taskfile.yml
  docs/training/final-evaluations.md
  pipeline/eval/final_eval.py
  taskcluster/configs/eval.all.yml
  taskcluster/configs/eval.ci.yml
  taskcluster/kinds/all-pr-pipeline/kind.yml
  taskcluster/kinds/final-eval-lang/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add ICU
  taskcluster/docker/eval/final_eval.in
  taskcluster/docker/eval/final_eval.txt
Due: test, taskgraph-definition, taskgraph-diff

Add cache
  taskcluster/kinds/upload-final-eval-lang/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add bucket to config
  taskcluster/configs/eval.all.yml
Due: test, taskgraph-definition, taskgraph-diff

hbs-en training config
  configs/hbs/hbs-en.yml
Due: none

Add partial hbs langcode support
  pipeline/langs/codes.py
  pipeline/langs/maps.py
  pipeline/langs/scripts.py
  tests/test_lang_codes.py
Due: test, taskgraph-definition

Change opuscleaner-mode to 'customs' when generating a config (#1370)
  docs/data-and-cleaning/index.md
  taskcluster/configs/config.prod.yml
Due: test, taskgraph-definition, taskgraph-diff

Remove mtdata Neulabs TedTalks
  taskcluster/test/params/large-lt-en.yml
  tests/data/experiments_1_10/experiments/en-nl/prod/config.yml
  tests/fixtures/config.pytest.yml
  tests/test_tracking_cli.py
  tests/test_tracking_utils.py
  utils/config_generator.py
Due: test, taskgraph-definition, taskgraph-diff

Revert changes for CI tests that do not actually download neulab
  taskcluster/test/params/large-lt-en.yml
  tests/data/experiments_1_10/experiments/en-nl/prod/config.yml
  tests/fixtures/config.pytest.yml
  tests/test_tracking_cli.py
  tests/test_tracking_utils.py
Due: test, taskgraph-definition, taskgraph-diff

Remove mtdata Naulab Tedtalks from CI and config generator (#1374)
  utils/config_generator.py
Due: none

Install transliterate bicleaner feature
  pipeline/bicleaner/requirements/bicleaner-ai.in
  pipeline/bicleaner/requirements/bicleaner-ai.txt
Due: test, taskgraph-definition

Add split-digits to joint vocab
  pipeline/train/spm-vocab.sh
Due: test, taskgraph-definition

Update hbs-en configs
  configs/hbs/hbs-en-bt-sampling.yml
Due: none

Use if else and add comment
  taskcluster/kinds/final-eval-lang/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Fix new lines
  taskcluster/kinds/final-eval-lang/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Include final evals in CI (#1373)
  Taskfile.yml
  docs/training/final-evaluations.md
  pipeline/eval/final_eval.py
  taskcluster/configs/eval.all.yml
  taskcluster/configs/eval.ci.yml
  taskcluster/docker/eval/final_eval.in
  taskcluster/docker/eval/final_eval.txt
  taskcluster/kinds/all-pr-pipeline/kind.yml
  taskcluster/kinds/final-eval-lang/kind.yml
  taskcluster/kinds/upload-final-eval-lang/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add filtering notebook
  experiments/llmaat/notebooks/Filter generated corpus.ipynb
Due: none

Update docs
  README.md
  docs/README.md
  docs/assets/tracking/wandb_group_by_group.png
  docs/assets/tracking/wandb_no_grouping.png
  docs/contributing/development.md
  docs/contributing/index.md
  docs/data-and-cleaning/bicleaner.md
  docs/data-and-cleaning/datasets.md
  docs/data-and-cleaning/index.md
  docs/infrastructure/db.md
  docs/infrastructure/orchestrators.md
  docs/infrastructure/snakemake.md
  docs/infrastructure/task-cluster.md
  docs/infrastructure/tracking.md
  docs/training/README.md
  docs/training/final-evaluations.md
  docs/training/languages.md
  docs/training/llm-synthetic.md
  docs/training/opus-trainer.md
  docs/training/pipeline-steps.md
  docs/training/teacher-ensemble.md
  docs/training/using-pretrained-models.md
  docs/training/vocab-size.md
  experiments/llmaat/README.md
Due: none
