Repository mozilla/translations: changes, and which Taskcluster tasks are due for each by the changed paths.
All: test, taskgraph-definition, taskgraph-diff

test:
  worker-type: b-cpu
  worker:
    max-run-time: 3600
    docker-image:
      in-tree: test
  run:
    command:
    - bash
    - -c
    - export BIN=$MOZ_FETCHES_DIR && export MARIAN=$MOZ_FETCHES_DIR && task test
  run-on-tasks-for:
  - github-push
  - github-pull-request
  fetches:
    toolchain:
    - fast-align
    - extract-lex
  ...

taskgraph-definition:
  worker-type: b-cpu
  worker:
    docker-image:
      in-tree: test
    max-run-time: 3600
  description: Test the full `translations_taskgraph` to validate the latest changes
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command: task taskgraph-validate

taskgraph-diff:
  worker-type: b-cpu
  worker:
    docker-image:
      in-tree: test
    max-run-time: 1200
  description: Create diffs of taskgraphs vs. base revision.
  run-on-tasks-for:
  - github-pull-request
  run:
    command: task taskgraph-diff BASE_REV={base_rev} OUTPUT_FILE=$TASK_WORKDIR/artifacts/taskgraph.diff

Force simgalign to use gpu when available
  pipeline/eval/eval.py
Due: test, taskgraph-definition

If list of tokens is empty, loop has to continue to the next iteration
  pipeline/eval/eval.py
Due: test, taskgraph-definition

Fix ruff lint
  tests/test_tokenizer.py
Due: test

Remove unused tokenize_nospace
  pipeline/eval/eval.py
Due: test, taskgraph-definition

refix lint-ruff
  tests/test_tokenizer.py
Due: test

Move pontoon variables to a submodule
  pipeline/data/parallel_downloaders.py
  pipeline/data/pontoon.py
  utils/config_generator.py
Due: test, taskgraph-definition

Remove todo
  pipeline/data/parallel_importer.py
Due: test, taskgraph-definition

Dedupe in samplemodifier
  pipeline/data/parallel_importer.py
Due: test, taskgraph-definition

temp: silly change to get CI running
  README.md
Due: none

Remove test models and git lfs
  .gitattributes
  inference/wasm/tests/models/enes/lex.50.50.enes.s2t.bin.gz
  inference/wasm/tests/models/enes/model.enes.intgemm.alphas.bin.gz
  inference/wasm/tests/models/enes/vocab.enes.spm.gz
  inference/wasm/tests/models/enfr/lex.50.50.enfr.s2t.bin.gz
  inference/wasm/tests/models/enfr/model.enfr.intgemm.alphas.bin.gz
  inference/wasm/tests/models/enfr/vocab.enfr.spm.gz
  inference/wasm/tests/models/enzh/lex.50.50.enzh.s2t.bin.gz
  inference/wasm/tests/models/enzh/model.enzh.intgemm.alphas.bin.gz
  inference/wasm/tests/models/enzh/vocab.enzh.spm.gz
  inference/wasm/tests/models/esen/lex.50.50.esen.s2t.bin.gz
  inference/wasm/tests/models/esen/model.esen.intgemm.alphas.bin.gz
  inference/wasm/tests/models/esen/vocab.esen.spm.gz
  inference/wasm/tests/models/fren/lex.50.50.fren.s2t.bin.gz
  inference/wasm/tests/models/fren/model.fren.intgemm.alphas.bin.gz
  inference/wasm/tests/models/fren/vocab.fren.spm.gz
  inference/wasm/tests/models/zhen/lex.50.50.zhen.s2t.bin.gz
  inference/wasm/tests/models/zhen/model.zhen.intgemm.alphas.bin.gz
  inference/wasm/tests/models/zhen/vocab.zhen.spm.gz
  taskcluster/docker/base/Dockerfile
Due: test, taskgraph-definition, taskgraph-diff

Increase OpusTrainer batch size (#1243)
  pipeline/train/train.py
Due: test, taskgraph-definition

Update configs
  configs/retrain_hr/cs-en.yml
  configs/retrain_hr/en-bg.yml
  configs/retrain_hr/en-cs.yml
  configs/retrain_hr/en-de.yml
  configs/retrain_hr/en-es.yml
  configs/retrain_hr/en-et.yml
  configs/retrain_hr/en-fi.yml
  configs/retrain_hr/en-fr.yml
  configs/retrain_hr/en-it.yml
  configs/retrain_hr/en-nl.yml
  configs/retrain_hr/en-pl.yml
  configs/retrain_hr/en-pt.yml
  configs/retrain_hr/it-en.yml
  configs/retrain_hr/nl-en.yml
Due: none

Replace local models to GCS
  inference/scripts/test-wasm.py
Due: none

Fix uploading artifacts
  taskcluster/kinds/upload-artifacts/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Fix uploading artifacts (#1251)
  taskcluster/kinds/upload-artifacts/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Remove git lfs (#1250)
  .gitattributes
  inference/scripts/test-wasm.py
  inference/wasm/tests/models/enes/lex.50.50.enes.s2t.bin.gz
  inference/wasm/tests/models/enes/model.enes.intgemm.alphas.bin.gz
  inference/wasm/tests/models/enes/vocab.enes.spm.gz
  inference/wasm/tests/models/enfr/lex.50.50.enfr.s2t.bin.gz
  inference/wasm/tests/models/enfr/model.enfr.intgemm.alphas.bin.gz
  inference/wasm/tests/models/enfr/vocab.enfr.spm.gz
  inference/wasm/tests/models/enzh/lex.50.50.enzh.s2t.bin.gz
  inference/wasm/tests/models/enzh/model.enzh.intgemm.alphas.bin.gz
  inference/wasm/tests/models/enzh/vocab.enzh.spm.gz
  inference/wasm/tests/models/esen/lex.50.50.esen.s2t.bin.gz
  inference/wasm/tests/models/esen/model.esen.intgemm.alphas.bin.gz
  inference/wasm/tests/models/esen/vocab.esen.spm.gz
  inference/wasm/tests/models/fren/lex.50.50.fren.s2t.bin.gz
  inference/wasm/tests/models/fren/model.fren.intgemm.alphas.bin.gz
  inference/wasm/tests/models/fren/vocab.fren.spm.gz
  inference/wasm/tests/models/zhen/lex.50.50.zhen.s2t.bin.gz
  inference/wasm/tests/models/zhen/model.zhen.intgemm.alphas.bin.gz
  inference/wasm/tests/models/zhen/vocab.zhen.spm.gz
  taskcluster/docker/base/Dockerfile
Due: test, taskgraph-definition, taskgraph-diff

Trigger final evals as an action (#1209)
  Taskfile.yml
  docs/training/final-evaluations.md
  pipeline/eval/eval-batch-instructions.md
  pipeline/eval/eval-final-summary.md
  pipeline/eval/llm.py
  pipeline/eval/requirements/llm.in
  pipeline/eval/requirements/llm.txt
  site/@types/utils.d.ts
  site/llm-evals/index.html
  site/llm-evals/llm-evals.css
  site/llm-evals/llm-evals.mjs
  site/llm-evals/llm-evals.ts
  site/llm-evals/terminology.mjs
  site/utils.mjs
  taskcluster/configs/eval.yml
  taskcluster/kinds/final-eval/kind.yml
  taskcluster/kinds/upload-final-eval/kind.yml
  taskcluster/translations_taskgraph/__init__.py
  taskcluster/translations_taskgraph/actions/evaluate.py
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/target_tasks.py
  tests/fixtures/__init__.py
  tests/test_config_validation.py
  tests/test_final_eval.py
  utils/preflight_check.py
  utils/trigger_eval.py
  utils/trigger_training.py
Due: test, taskgraph-definition, taskgraph-diff

Fix registry generation
  utils/model_registry.py
Due: none

Request only "inter" alignments
  pipeline/eval/eval.py
Due: test, taskgraph-definition

Fix lint
  pipeline/eval/eval.py
Due: test, taskgraph-definition

add unaligned ratio metric score
  docs/training/README.md
Due: none

Evaluate short sentences with unaligned ratio metric (#1215)
  configs/autogenerated/en-pl-example.yml
  docs/training/README.md
  pipeline/alignments/tokenizer.py
  pipeline/common/downloads.py
  pipeline/data/parallel_downloaders.py
  pipeline/data/parallel_importer.py
  pipeline/data/pontoon.py
  pipeline/eval/eval.py
  pipeline/eval/requirements/eval.in
  pipeline/eval/requirements/eval.txt
  taskcluster/configs/config.ci.yml
  taskcluster/kinds/dataset/kind.yml
  tests/test_eval.py
  tests/test_tokenizer.py
  tracking/translations_parser/utils.py
  utils/config_generator.py
Due: test, taskgraph-definition, taskgraph-diff

Use db instead of json
  site/model-registry/model-registry.mjs
  utils/model_registry.py
Due: none

Refactor model registry updater
  db/models.py
  db/sql.py
  db/updater.py
  utils/model_registry.py
Due: none

Refactor schema
  db/sql.py
  db/updater.py
  site/model-registry/model-registry.mjs
Due: none

Fix schema and config
  db/models.py
  site/model-registry/model-registry.mjs
Due: none

Fix pl config
  configs/retrain_hr/en-pl.yml
Due: none

Revert "Enable debug logging"
  taskcluster/translations_taskgraph/actions/train.py
Due: test, taskgraph-definition, taskgraph-diff

Add a view for what models will show in Nightly (#1175)
  site/firefox-models/index.html
  site/firefox-models/models.mjs
Due: none

Updata japanese config
  configs/docmt-vocab/en-ja.yml
Due: none

Upload docmt-vocab training configs
  configs/docmt-vocab/en-is.yml
  configs/docmt-vocab/en-ja.yml
  configs/docmt-vocab/en-uk.yml
  configs/docmt-vocab/is-en.yml
Due: none

Add sep and misc user defined symbols to the vocab
  pipeline/train/spm-vocab.sh
Due: test, taskgraph-definition

High resource training (#1239)
  configs/autogenerated/en-bg.yml
  configs/autogenerated/en-cs.yml
  configs/autogenerated/en-de.yml
  configs/autogenerated/en-et.yml
  configs/autogenerated/en-fi.yml
  configs/autogenerated/en-it.yml
  configs/autogenerated/en-nl.yml
  configs/autogenerated/en-pt.yml
  configs/retrain_hr/bg-en.yml
  configs/retrain_hr/cs-en.yml
  configs/retrain_hr/de-en.yml
  configs/retrain_hr/en-bg.yml
  configs/retrain_hr/en-cs.yml
  configs/retrain_hr/en-de.yml
  configs/retrain_hr/en-es.yml
  configs/retrain_hr/en-et.yml
  configs/retrain_hr/en-fi.yml
  configs/retrain_hr/en-fr.yml
  configs/retrain_hr/en-it.yml
  configs/retrain_hr/en-nl.yml
  configs/retrain_hr/en-pl.yml
  configs/retrain_hr/en-pt.yml
  configs/retrain_hr/es-en.yml
  configs/retrain_hr/et-en.yml
  configs/retrain_hr/fi-en.yml
  configs/retrain_hr/fr-en.yml
  configs/retrain_hr/it-en.yml
  configs/retrain_hr/nl-en.yml
  configs/retrain_hr/pl-en.yml
  configs/retrain_hr/pt-en.yml
Due: none

New vocab `__sep__` symbol for DocMT and auxiliary symbols (#1217)
  configs/docmt-vocab/en-is.yml
  configs/docmt-vocab/en-ja.yml
  configs/docmt-vocab/en-uk.yml
  configs/docmt-vocab/is-en.yml
  pipeline/train/spm-vocab.sh
Due: test, taskgraph-definition

Switch to NLLB fasttext for language identification by default
  pipeline/clean/opuscleaner/clean-parallel.sh
  pipeline/clean/opuscleaner/configs/default.filters.json
  pipeline/clean/opuscleaner/configs/en-fr/opus_UNPC-v1.0.filters.json
  pipeline/clean/opuscleaner/configs/en-ja/default.filters.json
  pipeline/clean/opuscleaner/configs/en-ko/default.filters.json
  pipeline/clean/opuscleaner/configs/en-pt/opus_JRC-Acquis-v3.0.filters.json
  pipeline/clean/opuscleaner/configs/en-zh/default.filters.json
  pipeline/clean/opuscleaner/configs/en-zh/opus_WikiMatrix-v1.filters.json
  pipeline/clean/opuscleaner/configs/en-zh/opus_bible-uedin-v1.filters.json
  pipeline/clean/opuscleaner/configs/fr-en/opus_UNPC-v1.0.filters.json
  pipeline/clean/opuscleaner/configs/ja-en/default.filters.json
  pipeline/clean/opuscleaner/configs/ko-en/default.filters.json
  pipeline/clean/opuscleaner/configs/opus_ECB-v1.filters.json
  pipeline/clean/opuscleaner/configs/opus_EUconst-v1.filters.json
  pipeline/clean/opuscleaner/configs/opus_NeuLab-TedTalks-v1.filters.json
  pipeline/clean/opuscleaner/configs/opus_SETIMES-v2.filters.json
  pipeline/clean/opuscleaner/configs/opus_UNPC-v1.0.filters.json
  pipeline/clean/opuscleaner/configs/opus_Wikipedia-v1.0.filters.json
  pipeline/clean/opuscleaner/configs/opus_ada83-v1.filters.json
  pipeline/clean/opuscleaner/configs/opus_wikimedia-v20230407.json
  pipeline/clean/opuscleaner/configs/pt-en/opus_JRC-Acquis-v3.0.filters.json
  pipeline/clean/opuscleaner/configs/ru-en/opus_ELRC-3075-wikipedia_health-v1.filters.json
  pipeline/clean/opuscleaner/configs/zh-en/default.filters.json
  pipeline/clean/opuscleaner/configs/zh-en/opus_WikiMatrix-v1.filters.json
  pipeline/clean/opuscleaner/configs/zh-en/opus_bible-uedin-v1.filters.json
  pipeline/clean/requirements/clean-parallel.in
  pipeline/clean/requirements/clean-parallel.txt
Due: test, taskgraph-definition

typo
  pipeline/clean/opuscleaner/clean-parallel.sh
Due: test, taskgraph-definition

latest opuscleaner version was missing
  pipeline/clean/requirements/clean-parallel.in
  pipeline/clean/requirements/clean-parallel.txt
Due: test, taskgraph-definition

Path conditions:
  test: any of: pipeline/**, tests/**, tracking/**, taskcluster/**, poetry.*, Taskfile.yml
  taskgraph-definition: any of: pipeline/**, taskcluster/**
  taskgraph-diff: any of: taskcluster/**
