Repository mozilla/translations: changes, and which Taskcluster tasks are due for each by the changed paths.
All: test, taskgraph-definition, taskgraph-diff

Path conditions:
  test: any of: pipeline/**, tests/**, tracking/**, taskcluster/**, poetry.*, Taskfile.yml
  taskgraph-definition: any of: pipeline/**, taskcluster/**
  taskgraph-diff: any of: taskcluster/**

Minor fixes by Claude
  docs/contributing/index.md
  docs/data-and-cleaning/index.md
  docs/infrastructure/task-cluster.md
  docs/infrastructure/tracking.md
  docs/training/README.md
  docs/training/languages.md
  docs/training/llm-synthetic.md
  docs/training/opus-trainer.md
  docs/training/pipeline-steps.md
  docs/training/vocab-size.md
Due: none

hbs exception for mono langid
  .gitignore
  pipeline/clean/tools/langid_fasttext.py
Due: test, taskgraph-definition

Remove mtdata Naulab Tedtalks from CI and config generator (#1374)
  utils/config_generator.py
Due: none

Include final evals in CI (#1373)
  Taskfile.yml
  docs/training/final-evaluations.md
  pipeline/eval/final_eval.py
  taskcluster/configs/eval.all.yml
  taskcluster/configs/eval.ci.yml
  taskcluster/docker/eval/final_eval.in
  taskcluster/docker/eval/final_eval.txt
  taskcluster/kinds/all-pr-pipeline/kind.yml
  taskcluster/kinds/final-eval-lang/kind.yml
  taskcluster/kinds/upload-final-eval-lang/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Change opuscleaner-mode to 'customs' when generating a config (#1370)
  docs/data-and-cleaning/index.md
  taskcluster/configs/config.prod.yml
Due: test, taskgraph-definition, taskgraph-diff

Add sampling support for marian and ctranslate
  pipeline/translate/translate.py
  pipeline/translate/translate_ctranslate2.py
  tests/fixtures/__init__.py
  tests/test_ctranslate2.py
  tests/test_translate.py
Due: test, taskgraph-definition

Use default script alpha ratio in bs and sr
  pipeline/clean/opuscleaner/configs/en-bs/default.filters.json
  pipeline/clean/opuscleaner/configs/en-sr/default.filters.json
  taskcluster/kinds/corpus-clean-parallel/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Hotfix for Bosnian HPLT which has 'hbs' in seg_langs
  pipeline/data/hplt.py
Due: test, taskgraph-definition

Add missing hplt.py in dataset kind cache resources
  taskcluster/kinds/dataset/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Move hotfix after download starts
  pipeline/data/hplt.py
Due: test, taskgraph-definition

Clarify deduplication logic
  docs/training/pipeline-steps.md
Due: none

Clarify which task group ID to use
  docs/infrastructure/task-cluster.md
Due: none

Add a reference to the main guide
  docs/training/using-pretrained-models.md
Due: none

Fix dataset download for final eval
  taskcluster/docker/eval/final_eval.in
  taskcluster/docker/eval/final_eval.txt
Due: test, taskgraph-definition, taskgraph-diff

Add split-digits to joint vocab
  pipeline/train/spm-vocab.sh
Due: test, taskgraph-definition

Remove debug logging level on translate.py
  pipeline/translate/translate.py
Due: test, taskgraph-definition

reverse th-en opuscleaner config
  pipeline/clean/opuscleaner/configs/th-en/default.filters.json
Due: test, taskgraph-definition

Refresh docs (#1378)
  README.md
  docs/README.md
  docs/assets/tracking/wandb_group_by_group.png
  docs/assets/tracking/wandb_no_grouping.png
  docs/contributing/development.md
  docs/contributing/index.md
  docs/data-and-cleaning/bicleaner.md
  docs/data-and-cleaning/datasets.md
  docs/data-and-cleaning/index.md
  docs/infrastructure/db.md
  docs/infrastructure/orchestrators.md
  docs/infrastructure/snakemake.md
  docs/infrastructure/task-cluster.md
  docs/infrastructure/tracking.md
  docs/training/README.md
  docs/training/final-evaluations.md
  docs/training/languages.md
  docs/training/llm-synthetic.md
  docs/training/opus-trainer.md
  docs/training/pipeline-steps.md
  docs/training/teacher-ensemble.md
  docs/training/using-pretrained-models.md
  docs/training/vocab-size.md
  experiments/llmaat/README.md
  experiments/llmaat/notebooks/Filter generated corpus.ipynb
Due: none

Redefine fasttext langcode logic handling
  pipeline/clean/tools/langid_fasttext.py
  pipeline/langs/codes.py
  pipeline/langs/maps.py
  tests/test_lang_codes.py
Due: test, taskgraph-definition

Add hbs configs
  configs/hbs/en-bs-topk10.yml
  configs/hbs/en-bs.yml
  configs/hbs/en-hr.yml
  configs/hbs/en-sr-topk10.yml
  configs/hbs/en-sr.yml
  configs/hbs/hbs-en-eval-bs.yml
  configs/hbs/hbs-en-eval-sr.yml
Due: none

HPLT seg_langs hotfix for Croatian
  pipeline/data/hplt.py
Due: test, taskgraph-definition

Fix Bouquet wrong code for English
  pipeline/eval/eval_datasets.py
Due: test, taskgraph-definition

Raise ValueError when beam-size is not 1 if sampling is activated
  pipeline/translate/translate.py
Due: test, taskgraph-definition

Update docs
  docs/training/README.md
Due: none

Decoding by sampling support (#1381)
  docs/training/README.md
  pipeline/translate/translate.py
  pipeline/translate/translate_ctranslate2.py
  tests/fixtures/__init__.py
  tests/test_ctranslate2.py
  tests/test_translate.py
Due: test, taskgraph-definition

Update bicleaner-ai
  pipeline/bicleaner/requirements/bicleaner-ai.in
  pipeline/bicleaner/requirements/bicleaner-ai.txt
Due: test, taskgraph-definition

Use fp16 and bigger batch in Bicleaner
  pipeline/bicleaner/bicleaner.sh
Due: test, taskgraph-definition

CUDA is now installed along with tensorflow with pip
  pipeline/bicleaner/bicleaner.sh
  pipeline/bicleaner/requirements/bicleaner-ai.in
  pipeline/bicleaner/requirements/bicleaner-ai.txt
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add spm-norm-rule param to test configs
  tests/fixtures/config.pytest.enzh.yml
  tests/fixtures/config.pytest.enzh_hant.yml
  tests/fixtures/config.pytest.zh_hanten.yml
Due: test

Add advanced opuscleaning for thai but just for the en-th direction
  pipeline/clean/opuscleaner/configs/en-th/default.filters.json
Due: test, taskgraph-definition

Faster Bicleaner AI (#1387)
  pipeline/bicleaner/bicleaner.sh
  pipeline/bicleaner/requirements/bicleaner-ai.in
  pipeline/bicleaner/requirements/bicleaner-ai.txt
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Install uv in the base docker image
  taskcluster/docker/base/Dockerfile
Due: test, taskgraph-definition, taskgraph-diff

Use uv to install task python dependencies
  pipeline/eval/final_eval.py
  taskcluster/kinds/backtranslations-mono-trg-chunk/kind.yml
  taskcluster/kinds/backtranslations-mono-trg-translate/kind.yml
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/continuation-corpus/kind.yml
  taskcluster/kinds/continuation-model/kind.yml
  taskcluster/kinds/continuation-vocab/kind.yml
  taskcluster/kinds/corpus-align-backtranslations/kind.yml
  taskcluster/kinds/corpus-align-distillation/kind.yml
  taskcluster/kinds/corpus-align-parallel/kind.yml
  taskcluster/kinds/corpus-analyze-mono/kind.yml
  taskcluster/kinds/corpus-analyze-parallel/kind.yml
  taskcluster/kinds/corpus-clean-mono/kind.yml
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
  taskcluster/kinds/corpus-clean-parallel-fetch-bicleaner-model/kind.yml
  taskcluster/kinds/corpus-clean-parallel/kind.yml
  taskcluster/kinds/corpus-merge-devset/kind.yml
  taskcluster/kinds/corpus-merge-mono/kind.yml
  taskcluster/kinds/corpus-merge-parallel/kind.yml
  taskcluster/kinds/dataset/kind.yml
  taskcluster/kinds/distillation-corpus-build-shortlist/kind.yml
  taskcluster/kinds/distillation-mono-src-chunk/kind.yml
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-chunk/kind.yml
  taskcluster/kinds/distillation-parallel-src-extract-best/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-quantize/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/export/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
  taskcluster/kinds/update-db/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Set uv cache in task-cache to be reused
  taskcluster/docker/base/Dockerfile
  taskcluster/docker/eval/Dockerfile
  taskcluster/docker/inference/Dockerfile
  taskcluster/docker/test/Dockerfile
  taskcluster/docker/toolchain-build/Dockerfile
  taskcluster/docker/train/Dockerfile
Due: test, taskgraph-definition, taskgraph-diff
