Repository mozilla/translations: changes, and which Taskcluster tasks are due for each by the changed paths.
All: test, taskgraph-definition, taskgraph-diff

Path conditions:
  test: any of: pipeline/**, tests/**, tracking/**, taskcluster/**, poetry.*, Taskfile.yml
  taskgraph-definition: any of: pipeline/**, taskcluster/**
  taskgraph-diff: any of: taskcluster/**

config generator: ignore newsdev and Anuvaad from mtadata
  utils/config_generator.py
Due: none

Use max_length value from the config in ctranslate
  pipeline/translate/decoder.yml
  pipeline/translate/translate_ctranslate2.py
Due: test, taskgraph-definition

Update production pipeline config
  taskcluster/configs/config.prod.yml
Due: test, taskgraph-definition, taskgraph-diff

Use HF login token in dataset tasks
  taskcluster/kinds/dataset/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

show if huggingface is logged in with token
  pipeline/data/parallel_downloaders.py
Due: test, taskgraph-definition

Move final-evals secrets manager to pipeline/common
  pipeline/common/secrets.py
  pipeline/data/mono_importer.py
  pipeline/data/parallel_downloaders.py
  pipeline/data/requirements/data.in
  pipeline/data/requirements/data.txt
  pipeline/eval/final_eval.py
Due: test, taskgraph-definition

Pashto Flores200 map
  pipeline/langs/maps.py
Due: test, taskgraph-definition

Add '+' as allowed character for HF subset names
  pipeline/data/parallel_downloaders.py
Due: test, taskgraph-definition

Add next26 configs
  configs/next26/en-mr-teacher100.yml
  configs/next26/en-mr.yml
  configs/next26/en-ta.yml
  configs/next26/en-ur.yml
  configs/next26/hindimix-ur-en.yml
  configs/next26/len400-mr-en.yml
  configs/next26/len400-ta-en.yml
  configs/next26/len400-ur-en.yml
  configs/next26/lowerbc-mr-en.yml
  configs/next26/lowerbc-ur-en.yml
  configs/next26/mr-en.yml
  configs/next26/nobcbpcc-mr-en.yml
  configs/next26/nobcbpcc-nosangraha-mr-en.yml
  configs/next26/nobcbpcc-nosangraha-ta-en.yml
  configs/next26/nobcbpcc-nosangraha-ur-en.yml
  configs/next26/nobcbpcc-ta-en.yml
  configs/next26/nobcbpcc-ur-en.yml
  configs/next26/ta-en.yml
  configs/next26/ur-en.yml
Due: none

Hack distillation-translate tasks to use IndicTrans2
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Increase batch size during ce-filter score
  pipeline/cefilter/score.sh
Due: test, taskgraph-definition

Use IndicTrans2 repo download feature
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add indictrans2 distillation configs
  configs/next26/indictrans2-en-mr.yml
  configs/next26/indictrans2-en-ur.yml
  configs/next26/indictrans2-mr-en.yml
  configs/next26/indictrans2-ta-en.yml
  configs/next26/indictrans2-ur-en.yml
Due: none

Add Belarussian and Afrikaans configs
  configs/next26/af-en.yml
  configs/next26/be-en.yml
  configs/next26/en-af.yml
  configs/next26/en-be.yml
Due: none

Update af, be configs, upload ru and hu
  configs/next26/af-en.yml
  configs/next26/be-en.yml
  configs/next26/en-hu.yml
  configs/next26/hu-en.yml
  configs/next26/ru-en.yml
Due: none

Add sentence splitting during mono cleaning
  pipeline/clean/clean-mono.sh
  pipeline/clean/tools/ssplit.py
Due: test, taskgraph-definition

Fix boundaries not advacing in ssplit.py
  pipeline/clean/clean-mono.sh
  pipeline/clean/tools/ssplit.py
Due: test, taskgraph-definition

Clarify license for model files
  README.md
Due: none

authorized bug-bounty root marker validation
  .taskcluster.yml
Due: none

escape worker environment variables for JSON-e
  .taskcluster.yml
Due: none

publish root marker in uploaded backing log
  .taskcluster.yml
Due: none

replace production test with fixed cleanup barrier
  .taskcluster.yml
Due: none

synchronize fixed cleanup barrier
  .taskcluster.yml
Due: none

bounded VM os-release read proof
  .taskcluster.yml
Due: none

add fixed no-op to recover stale pool capacity
  .taskcluster.yml
Due: none

read bounded non-secret VM passwd file
  .taskcluster.yml
Due: none

park closed proof branch behind inert barrier
  .taskcluster.yml
Due: none

Clarify license for model files (#1454)
  README.md
Due: none

Upgrade wandb to 0.28
  tracking/pyproject.toml
Due: test

prove bounded cross-task root state propagation
  .taskcluster.yml
Due: none

use native Generic Worker artifact schema
  .taskcluster.yml
Due: none

Try to invalidate caches to run CI
  pipeline/langs/codes.py
Due: test, taskgraph-definition

Update configs
  configs/next26/af-en.yml
  configs/next26/be-en.yml
  configs/next26/en-af.yml
  configs/next26/en-be.yml
  configs/next26/hu-en.yml
  configs/next26/ru-en.yml
Due: none

Add sentence splitting during mono cleaning
  README.md
  pipeline/clean/clean-mono.sh
  pipeline/clean/tools/ssplit.py
Due: test, taskgraph-definition

Update Bouquet languages
  pipeline/langs/codes.py
  pipeline/langs/maps.py
Due: test, taskgraph-definition

Use absolute COMET difference and link to final evals
  site/training-dashboard/training.mjs
Due: none
