Repository mozilla/translations: changes, and which Taskcluster tasks are due for each by the changed paths.
All: test, taskgraph-definition, taskgraph-diff

Path conditions:
  test: any of: pipeline/**, tests/**, tracking/**, taskcluster/**, poetry.*, Taskfile.yml
  taskgraph-definition: any of: pipeline/**, taskcluster/**
  taskgraph-diff: any of: taskcluster/**

Use uv to install deps in the venvs for tests
  tests/fixtures/__init__.py
Due: test

Use uv to install deps in the venvs for tests
  taskcluster/docker/base/Dockerfile
  taskcluster/docker/test/Dockerfile
  taskcluster/docker/toolchain-build/Dockerfile
  tests/fixtures/__init__.py
Due: test, taskgraph-definition, taskgraph-diff

Discorver multilingual models in final evals
  pipeline/eval/final_eval.py
  pipeline/eval/translators.py
  pipeline/langs/codes.py
  pipeline/langs/maps.py
Due: test, taskgraph-definition

Install uv pip dependencies in a virtual environment
  taskcluster/kinds/backtranslations-mono-trg-chunk/kind.yml
  taskcluster/kinds/backtranslations-mono-trg-translate/kind.yml
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/continuation-corpus/kind.yml
  taskcluster/kinds/continuation-model/kind.yml
  taskcluster/kinds/continuation-vocab/kind.yml
  taskcluster/kinds/corpus-align-backtranslations/kind.yml
  taskcluster/kinds/corpus-align-distillation/kind.yml
  taskcluster/kinds/corpus-align-parallel/kind.yml
  taskcluster/kinds/corpus-analyze-mono/kind.yml
  taskcluster/kinds/corpus-analyze-parallel/kind.yml
  taskcluster/kinds/corpus-clean-mono/kind.yml
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
  taskcluster/kinds/corpus-clean-parallel-fetch-bicleaner-model/kind.yml
  taskcluster/kinds/corpus-clean-parallel/kind.yml
  taskcluster/kinds/corpus-merge-devset/kind.yml
  taskcluster/kinds/corpus-merge-mono/kind.yml
  taskcluster/kinds/corpus-merge-parallel/kind.yml
  taskcluster/kinds/dataset/kind.yml
  taskcluster/kinds/distillation-corpus-build-shortlist/kind.yml
  taskcluster/kinds/distillation-mono-src-chunk/kind.yml
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-chunk/kind.yml
  taskcluster/kinds/distillation-parallel-src-extract-best/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-quantize/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/export/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
  taskcluster/kinds/update-db/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add en-de config
  configs/llmaat/en-de-finetune.yml
Due: none

Fix python env path when copying fetched lid models
  taskcluster/kinds/corpus-clean-parallel/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add last hbs configs
  configs/hbs/en-hr.yml
  configs/hbs/en-sr-topk10.yml
Due: none

Fix export task env not having system packages
  taskcluster/kinds/export/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Update docs, leave nfkc as default for now.
  docs/training/README.md
Due: none

add uv to use-caches
  taskcluster/kinds/backtranslations-mono-trg-translate/kind.yml
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/build-vocab/kind.yml
  taskcluster/kinds/compile/kind.yml
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translations-score/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/final-eval-lang/kind.yml
  taskcluster/kinds/final-eval/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
  taskcluster/kinds/update-db/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Use uv to install and manage metricx venv
  pipeline/eval/metrics.py
Due: test, taskgraph-definition

lint fix
  pipeline/eval/metrics.py
Due: test, taskgraph-definition

Add NTREX dataset downloader support
  docs/data-and-cleaning/datasets.md
  pipeline/data/parallel_downloaders.py
  pipeline/langs/codes.py
  pipeline/langs/maps.py
  taskcluster/kinds/dataset/kind.yml
  tests/data/corpus_samples/ntrex-dataset.en
  tests/data/corpus_samples/ntrex-dataset.ru
  tests/fixtures/__init__.py
  tests/fixtures/config.pytest.yml
  tests/test_data_importer.py
  utils/config_generator.py
Due: test, taskgraph-definition, taskgraph-diff

Fix ntrex url
  pipeline/data/parallel_downloaders.py
  tests/fixtures/__init__.py
Due: test, taskgraph-definition

Add NTREX dataset downloader support (#1399)
  docs/data-and-cleaning/datasets.md
  pipeline/data/parallel_downloaders.py
  pipeline/langs/codes.py
  pipeline/langs/maps.py
  taskcluster/kinds/dataset/kind.yml
  tests/data/corpus_samples/ntrex-dataset.en
  tests/data/corpus_samples/ntrex-dataset.ru
  tests/fixtures/__init__.py
  tests/fixtures/config.pytest.yml
  tests/test_data_importer.py
  utils/config_generator.py
Due: test, taskgraph-definition, taskgraph-diff

Fix zh tests configs with spm-norm-rule missing
  tests/fixtures/config.pytest.enzh_hant.yml
  tests/fixtures/config.pytest.zh_hanten.yml
Due: test

Add lid models to gitignore
  .gitignore
Due: none

Add missing dependency fetch
  taskcluster/kinds/build-vocab/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Fix taskgraph removing files that are not present anymore
  taskcluster/kinds/build-vocab/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Update Flores101 to Flores200 for the training pipeline
  pipeline/data/parallel_downloaders.py
  pipeline/langs/codes.py
  pipeline/langs/maps.py
  pipeline/langs/scripts.py
  tests/data/corpus_samples/flores200_dataset.tar.gz
  tests/fixtures/__init__.py
  tests/test_lang_codes.py
  utils/config_generator.py
Due: test, taskgraph-definition

Add dev-max-sentences config parameter
  taskcluster/configs/config.ci.yml
  taskcluster/configs/config.prod.yml
  taskcluster/kinds/corpus-merge-devset/kind.yml
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
Due: test, taskgraph-definition, taskgraph-diff

typo
  taskcluster/translations_taskgraph/parameters.py
Due: test, taskgraph-definition, taskgraph-diff

Add hplt.py files to dataset cache resources
  taskcluster/kinds/dataset/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add suport for generic monolingual HF dataset
  docs/data-and-cleaning/datasets.md
  pipeline/common/datasets.py
  pipeline/data/mono_importer.py
  pipeline/data/requirements/data.in
  pipeline/data/requirements/data.txt
  taskcluster/kinds/dataset/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Rename HuggingFace importer to 'hf'
  pipeline/data/mono_importer.py
  taskcluster/kinds/dataset/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Move hf dataset revision to the end
  docs/data-and-cleaning/datasets.md
  pipeline/data/mono_importer.py
Due: test, taskgraph-definition

Add parallel importer for Hugging Face
  docs/data-and-cleaning/datasets.md
  pipeline/data/parallel_downloaders.py
Due: test, taskgraph-definition

Remove unused main function and import datasets inline
  pipeline/data/parallel_downloaders.py
Due: test, taskgraph-definition

Add tests for hfp importer and add dataset kind for it
  pipeline/data/parallel_downloaders.py
  taskcluster/kinds/dataset/kind.yml
  taskcluster/translations_taskgraph/util/dataset_helpers.py
  tests/data/corpus_samples/hfp_dataset/README
  tests/data/corpus_samples/hfp_dataset/ru-en.tsv
  tests/data/corpus_samples/hfp_dataset2/README
  tests/data/corpus_samples/hfp_dataset2/es-sv/train-00000-of-00001.parquet
  tests/fixtures/config.pytest.yml
  tests/test_data_importer.py
Due: test, taskgraph-definition, taskgraph-diff

Add hf monolingual importer test
  pipeline/data/mono_importer.py
  taskcluster/kinds/dataset/kind.yml
  tests/data/corpus_samples/hf_dataset/train.jsonl
  tests/data/corpus_samples/hfp_dataset/README.md
  tests/data/corpus_samples/hfp_dataset2/README.md
  tests/fixtures/config.pytest.yml
  tests/test_data_importer.py
Due: test, taskgraph-definition, taskgraph-diff

Ignore pyright warning
  pipeline/data/parallel_downloaders.py
Due: test, taskgraph-definition

Fix info bytes in hf mono importer
  pipeline/data/mono_importer.py
Due: test, taskgraph-definition

Add split_digits
  pipeline/train/spm-vocab.sh
Due: test, taskgraph-definition

enable model continuation init (not working)
  taskcluster/kinds/continuation-model/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
  taskcluster/translations_taskgraph/transforms/continuation.py
Due: test, taskgraph-definition, taskgraph-diff

Add ntrex importer to tracking code
  tracking/translations_parser/utils.py
Due: test

Remove streaming from HF mono importer
  pipeline/data/mono_importer.py
Due: test, taskgraph-definition
