Repository mozilla/translations: changes, and which Taskcluster tasks are due for each by the changed paths.
All: test, taskgraph-definition, taskgraph-diff

test:
  worker-type: b-cpu
  worker:
    max-run-time: 3600
    docker-image:
      in-tree: test
  run:
    command:
    - bash
    - -c
    - export BIN=$MOZ_FETCHES_DIR && export MARIAN=$MOZ_FETCHES_DIR && task test
  run-on-tasks-for:
  - github-push
  - github-pull-request
  fetches:
    toolchain:
    - fast-align
    - extract-lex
  ...

taskgraph-definition:
  worker-type: b-cpu
  worker:
    docker-image:
      in-tree: test
    max-run-time: 3600
  description: Test the full `translations_taskgraph` to validate the latest changes
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command: task taskgraph-validate

taskgraph-diff:
  worker-type: b-cpu
  worker:
    docker-image:
      in-tree: test
    max-run-time: 1200
  description: Create diffs of taskgraphs vs. base revision.
  run-on-tasks-for:
  - github-pull-request
  run:
    command: task taskgraph-diff BASE_REV={base_rev} OUTPUT_FILE=$TASK_WORKDIR/artifacts/taskgraph.diff

Disable sentence splitter
  inference/src/translator/text_processor.cpp
Due: none

Udes fasttest 0.9.3
  pipeline/clean/requirements/clean-parallel.in
  pipeline/clean/requirements/clean-parallel.txt
Due: test, taskgraph-definition

Remove LinguaTools-WikiTitles
  utils/config_generator.py
Due: none

Filter mismatched paratheses during training
  pipeline/train/train.py
Due: test, taskgraph-definition

Add configs
  configs/fix_parantheses/en-de.yml
  configs/fix_parantheses/en-es.yml
  configs/fix_parantheses/en-it.yml
  configs/fix_parantheses/en-nl.yml
  configs/fix_parantheses/en-pl.yml
  configs/fix_parantheses/en-pt.yml
Due: none

Rerun corpus continuation
  taskcluster/kinds/continuation-corpus/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Bump disk
  taskcluster/kinds/continuation-corpus/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Change db path
  db/updater.py
  site/model-registry/model-registry.mjs
Due: none

Refactor methods
  db/updater.py
Due: none

Do not install heliport
  pipeline/clean/requirements/clean-parallel.in
  pipeline/clean/requirements/clean-parallel.txt
Due: test, taskgraph-definition

Use nllb lid non-shortened link
  pipeline/clean/opuscleaner/clean-parallel.sh
Due: test, taskgraph-definition

Refactor and fix evals
  db/updater.py
Due: none

Remove debug code and run linter
  db/sql.py
  db/updater.py
Due: none

Do not rerun for existing data
  db/sql.py
  db/updater.py
Due: none

Fix db path
  site/model-registry/model-registry.mjs
Due: none

Add readme
  db/README.md
Due: none

Switch to NLLB fasttext for language identification by default (#1269)
  pipeline/clean/opuscleaner/clean-parallel.sh
  pipeline/clean/opuscleaner/configs/default.filters.json
  pipeline/clean/opuscleaner/configs/en-fr/opus_UNPC-v1.0.filters.json
  pipeline/clean/opuscleaner/configs/en-ja/default.filters.json
  pipeline/clean/opuscleaner/configs/en-ko/default.filters.json
  pipeline/clean/opuscleaner/configs/en-pt/opus_JRC-Acquis-v3.0.filters.json
  pipeline/clean/opuscleaner/configs/en-zh/default.filters.json
  pipeline/clean/opuscleaner/configs/en-zh/opus_WikiMatrix-v1.filters.json
  pipeline/clean/opuscleaner/configs/en-zh/opus_bible-uedin-v1.filters.json
  pipeline/clean/opuscleaner/configs/fr-en/opus_UNPC-v1.0.filters.json
  pipeline/clean/opuscleaner/configs/ja-en/default.filters.json
  pipeline/clean/opuscleaner/configs/ko-en/default.filters.json
  pipeline/clean/opuscleaner/configs/opus_ECB-v1.filters.json
  pipeline/clean/opuscleaner/configs/opus_EUconst-v1.filters.json
  pipeline/clean/opuscleaner/configs/opus_NeuLab-TedTalks-v1.filters.json
  pipeline/clean/opuscleaner/configs/opus_SETIMES-v2.filters.json
  pipeline/clean/opuscleaner/configs/opus_UNPC-v1.0.filters.json
  pipeline/clean/opuscleaner/configs/opus_Wikipedia-v1.0.filters.json
  pipeline/clean/opuscleaner/configs/opus_ada83-v1.filters.json
  pipeline/clean/opuscleaner/configs/opus_wikimedia-v20230407.json
  pipeline/clean/opuscleaner/configs/pt-en/opus_JRC-Acquis-v3.0.filters.json
  pipeline/clean/opuscleaner/configs/ru-en/opus_ELRC-3075-wikipedia_health-v1.filters.json
  pipeline/clean/opuscleaner/configs/zh-en/default.filters.json
  pipeline/clean/opuscleaner/configs/zh-en/opus_WikiMatrix-v1.filters.json
  pipeline/clean/opuscleaner/configs/zh-en/opus_bible-uedin-v1.filters.json
  pipeline/clean/requirements/clean-parallel.in
  pipeline/clean/requirements/clean-parallel.txt
Due: test, taskgraph-definition

Add backwards model
  taskcluster/kinds/upload-artifacts/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add corpus uploading
  taskcluster/kinds/upload-artifacts/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Upload more artifacts
  taskcluster/kinds/upload-artifacts/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Fix corpus uploading
  taskcluster/kinds/upload-artifacts/kind.yml
  taskcluster/translations_taskgraph/transforms/upload_artifacts.py
Due: test, taskgraph-definition, taskgraph-diff

Remove LinguaTools-WikiTitles (#1272)
  utils/config_generator.py
Due: none

Use fp16 training
  pipeline/train/configs/training/teacher.train.yml
Due: test, taskgraph-definition

Add alias for shortlist
  taskcluster/translations_taskgraph/transforms/upload_artifacts.py
Due: test, taskgraph-definition, taskgraph-diff

Run linter
  taskcluster/translations_taskgraph/transforms/upload_artifacts.py
Due: test, taskgraph-definition, taskgraph-diff

Fix shortlist alias
  taskcluster/translations_taskgraph/transforms/upload_artifacts.py
Due: test, taskgraph-definition, taskgraph-diff

Exclude ELRC in mtdata
  utils/find_corpus.py
Due: none

Specify which ELRC datasets are test sets
  utils/config_generator.py
Due: none

Fix artifacts uploading (#1278)
  taskcluster/kinds/upload-artifacts/kind.yml
  taskcluster/translations_taskgraph/transforms/upload_artifacts.py
Due: test, taskgraph-definition, taskgraph-diff

ELRC shutdown fix (#1281)
  utils/config_generator.py
  utils/find_corpus.py
Due: none

Specify precision and cost-scaling manually, as the alias does not seem to work
  pipeline/train/configs/training/teacher.train.yml
Due: test, taskgraph-definition

Add translator CLI
  inference/CMakeLists.txt
  inference/src/app/CMakeLists.txt
  inference/src/app/translator_cli.cpp
  taskcluster/kinds/inference/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add classes for translators, datasets and metrics
  pipeline/eval/datasets.py
  pipeline/eval/final_eval.py
  pipeline/eval/metrics.py
  pipeline/eval/translators.py
Due: test, taskgraph-definition

Add more metrics
  pipeline/eval/eval.py
  pipeline/eval/final_eval.py
  pipeline/eval/langs.py
  pipeline/eval/metrics.py
  pipeline/eval/metricx.py
Due: test, taskgraph-definition

Add pivot translator
  pipeline/eval/final_eval.py
  pipeline/eval/translators.py
Due: test, taskgraph-definition

Extract metrics
  pipeline/eval/eval.py
  pipeline/eval/langs.py
  pipeline/eval/metrics.py
  pipeline/eval/metricx.py
Due: test, taskgraph-definition

Path conditions:
  test: any of: pipeline/**, tests/**, tracking/**, taskcluster/**, poetry.*, Taskfile.yml
  taskgraph-definition: any of: pipeline/**, taskcluster/**
  taskgraph-diff: any of: taskcluster/**
