Repository mozilla/translations: changes, and which Taskcluster tasks are due for each by the changed paths.
All: test, taskgraph-definition, taskgraph-diff

test:
  worker-type: b-cpu
  worker:
    max-run-time: 3600
    docker-image:
      in-tree: test
  run:
    command:
    - bash
    - -c
    - export BIN=$MOZ_FETCHES_DIR && export MARIAN=$MOZ_FETCHES_DIR && task test
  run-on-tasks-for:
  - github-push
  - github-pull-request
  fetches:
    toolchain:
    - fast-align
    - extract-lex
  ...

taskgraph-definition:
  worker-type: b-cpu
  worker:
    docker-image:
      in-tree: test
    max-run-time: 3600
  description: Test the full `translations_taskgraph` to validate the latest changes
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command: task taskgraph-validate

taskgraph-diff:
  worker-type: b-cpu
  worker:
    docker-image:
      in-tree: test
    max-run-time: 1200
  description: Create diffs of taskgraphs vs. base revision.
  run-on-tasks-for:
  - github-pull-request
  run:
    command: task taskgraph-diff BASE_REV={base_rev} OUTPUT_FILE=$TASK_WORKDIR/artifacts/taskgraph.diff

Add '+' as allowed character for HF subset names
  pipeline/data/parallel_downloaders.py
Due: test, taskgraph-definition

Use HF login token in dataset tasks
  taskcluster/kinds/dataset/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

show if huggingface is logged in with token
  pipeline/data/parallel_downloaders.py
Due: test, taskgraph-definition

Increase timeout limit for HPLT downloads
  pipeline/common/downloads.py
  pipeline/data/hplt.py
Due: test, taskgraph-definition

Move final-evals secrets manager to pipeline/common
  pipeline/common/secrets.py
  pipeline/data/mono_importer.py
  pipeline/data/parallel_downloaders.py
  pipeline/data/requirements/data.in
  pipeline/data/requirements/data.txt
  pipeline/eval/final_eval.py
Due: test, taskgraph-definition

Update newscrawl html page regex
  utils/find_corpus.py
Due: none

Restore streaming mode for monolingual HF datasets and skip HF token on tests
  pipeline/common/downloads.py
  pipeline/data/mono_importer.py
  pipeline/data/parallel_downloaders.py
Due: test, taskgraph-definition

statmt now uses https
  pipeline/data/mono_importer.py
  tests/fixtures/__init__.py
Due: test, taskgraph-definition

Restore streaming for monolingual datasets
  pipeline/data/mono_importer.py
Due: test, taskgraph-definition

More sophisticated get_download_size
  pipeline/common/downloads.py
Due: test, taskgraph-definition

fix cli parameter model_type
  pipeline/continuation/model.py
Due: test, taskgraph-definition

Add support for continuation-model-teacher
  taskcluster/configs/config.ci.yml
  taskcluster/kinds/continuation-model/kind.yml
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/transforms/continuation.py
  tests/test_continuation.py
Due: test, taskgraph-definition, taskgraph-diff

Add credentials to translate tasks for IndicTrans2 download
  pipeline/translate/translate_ctranslate2.py
  taskcluster/kinds/backtranslations-mono-trg-translate/kind.yml
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Fix renaming model_type parameter for continuation-model
  taskcluster/kinds/backtranslations-mono-trg-translate/kind.yml
  taskcluster/kinds/continuation-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

skip setting secrets if not in taskcluster
  pipeline/translate/translate_ctranslate2.py
Due: test, taskgraph-definition

Dummy download for continuation-model-teacher indictrans2
  pipeline/continuation/model.py
  taskcluster/kinds/continuation-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Skip model mounts
  taskcluster/translations_taskgraph/transforms/training_continuation.py
Due: test, taskgraph-definition, taskgraph-diff

Refactor ctranslate2.py to accept more decoders
  pipeline/translate/decoder.py
  pipeline/translate/translate.py
  pipeline/translate/translate_ctranslate2.py
Due: test, taskgraph-definition

Add IndiTrans2 translator class
  pipeline/translate/requirements/translate-indictrans2.in
  pipeline/translate/requirements/translate-indictrans2.txt
  pipeline/translate/translate.py
  pipeline/translate/translate_ctranslate2.py
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
  tests/test_ctranslate2.py
Due: test, taskgraph-definition, taskgraph-diff

typo
  taskcluster/kinds/continuation-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

lint fix
  pipeline/translate/translate_ctranslate2.py
Due: test, taskgraph-definition

fix hf download
  pipeline/data/parallel_downloaders.py
Due: test, taskgraph-definition

Fix typo
  pipeline/continuation/model.py
Due: test, taskgraph-definition

Remove duplicated import
  pipeline/continuation/model.py
  pipeline/data/parallel_downloaders.py
Due: test, taskgraph-definition

Update configs
  configs/next26/distil-bt-az-en.yml
  configs/next26/nllb-bc09-tl-en.yml
Due: none

Fix bash brackets
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Validate indictrans2 is teacher-decoder choice
  taskcluster/translations_taskgraph/actions/train.py
Due: test, taskgraph-definition, taskgraph-diff

backtranslations do not support indictrans2
  taskcluster/kinds/backtranslations-mono-trg-translate/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Rewrite dependencies of train-teacher-model
  taskcluster/translations_taskgraph/transforms/continuation.py
Due: test, taskgraph-definition, taskgraph-diff

Add indictrans2 as valid decoder in schema validation
  taskcluster/translations_taskgraph/actions/train.py
  tests/test_continuation.py
Due: test, taskgraph-definition, taskgraph-diff

Fix incorrect number of hypotheses
  pipeline/translate/translate_ctranslate2.py
Due: test, taskgraph-definition

save beam_size in TranslatorIndicTrans2 for later use
  pipeline/translate/translate_ctranslate2.py
Due: test, taskgraph-definition

Declare write_translation as staticmethod
  pipeline/translate/translate_ctranslate2.py
Due: test, taskgraph-definition

Remove continuation-model out of from-deps
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
  taskcluster/translations_taskgraph/transforms/continuation.py
Due: test, taskgraph-definition, taskgraph-diff

Add taskcluster client dep to translate_indictrans2
  pipeline/translate/requirements/translate-indictrans2.in
  pipeline/translate/requirements/translate-indictrans2.txt
Due: test, taskgraph-definition

Fix device name provided to IndicTrans2Inference
  pipeline/translate/translate_ctranslate2.py
Due: test, taskgraph-definition

Skip ctranslate indictrans2 test
  tests/test_ctranslate2.py
Due: test

Add IndicTrans2 documentation
  docs/README.md
  docs/training/using-pretrained-models.md
Due: none

Update configs
  configs/next26/en-tl.yml
  configs/next26/localdoc-en-az.yml
  configs/next26/nllb-bc09-en-tl.yml
Due: none

Use maxi_batch from decoder config
  pipeline/translate/translate_ctranslate2.py
Due: test, taskgraph-definition

Path conditions:
  test: any of: pipeline/**, tests/**, tracking/**, taskcluster/**, poetry.*, Taskfile.yml
  taskgraph-definition: any of: pipeline/**, taskcluster/**
  taskgraph-diff: any of: taskcluster/**
