Repository mozilla/translations: changes, and which Taskcluster tasks are due for each by the changed paths.
All: test, taskgraph-definition, taskgraph-diff

test:
  worker-type: b-cpu
  worker:
    max-run-time: 3600
    docker-image:
      in-tree: test
  run:
    command:
    - bash
    - -c
    - export BIN=$MOZ_FETCHES_DIR && export MARIAN=$MOZ_FETCHES_DIR && task test
  run-on-tasks-for:
  - github-push
  - github-pull-request
  fetches:
    toolchain:
    - fast-align
    - extract-lex
  ...

taskgraph-definition:
  worker-type: b-cpu
  worker:
    docker-image:
      in-tree: test
    max-run-time: 3600
  description: Test the full `translations_taskgraph` to validate the latest changes
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command: task taskgraph-validate

taskgraph-diff:
  worker-type: b-cpu
  worker:
    docker-image:
      in-tree: test
    max-run-time: 1200
  description: Create diffs of taskgraphs vs. base revision.
  run-on-tasks-for:
  - github-pull-request
  run:
    command: task taskgraph-diff BASE_REV={base_rev} OUTPUT_FILE=$TASK_WORKDIR/artifacts/taskgraph.diff

Revert "bump to cudnn v9.10.1"
  taskcluster/kinds/fetch/toolchains.yml
Due: test, taskgraph-definition, taskgraph-diff

Check for monocleaner support for a language
  pipeline/clean/clean-mono.sh
  utils/config_generator.py
Due: test, taskgraph-definition

Address review comments
  inference/marian-fork/src/common/binary.cpp
  inference/src/translator/translation_model.cpp
Due: none

Improve the memory of the Wasm inference engine (#1135)
  inference/marian-fork/src/common/binary.cpp
  inference/marian-fork/src/common/io.cpp
  inference/marian-fork/src/common/io_item.h
  inference/marian-fork/src/graph/node_initializers.cpp
  inference/marian-fork/src/models/amun.h
  inference/marian-fork/src/models/nematus.h
  inference/marian-fork/src/optimizers/optimizers.cpp
  inference/marian-fork/src/tensors/cpu/expression_graph_packable.h
  inference/marian-fork/src/tensors/cpu/integer_common.h
  inference/marian-fork/src/tensors/tensor.cpp
  inference/marian-fork/src/tensors/tensor_allocator.h
  inference/marian-fork/src/translator/scorers.h
  inference/scripts/build-wasm.py
  inference/src/translator/aligned.h
  inference/src/translator/definitions.h
  inference/src/translator/translation_model.cpp
Due: none

Update BERGAMOT_VERSION
  inference/BERGAMOT_VERSION
Due: none

Update BERGAMOT_VERSION (#1140)
  inference/BERGAMOT_VERSION
Due: none

bump to cuda v12.9.0
  taskcluster/kinds/fetch/toolchains.yml
Due: test, taskgraph-definition, taskgraph-diff

feat: reland new GPU worker images and dockerization (#1131)
  docs/training/task-cluster.md
  pipeline/bicleaner/bicleaner.sh
  pipeline/translate/requirements/translate-ctranslate2.in
  pipeline/translate/requirements/translate-ctranslate2.txt
  taskcluster/config.yml
  taskcluster/kinds/backtranslations-mono-trg-translate/kind.yml
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translations-score/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/fetch/toolchains.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Use commas rather than newlines for CUDA_VISIBLE_DEVICES
  pipeline/bicleaner/bicleaner.sh
Due: test, taskgraph-definition

Add a bigger dataset
  taskcluster/configs/config.ci.yml
Due: test, taskgraph-definition, taskgraph-diff

chore: temporarily move GPU pools to alpha image
  taskcluster/config.yml
Due: test, taskgraph-definition, taskgraph-diff

feat: add `upload-bucket` to training config
  taskcluster/configs/config.ci.yml
  taskcluster/configs/config.prod.yml
  taskcluster/test/params/large-lt-en.yml
  taskcluster/test/params/small-ru-en.yml
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
  tests/fixtures/config.pytest.enzh.yml
  tests/fixtures/config.pytest.yml
Due: test, taskgraph-definition, taskgraph-diff

fix: chain of trust should influence cache digest
  taskcluster/translations_taskgraph/transforms/cached_tasks.py
Due: test, taskgraph-definition, taskgraph-diff

feat: wire in beetmover workers, payload builders, and mozilla-taskgraph
  .taskcluster.yml
  poetry.lock
  pyproject.toml
  taskcluster/config.yml
  taskcluster/requirements.in
  taskcluster/requirements.txt
  taskcluster/translations_taskgraph/__init__.py
  taskcluster/translations_taskgraph/util/dependencies.py
  taskcluster/translations_taskgraph/worker_types.py
Due: test, taskgraph-definition, taskgraph-diff

enable chain of trust on tasks that will be upstream of beetmover
  taskcluster/kinds/backtranslations-mono-trg-chunk/kind.yml
  taskcluster/kinds/backtranslations-mono-trg-dechunk-translations/kind.yml
  taskcluster/kinds/backtranslations-mono-trg-translate/kind.yml
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/build-vocab/kind.yml
  taskcluster/kinds/corpus-align-backtranslations/kind.yml
  taskcluster/kinds/corpus-align-distillation/kind.yml
  taskcluster/kinds/corpus-align-parallel/kind.yml
  taskcluster/kinds/corpus-analyze-mono/kind.yml
  taskcluster/kinds/corpus-analyze-parallel/kind.yml
  taskcluster/kinds/corpus-clean-mono/kind.yml
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
  taskcluster/kinds/corpus-clean-parallel-fetch-bicleaner-model/kind.yml
  taskcluster/kinds/corpus-clean-parallel/kind.yml
  taskcluster/kinds/corpus-merge-devset/kind.yml
  taskcluster/kinds/corpus-merge-distillation/kind.yml
  taskcluster/kinds/corpus-merge-mono/kind.yml
  taskcluster/kinds/corpus-merge-parallel/kind.yml
  taskcluster/kinds/dataset/kind.yml
  taskcluster/kinds/distillation-corpus-build-shortlist/kind.yml
  taskcluster/kinds/distillation-corpus-final-filtering/kind.yml
  taskcluster/kinds/distillation-mono-src-chunk/kind.yml
  taskcluster/kinds/distillation-mono-src-dechunk-translations/kind.yml
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-chunk/kind.yml
  taskcluster/kinds/distillation-parallel-src-dechunk-translations/kind.yml
  taskcluster/kinds/distillation-parallel-src-extract-best/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translations-score/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-quantize/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/export/kind.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

feat: automatically upload artifacts from pipeline tasks
  taskcluster/kinds/all-pipeline/kind.yml
  taskcluster/kinds/all-pr-pipeline/kind.yml
  taskcluster/kinds/beetmover/kind.yml
  taskcluster/translations_taskgraph/transforms/beetmover.py
Due: test, taskgraph-definition, taskgraph-diff

feat: upload experiment config
  taskcluster/kinds/all-pipeline/kind.yml
  taskcluster/kinds/all-pr-pipeline/kind.yml
  taskcluster/kinds/beetmover-experiment-config/kind.yml
  taskcluster/translations_taskgraph/transforms/beetmover_experiment_config.py
Due: test, taskgraph-definition, taskgraph-diff

temp: use dev beetmover workers
  taskcluster/config.yml
Due: test, taskgraph-definition, taskgraph-diff

Test the quantize step in CI
  pipeline/quantize/quantize.sh
Due: test, taskgraph-definition

Use 10 training updates in CI tasks
  taskcluster/configs/config.ci.yml
Due: test, taskgraph-definition, taskgraph-diff

Add a cache bust
  pipeline/train/train.py
Due: test, taskgraph-definition

Update config
  configs/retrain_high_res_2025/de-en-retrain_hr.yml
Due: none

Add the student base-memory configuration (#1113)
  docs/training/README.md
  pipeline/train/configs/model/student.base-memory.yml
  pipeline/train/train.py
  taskcluster/configs/config.prod.yml
  taskcluster/translations_taskgraph/actions/train.py
Due: test, taskgraph-definition, taskgraph-diff

Upgrade bicleaner and update the GPU requirement step (#1134)
  pipeline/bicleaner/bicleaner.sh
  pipeline/bicleaner/requirements/bicleaner-ai.in
  pipeline/bicleaner/requirements/bicleaner-ai.txt
  pipeline/common/marian.py
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Use commas rather than newlines for CUDA_VISIBLE_DEVICES (#1141)
  pipeline/bicleaner/bicleaner.sh
Due: test, taskgraph-definition

Update configs for base memory
  configs/cjk/en-ja-cjk.yml
  configs/cjk/en-ko-cjk.yml
  configs/cjk/en-zh-cjk.yml
  configs/cjk/ja-en-cjk.yml
  configs/cjk/ko-en-cjk.yml
  configs/cjk/zh-en-cjk.yml
Due: none

Reduce buffer
  pipeline/cefilter/ce-filter.sh
Due: test, taskgraph-definition

Remove tied embeddings parameter from student base-memory config
  pipeline/train/configs/model/student.base-memory.yml
Due: test, taskgraph-definition

Remove tied embeddings parameter from student base-memory config (#1146)
  pipeline/train/configs/model/student.base-memory.yml
Due: test, taskgraph-definition

Add LLM running code and docs
  experiments/README.md
  experiments/llmaat/README.md
  experiments/llmaat/flows/configs/config.beam-sample.json
  experiments/llmaat/flows/configs/config.greedy.json
  experiments/llmaat/flows/configs/config.qe-rerank.json
  experiments/llmaat/flows/configs/config.sample.json
  experiments/llmaat/flows/configs/config.vllm.json
  experiments/llmaat/flows/evals.py
  experiments/llmaat/flows/langs.py
  experiments/llmaat/flows/llm_eval_flow.py
  experiments/llmaat/flows/llm_run_flow.py
  experiments/llmaat/flows/llm_runner.py
  experiments/llmaat/flows/metricx/models.py
  experiments/llmaat/flows/metricx/predict.py
  experiments/llmaat/flows/prompts.py
  experiments/llmaat/flows/requirements.outerbounds.txt
  experiments/llmaat/notebooks/Select corpus.ipynb
  experiments/llmaat/scripts/cluster_corpus_ddp.py
  experiments/llmaat/scripts/emb_corpus_ddp.py
  experiments/llmaat/scripts/translate_all_alma.py
  experiments/llmaat/scripts/translate_all_llama3.py
Due: none

Add envs to docs
  experiments/llmaat/README.md
Due: none

Path conditions:
  test: any of: pipeline/**, tests/**, tracking/**, taskcluster/**, poetry.*, Taskfile.yml
  taskgraph-definition: any of: pipeline/**, taskcluster/**
  taskgraph-diff: any of: taskcluster/**
