Repository mozilla/translations: changes, and which Taskcluster tasks are due for each by the changed paths.
All: test, taskgraph-definition, taskgraph-diff

test:
  worker-type: b-cpu
  worker:
    max-run-time: 3600
    docker-image:
      in-tree: test
  run:
    command:
    - bash
    - -c
    - export BIN=$MOZ_FETCHES_DIR && export MARIAN=$MOZ_FETCHES_DIR && task test
  run-on-tasks-for:
  - github-push
  - github-pull-request
  fetches:
    toolchain:
    - fast-align
    - extract-lex
  ...

taskgraph-definition:
  worker-type: b-cpu
  worker:
    docker-image:
      in-tree: test
    max-run-time: 3600
  description: Test the full `translations_taskgraph` to validate the latest changes
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command: task taskgraph-validate

taskgraph-diff:
  worker-type: b-cpu
  worker:
    docker-image:
      in-tree: test
    max-run-time: 1200
  description: Create diffs of taskgraphs vs. base revision.
  run-on-tasks-for:
  - github-pull-request
  run:
    command: task taskgraph-diff BASE_REV={base_rev} OUTPUT_FILE=$TASK_WORKDIR/artifacts/taskgraph.diff

fixed an issue around tests failing
  tests/unit/test_tracking_cli.py
Due: test

feat: reland new GPU worker images and dockerization (#1154)
  docs/training/task-cluster.md
  pipeline/bicleaner/bicleaner.sh
  pipeline/translate/requirements/translate-ctranslate2.in
  pipeline/translate/requirements/translate-ctranslate2.txt
  taskcluster/config.yml
  taskcluster/kinds/backtranslations-mono-trg-translate/kind.yml
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translations-score/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/fetch/toolchains.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

enable chain of trust on tasks that will be upstream of beetmover
  taskcluster/kinds/backtranslations-mono-trg-chunk/kind.yml
  taskcluster/kinds/backtranslations-mono-trg-dechunk-translations/kind.yml
  taskcluster/kinds/backtranslations-mono-trg-translate/kind.yml
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/build-vocab/kind.yml
  taskcluster/kinds/corpus-align-backtranslations/kind.yml
  taskcluster/kinds/corpus-align-distillation/kind.yml
  taskcluster/kinds/corpus-align-parallel/kind.yml
  taskcluster/kinds/corpus-analyze-mono/kind.yml
  taskcluster/kinds/corpus-analyze-parallel/kind.yml
  taskcluster/kinds/corpus-clean-mono/kind.yml
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
  taskcluster/kinds/corpus-clean-parallel-fetch-bicleaner-model/kind.yml
  taskcluster/kinds/corpus-clean-parallel/kind.yml
  taskcluster/kinds/corpus-merge-devset/kind.yml
  taskcluster/kinds/corpus-merge-distillation/kind.yml
  taskcluster/kinds/corpus-merge-mono/kind.yml
  taskcluster/kinds/corpus-merge-parallel/kind.yml
  taskcluster/kinds/dataset/kind.yml
  taskcluster/kinds/distillation-corpus-build-shortlist/kind.yml
  taskcluster/kinds/distillation-corpus-final-filtering/kind.yml
  taskcluster/kinds/distillation-mono-src-chunk/kind.yml
  taskcluster/kinds/distillation-mono-src-dechunk-translations/kind.yml
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-chunk/kind.yml
  taskcluster/kinds/distillation-parallel-src-dechunk-translations/kind.yml
  taskcluster/kinds/distillation-parallel-src-extract-best/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translations-score/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-quantize/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/export/kind.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

feat: wire in beetmover workers, payload builders, and mozilla-taskgraph
  .taskcluster.yml
  poetry.lock
  pyproject.toml
  taskcluster/config.yml
  taskcluster/requirements.in
  taskcluster/requirements.txt
  taskcluster/translations_taskgraph/__init__.py
  taskcluster/translations_taskgraph/util/dependencies.py
  taskcluster/translations_taskgraph/worker_types.py
Due: test, taskgraph-definition, taskgraph-diff

feat: add `upload-bucket` to training config
  taskcluster/configs/config.ci.yml
  taskcluster/configs/config.prod.yml
  taskcluster/test/params/large-lt-en.yml
  taskcluster/test/params/small-ru-en.yml
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
  tests/fixtures/config.pytest.enzh.yml
  tests/fixtures/config.pytest.yml
Due: test, taskgraph-definition, taskgraph-diff

fix: chain of trust should influence cache digest
  taskcluster/translations_taskgraph/transforms/cached_tasks.py
Due: test, taskgraph-definition, taskgraph-diff

Uncomment deps install
  Taskfile.yml
Due: test

Remove existing tasks from config
  configs/retrain_high_res_2025/de-en-retrain_hr.yml
Due: none

Remove experimental custom filters
  pipeline/clean/opuscleaner/configs/opus_LinguaTools-WikiTitles-v2014.filters.json
  pipeline/clean/opuscleaner/configs/opus_NLLB-v1.filters.json
  pipeline/clean/opuscleaner/configs/opus_OpenSubtitles-v2018.filters.json
  pipeline/clean/opuscleaner/configs/opus_UNPC-v1.0.filters.json
  pipeline/clean/opuscleaner/configs/opus_XLEnt-v1.2.filters.json
Due: test, taskgraph-definition

Add url mismatch filter
  pipeline/clean/opuscleaner/configs/default.filters.json
  pipeline/clean/opuscleaner/configs/en-ja/default.filters.json
  pipeline/clean/opuscleaner/configs/en-ko/default.filters.json
  pipeline/clean/opuscleaner/configs/en-zh/default.filters.json
  pipeline/clean/opuscleaner/configs/ja-en/default.filters.json
  pipeline/clean/opuscleaner/configs/ko-en/default.filters.json
  pipeline/clean/opuscleaner/configs/ru-en/opus_ELRC-3075-wikipedia_health-v1.filters.json
Due: test, taskgraph-definition

Fix zh filters
  pipeline/clean/opuscleaner/configs/en-zh/WikiMatrix-v1.filters.json
  pipeline/clean/opuscleaner/configs/en-zh/bible-uedin-v1.filters.json
  pipeline/clean/opuscleaner/configs/zh-en/WikiMatrix-v1.filters.json
  pipeline/clean/opuscleaner/configs/zh-en/bible-uedin-v1.filters.json
  pipeline/clean/opuscleaner/configs/zh-en/default.filters.json
Due: test, taskgraph-definition

temp: use dev beetmover workers.
  taskcluster/config.yml
Due: test, taskgraph-definition, taskgraph-diff

feat: upload experiment config
  taskcluster/kinds/all-pipeline/kind.yml
  taskcluster/kinds/all-pr-pipeline/kind.yml
  taskcluster/kinds/beetmover-experiment-config/kind.yml
  taskcluster/translations_taskgraph/transforms/beetmover_experiment_config.py
Due: test, taskgraph-definition, taskgraph-diff

feat: automatically upload artifacts from pipeline tasks
  taskcluster/kinds/all-pipeline/kind.yml
  taskcluster/kinds/all-pr-pipeline/kind.yml
  taskcluster/kinds/beetmover/kind.yml
  taskcluster/translations_taskgraph/transforms/beetmover.py
  taskcluster/translations_taskgraph/transforms/continuation.py
Due: test, taskgraph-definition, taskgraph-diff

Update opus cleaner
  pipeline/clean/requirements/clean.in
  pipeline/clean/requirements/clean.txt
  poetry.lock
  pyproject.toml
Due: test, taskgraph-definition

Remove old cleaning
  docs/data-and-cleaning/index.md
  docs/training/README.md
  pipeline/clean/clean-parallel.sh
  pipeline/clean/tools/clean_parallel.py
  pipeline/clean/tools/normalize-punctuation.perl
  snakemake/configs/config.prod.yml
  snakemake/configs/config.test.yml
  taskcluster/configs/config.ci.yml
  taskcluster/configs/config.prod.yml
  taskcluster/kinds/corpus-clean-parallel/kind.yml
  taskcluster/test/params/large-lt-en.yml
  taskcluster/test/params/small-ru-en.yml
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
  tests/fixtures/config.pytest.enzh.yml
  tests/fixtures/config.pytest.yml
Due: test, taskgraph-definition, taskgraph-diff

Add opus cleaner test
  pipeline/clean/opuscleaner/clean-parallel.sh
  pipeline/clean/opuscleaner/configs/opus_ada83-v1.filters.json
  tests/data/corpus_samples/en-ru2.txt.zip
  tests/data/corpus_samples/en-zh.txt.zip
  tests/fixtures/__init__.py
  tests/fixtures/config.pytest.enzh.yml
  tests/fixtures/config.pytest.yml
  tests/test_clean.py
  tests/test_filters.py
Due: test, taskgraph-definition

Add libicu to the training tasks
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add libicu manually to the rest of train tasks
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add libicu manually to backtranslations
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Fixup libicu
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

CJK training configs (#959)
  configs/autogenerated/en-ja-cjk.yml
  configs/autogenerated/en-ko-cjk.yml
  configs/autogenerated/en-zh-cjk.yml
  configs/autogenerated/ja-en-cjk.yml
  configs/autogenerated/ko-en-cjk.yml
  configs/autogenerated/zh-en-cjk.yml
  configs/cjk/en-ja-cjk.yml
  configs/cjk/en-ko-cjk.yml
  configs/cjk/en-zh-cjk.yml
  configs/cjk/ja-en-cjk.yml
  configs/cjk/ko-en-cjk.yml
  configs/cjk/zh-en-cjk.yml
Due: none

Fix scaling issues (#1054)
  configs/autogenerated/de-en-retrain_hr.yml
  configs/retrain_high_res_2025/de-en-retrain_hr.yml
  pipeline/cefilter/ce-filter.sh
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/build-vocab/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Fix filter name
  tests/test_filters.py
Due: test

fixed an issue around tests failing
  tests/task/__init__.py
  tests/task/test_data_importer.py
  tests/unit/__init__.py
Due: test

correct fixtures path to use tests/fixtures for spm_train
  poetry.lock
  tests/data/tests/en-ca-vocab.spm
  tests/fixtures/__init__.py
Due: test

correct path to fixtures directory for spm_train
  poetry.lock
  pyproject.toml
  tests/fixtures/__init__.py
  tests/unit/test_spm_vocab.py
Due: test

wip: don't fetch cudnn for bicleaner
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

correct path to fixtures
  poetry.lock
  pyproject.toml
  tests/unit/test_spm_vocab.py
Due: test

Fix clean mono
  pipeline/clean/tools/clean_mono.py
Due: test, taskgraph-definition

Add tests
  poetry.lock
  pyproject.toml
  tests/test_clean.py
Due: test

correct path to fixtures
  poetry.lock
  pyproject.toml
  tests/unit/test_filters.py
  tests/unit/test_preflight_check.py
  tests/unit/test_spm_vocab.py
Due: test

Add wget to tests docker image
  taskcluster/docker/test/Dockerfile
Due: test, taskgraph-definition, taskgraph-diff

correct path to fixtures
  poetry.lock
  pyproject.toml
  tests/task/test_eval.py
  tests/unit/test_filters.py
  tests/unit/test_preflight_check.py
Due: test

correct path to fixtures
  tests/task/test_eval.py
Due: test

correct path to fixtures
  tests/task/test_training.py
  tests/task/test_translate.py
Due: test

correct path to fixtures
  tests/task/test_translate.py
Due: test

Path conditions:
  test: any of: pipeline/**, tests/**, tracking/**, taskcluster/**, poetry.*, Taskfile.yml
  taskgraph-definition: any of: pipeline/**, taskcluster/**
  taskgraph-diff: any of: taskcluster/**
