Repository mozilla/translations: changes, and which Taskcluster tasks are due for each by the changed paths.
All: test, taskgraph-definition, taskgraph-diff

Path conditions:
  test: any of: pipeline/**, tests/**, tracking/**, taskcluster/**, poetry.*, Taskfile.yml
  taskgraph-definition: any of: pipeline/**, taskcluster/**
  taskgraph-diff: any of: taskcluster/**

Include in CI
  taskcluster/kinds/all-pr-pipeline/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add ICU and remove cyhunspell and kenlm
  pipeline/bicleaner/requirements/bicleaner-ai.in
  pipeline/bicleaner/requirements/bicleaner-ai.txt
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
  taskcluster/kinds/corpus-clean-parallel-fetch-bicleaner-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Fix convertion
  pipeline/clean/tools/langid_fasttext.py
  pipeline/langs/codes.py
Due: test, taskgraph-definition

Fix pontoon
  pipeline/data/parallel_downloaders.py
  pipeline/langs/maps.py
Due: test, taskgraph-definition

Normalize language code for cleaning
  pipeline/clean/tools/clean_mono.py
  pipeline/langs/codes.py
  tests/test_lang_codes.py
Due: test, taskgraph-definition

Remove unused method
  pipeline/langs/codes.py
Due: test, taskgraph-definition

Fix lang id
  pipeline/clean/tools/langid_fasttext.py
  tests/fixtures/config.pytest.zh_hanten.yml
  tests/test_clean.py
Due: test, taskgraph-definition

TEMP: Try provisioner: '{trust-domain}-t'
  taskcluster/config.yml
Due: test, taskgraph-definition, taskgraph-diff

TEMP: Try provisioner: 'translations-t'
  taskcluster/config.yml
Due: test, taskgraph-definition, taskgraph-diff

Fix monocleaner
  pipeline/clean/clean-mono.sh
Due: test, taskgraph-definition

Fix opuscleaner for zh_hant
  pipeline/clean/opuscleaner/configs/en-zh_hant/default.filters.json
  pipeline/clean/opuscleaner/configs/en-zh_hant/opus_WikiMatrix-v1.filters.json
  pipeline/clean/opuscleaner/configs/en-zh_hant/opus_bible-uedin-v1.filters.json
  pipeline/clean/opuscleaner/configs/zh_hant-en/default.filters.json
  pipeline/clean/opuscleaner/configs/zh_hant-en/opus_WikiMatrix-v1.filters.json
  pipeline/clean/opuscleaner/configs/zh_hant-en/opus_bible-uedin-v1.filters.json
  tests/test_clean.py
Due: test, taskgraph-definition

Use python3
  pipeline/clean/clean-mono.sh
Due: test, taskgraph-definition

Fix bicleaner model downloading path
  pipeline/bicleaner/download_pack.py
Due: test, taskgraph-definition

Conver langs codes for OpusCleaner
  pipeline/clean/opuscleaner/clean-parallel.sh
  pipeline/clean/opuscleaner/configs/en-zh_hant/default.filters.json
  pipeline/clean/opuscleaner/configs/en-zh_hant/opus_WikiMatrix-v1.filters.json
  pipeline/clean/opuscleaner/configs/en-zh_hant/opus_bible-uedin-v1.filters.json
  pipeline/clean/opuscleaner/configs/zh_hant-en/default.filters.json
  pipeline/clean/opuscleaner/configs/zh_hant-en/opus_WikiMatrix-v1.filters.json
  pipeline/clean/opuscleaner/configs/zh_hant-en/opus_bible-uedin-v1.filters.json
  pipeline/clean/opuscleaner/generate_filters.py
Due: test, taskgraph-definition

Encapsulate lang code convertions and support
  Taskfile.yml
  pipeline/bicleaner/bicleaner.sh
  pipeline/bicleaner/download_pack.py
  pipeline/clean/clean-mono.sh
  pipeline/clean/opuscleaner/clean-parallel.sh
  pipeline/clean/opuscleaner/generate_filters.py
  pipeline/clean/tools/clean_mono.py
  pipeline/clean/tools/langid_fasttext.py
  pipeline/data/cjk.py
  pipeline/data/hplt.py
  pipeline/data/mono_importer.py
  pipeline/data/parallel_downloaders.py
  pipeline/data/parallel_importer.py
  pipeline/eval/eval_datasets.py
  pipeline/eval/final_eval.py
  pipeline/eval/metrics.py
  pipeline/eval/translators.py
  pipeline/langs/codes.py
  pipeline/langs/maps.py
  pipeline/train/train.py
  tests/test_cjk.py
  tests/test_final_eval.py
  tests/test_lang_codes.py
  tests/test_training.py
Due: test, taskgraph-definition

Add autogenerated language codes mapping
  pipeline/langs/all_autogenerated.json
Due: test, taskgraph-definition

Fix mappings
  pipeline/langs/all_autogenerated.json
  pipeline/langs/codes.py
  pipeline/langs/maps.py
  tests/test_lang_codes.py
Due: test, taskgraph-definition

Remove unsupported langs
  pipeline/langs/all_autogenerated.json
  pipeline/langs/codes.py
  pipeline/langs/maps.py
  tests/test_lang_codes.py
Due: test, taskgraph-definition

Fix flores codes
  pipeline/langs/all_autogenerated.json
  pipeline/langs/maps.py
  tests/test_lang_codes.py
Due: test, taskgraph-definition

Remove intermediate data
  pipeline/clean/clean-mono.sh
Due: test, taskgraph-definition

ci: don't run cron jobs on the staging repo
  .cron.yml
Due: none

added automated message that bergamot-translator.js is automatically generated. Bugzilla https://bugzilla.mozilla.org/show_bug.cgi?id=1968038
  inference/scripts/build-wasm.py
Due: none

ci: don't run cron jobs on the staging repo (#1358)
  .cron.yml
Due: none

updated message to include a DO NOT MODIFY
  inference/scripts/build-wasm.py
Due: none

Make it more clear that bergamot-translator.js is generated code (#1359)
  inference/scripts/build-wasm.py
Due: none

Use training config
  taskcluster/kinds/upload-final-eval-lang/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Lock eval datasets revision
  pipeline/eval/eval_datasets.py
Due: test, taskgraph-definition

Test only chrf TODO: revert
  taskcluster/kinds/final-eval-lang/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Revert "Test only chrf TODO: revert"
  taskcluster/kinds/final-eval-lang/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Exclude from CI
  taskcluster/kinds/all-pr-pipeline/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add script to lang regex
  tests/test_tracking_utils.py
  tracking/translations_parser/utils.py
Due: test

Add support in config generator
  pipeline/data/hplt.py
  pipeline/langs/all_autogenerated.json
  pipeline/langs/codes.py
  tests/test_lang_codes.py
  utils/config_generator.py
  utils/find_corpus.py
Due: test, taskgraph-definition

Make script info required
  pipeline/langs/codes.py
  pipeline/langs/scripts.py
Due: test, taskgraph-definition

Lock eval datasets revision (#1362)
  pipeline/eval/eval_datasets.py
Due: test, taskgraph-definition

Fix final evals
  pipeline/eval/eval_datasets.py
  pipeline/eval/final_eval.py
  pipeline/eval/requirements/metricx.in
  pipeline/eval/requirements/metricx.txt
  pipeline/langs/codes.py
Due: test, taskgraph-definition

Fix UI
  site/firefox-models/models.mjs
  site/model-registry/model-registry.mjs
Due: none

Fix find corpus
  tests/test_find_corpus.py
  utils/find_corpus.py
Due: test

Create opuscleaner configs for bs, hr and sr
  pipeline/clean/opuscleaner/configs/en-bs/default.filters.json
  pipeline/clean/opuscleaner/configs/en-hr/default.filters.json
  pipeline/clean/opuscleaner/configs/en-sr/default.filters.json
Due: test, taskgraph-definition

sr, bs and hr configs to retrieve data
  configs/en-hbs-data/bs-en.yml
  configs/en-hbs-data/hr-en.yml
  configs/en-hbs-data/sr-en.yml
Due: none
