Repository mozilla/translations: changes, and which Taskcluster tasks are due for each by the changed paths.
All: test, taskgraph-definition, taskgraph-diff

Path conditions:
  test: any of: pipeline/**, tests/**, tracking/**, taskcluster/**, poetry.*, Taskfile.yml
  taskgraph-definition: any of: pipeline/**, taskcluster/**
  taskgraph-diff: any of: taskcluster/**

Add release labels (#1317)
  db/models.py
  db/sql.py
  db/updater.py
  pipeline/quantize/save_metadata.py
  site/final-evals/final-evals.css
  site/final-evals/final-evals.mjs
  site/final-evals/index.html
  site/firefox-models/models.mjs
  site/llm-evals/index.html
  site/llm-evals/llm-evals.css
  site/llm-evals/llm-evals.mjs
  site/llm-evals/llm-evals.ts
  site/llm-evals/terminology.mjs
  site/model-registry/index.html
  site/model-registry/model-registry.css
  site/model-registry/model-registry.mjs
  taskcluster/kinds/export/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Update config
  configs/cjk/zh-hant-en-cjk.yml
Due: none

Set argos env before import
  pipeline/eval/translators.py
Due: test, taskgraph-definition

Decrease API batch size
  pipeline/eval/translators.py
Due: test, taskgraph-definition

Run linter
  pipeline/eval/final_eval.py
Due: test, taskgraph-definition

Add a separate config to run all evals
  taskcluster/configs/eval.all.yml
Due: test, taskgraph-definition, taskgraph-diff

Fix default values
  pipeline/eval/final_eval.py
Due: test, taskgraph-definition

Fix flores language mapping
  pipeline/eval/langs.py
Due: test, taskgraph-definition

Add retries
  pipeline/eval/final_eval.py
Due: test, taskgraph-definition

Fix llm evals
  pipeline/eval/eval-batch-instructions.md
  pipeline/eval/metrics.py
Due: test, taskgraph-definition

Fix nllb code mapping
  pipeline/eval/langs.py
  pipeline/eval/translators.py
Due: test, taskgraph-definition

Add retries for microsoft
  pipeline/eval/translators.py
Due: test, taskgraph-definition

Do not debug LLM metric
  pipeline/eval/metrics.py
Due: test, taskgraph-definition

Use standard instance
  taskcluster/configs/eval.all.yml
Due: test, taskgraph-definition, taskgraph-diff

Fix dataset loading
  pipeline/eval/final_eval.py
Due: test, taskgraph-definition

Fix GCS read path
  pipeline/eval/final_eval.py
Due: test, taskgraph-definition

List gcs paths once
  pipeline/eval/final_eval.py
Due: test, taskgraph-definition

Enable collecting final evals
  db/updater.py
Due: none

Reduce logging
  pipeline/eval/final_eval.py
Due: test, taskgraph-definition

Cache GCS listed models
  pipeline/eval/translators.py
Due: test, taskgraph-definition

Fix firefox models UI
  db/sql.py
  db/updater.py
  site/firefox-models/models.mjs
Due: none

Bump urllib3 from 2.5.0 to 2.6.2 in /taskcluster
  taskcluster/requirements.txt
Due: test, taskgraph-definition, taskgraph-diff

Add public models JSON
  db/updater.py
Due: none

Enable db updates and run linter
  db/updater.py
Due: none

Update model registry links
  README.md
Due: none

Clarify model ID splitting
  db/models.py
  db/sql.py
  db/updater.py
Due: none

Final evals bug fix (#1320)
  db/models.py
  db/sql.py
  db/updater.py
  pipeline/eval/eval-batch-instructions.md
  pipeline/eval/final_eval.py
  pipeline/eval/langs.py
  pipeline/eval/metrics.py
  pipeline/eval/translators.py
  site/firefox-models/models.mjs
  taskcluster/configs/eval.all.yml
Due: test, taskgraph-definition, taskgraph-diff

Use correct output path
  db/updater.py
Due: none

Add public models JSON (#1321)
  db/updater.py
Due: none

Symmetrize aln in chunks
  pipeline/alignments/align.py
Due: test, taskgraph-definition

Fix caching
  pipeline/eval/translators.py
Due: test, taskgraph-definition

Add Google Translate langs list
  pipeline/eval/langs.py
  pipeline/eval/translators.py
Due: test, taskgraph-definition

Symmetrize aln in chunks (#1323)
  pipeline/alignments/align.py
Due: test, taskgraph-definition

Bump memory in align distillation and backtranslations
  taskcluster/kinds/corpus-align-backtranslations/kind.yml
  taskcluster/kinds/corpus-align-distillation/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Use structured outputs and parallelize llm evals
  pipeline/eval/eval-batch-instructions.md
  pipeline/eval/eval-final-summary.md
  pipeline/eval/final_eval.py
  pipeline/eval/metrics.py
Due: test, taskgraph-definition

Increase max workers
  pipeline/eval/metrics.py
Due: test, taskgraph-definition

Fix UI
  site/final-evals/final-evals.mjs
Due: none

Decrease minimum HPLT document score
  taskcluster/configs/config.prod.yml
  utils/config_generator.py
Due: test, taskgraph-definition, taskgraph-diff

Fix lint
  utils/config_generator.py
Due: none
