Repository mozilla/translations: changes, and which Taskcluster tasks are due for each by the changed paths.
All: test, taskgraph-definition, taskgraph-diff

Path conditions:
  test: any of: pipeline/**, tests/**, tracking/**, taskcluster/**, poetry.*, Taskfile.yml
  taskgraph-definition: any of: pipeline/**, taskcluster/**
  taskgraph-diff: any of: taskcluster/**

Update configs
  configs/retrain_hr/cs-en.yml
  configs/retrain_hr/es-en.yml
  configs/retrain_hr/it-en.yml
  configs/retrain_hr/pl-en.yml
Due: none

Fix merging
  pipeline/clean/merge-parallel.py
Due: test, taskgraph-definition

Fix merging (#1232)
  pipeline/clean/merge-parallel.py
Due: test, taskgraph-definition

Add vocab
  taskcluster/kinds/evaluate/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add en-ca
  configs/mt-marathon/ca-en-finetune.yml
  configs/mt-marathon/en-ca-finetune.yml
Due: none

Updata japanese config
  configs/docmt-vocab/en-ja.yml
Due: none

Filter out empty lines when computing the metric
  pipeline/eval/eval.py
Due: test, taskgraph-definition

lint
  pipeline/eval/eval.py
Due: test, taskgraph-definition

Fix alignments when there are no tokens left
  pipeline/eval/eval.py
Due: test, taskgraph-definition

Corpora specific fixes (#1228)
  Taskfile.yml
  pipeline/clean/clean-mono.sh
  pipeline/clean/fixes/detok.sh
  pipeline/clean/fixes/mtdata_JW300.mt.sh
  pipeline/clean/fixes/mtdata_JW300.sh
  pipeline/clean/fixes/mtdata_OPUS_DOGC_v2.ca.sh
  pipeline/clean/fixes/mtdata_OPUS_DOGC_v2.es.sh
  pipeline/clean/fixes/mtdata_OPUS_DOGC_v2.sh
  pipeline/clean/fixes/mtdata_OPUS_ECB_v1.sh
  pipeline/clean/fixes/mtdata_OPUS_SETIMES_v2.sh
  pipeline/clean/fixes/mtdata_OPUS_UNPC_v1_0.en.sh
  pipeline/clean/fixes/mtdata_OPUS_UNPC_v1_0.fr.sh
  pipeline/clean/fixes/mtdata_neulab_tedtalksv1_train.ro.sh
  pipeline/clean/fixes/mtdata_neulab_tedtalksv1_train.sh
  pipeline/clean/opuscleaner/configs/en-fr/opus_UNPC-v1.0.filters.json
  pipeline/clean/opuscleaner/configs/en-pt/opus_JRC-Acquis-v3.0.filters.json
  pipeline/clean/opuscleaner/configs/en-zh/opus_WikiMatrix-v1.filters.json
  pipeline/clean/opuscleaner/configs/en-zh/opus_bible-uedin-v1.filters.json
  pipeline/clean/opuscleaner/configs/fr-en/opus_UNPC-v1.0.filters.json
  pipeline/clean/opuscleaner/configs/opus_ECB-v1.filters.json
  pipeline/clean/opuscleaner/configs/opus_EUconst-v1.filters.json
  pipeline/clean/opuscleaner/configs/opus_NeuLab-TedTalks-v1.filters.json
  pipeline/clean/opuscleaner/configs/opus_SETIMES-v2.filters.json
  pipeline/clean/opuscleaner/configs/opus_UNPC-v1.0.filters.json
  pipeline/clean/opuscleaner/configs/opus_Wikipedia-v1.0.filters.json
  pipeline/clean/opuscleaner/configs/opus_wikimedia-v20230407.json
  pipeline/clean/opuscleaner/configs/pt-en/opus_JRC-Acquis-v3.0.filters.json
  pipeline/clean/opuscleaner/configs/zh-en/opus_WikiMatrix-v1.filters.json
  pipeline/clean/opuscleaner/configs/zh-en/opus_bible-uedin-v1.filters.json
  poetry.lock
  pyproject.toml
  taskcluster/kinds/corpus-clean-mono/kind.yml
  taskcluster/kinds/corpus-clean-parallel/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

chore: bump taskcluster-taskgraph to 15.2.1
  .taskcluster.yml
  poetry.lock
  pyproject.toml
Due: test

chore: bump taskcluster-taskgraph to 15.2.1 (#1237)
  .taskcluster.yml
  poetry.lock
  pyproject.toml
Due: test

Update configs
  configs/retrain_hr/en-de.yml
  configs/retrain_hr/es-en.yml
  configs/retrain_hr/fr-en.yml
  configs/retrain_hr/pl-en.yml
Due: none

chore: bump last taskgraph reference to 15.1.2
  taskcluster/requirements.in
  taskcluster/requirements.txt
Due: test, taskgraph-definition, taskgraph-diff

chore: bump last taskgraph reference to 15.1.2 (#1238)
  taskcluster/requirements.in
  taskcluster/requirements.txt
Due: test, taskgraph-definition, taskgraph-diff

Update configs
  configs/autogenerated/en-bg.yml
  configs/autogenerated/en-cs.yml
  configs/autogenerated/en-de.yml
  configs/autogenerated/en-et.yml
  configs/autogenerated/en-fi.yml
  configs/retrain_hr/en-bg.yml
  configs/retrain_hr/es-en.yml
Due: none

Return empty alignment pairs if sentence has only unknown tokens
  pipeline/eval/eval.py
Due: test, taskgraph-definition

Add tmx importer support for tracking parser
  tracking/translations_parser/utils.py
Due: test

lint fix (:
  pipeline/eval/eval.py
Due: test, taskgraph-definition

chore: bump to taskcluster-taskgraph 15.1.3
  .taskcluster.yml
  poetry.lock
  pyproject.toml
  taskcluster/requirements.in
  taskcluster/requirements.txt
Due: test, taskgraph-definition, taskgraph-diff

Add tmx_aug-short_pontoon to config generator
  utils/config_generator.py
Due: none

Regenerate en-pl config example to update config validation test
  configs/autogenerated/en-pl-example.yml
Due: none

chore: bump to taskcluster-taskgraph 15.1.3 (#1240)
  .taskcluster.yml
  poetry.lock
  pyproject.toml
  taskcluster/requirements.in
  taskcluster/requirements.txt
Due: test, taskgraph-definition, taskgraph-diff

Remove old continuation transform
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
  taskcluster/test/test_training_continuation_backwards.py
  taskcluster/test/test_training_continuation_teacher.py
  taskcluster/translations_taskgraph/transforms/training_continuation.py
Due: test, taskgraph-definition, taskgraph-diff

Update configs
  configs/retrain_hr/en-bg.yml
  configs/retrain_hr/en-et.yml
  configs/retrain_hr/en-fi.yml
  configs/retrain_hr/en-nl.yml
  configs/retrain_hr/pl-en.yml
Due: none

Add autogenerated
  configs/autogenerated/en-nl.yml
Due: none

Increase opustrainer batch
  pipeline/train/train.py
Due: test, taskgraph-definition

Add type annotations
  pipeline/eval/eval.py
Due: test, taskgraph-definition

Do not omit empty sentences, instead provide empty alignments
  pipeline/eval/eval.py
Due: test, taskgraph-definition

Add en-ja finetuning
  configs/llmaat/en-ja-finetune.yml
Due: none

Fix config
  configs/llmaat/en-ja-finetune.yml
Due: none

Move downloading code inside the script
  docs/training/using-pretrained-models.md
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
  taskcluster/scripts/pipeline/train-taskcluster.sh
  taskcluster/scripts/pipeline/train_taskcluster.py
Due: test, taskgraph-definition, taskgraph-diff

Add configs
  configs/autogenerated/en-it.yml
  configs/autogenerated/en-pt.yml
  configs/retrain_hr/en-it.yml
  configs/retrain_hr/en-pt.yml
Due: none

Add configs
  configs/retrain_hr/en-cs.yml
Due: none

Increase OpusTrainer batch size
  pipeline/train/train.py
Due: test, taskgraph-definition

Move ICU tokenizer no space to the class
  pipeline/alignments/tokenizer.py
  pipeline/eval/eval.py
  tests/test_tokenizer.py
Due: test, taskgraph-definition

Add an error message if alignment fails
  pipeline/eval/eval.py
Due: test, taskgraph-definition
