Repository mozilla/translations: changes, and which Taskcluster tasks are due for each by the changed paths.
All: test, taskgraph-definition, taskgraph-diff

Path conditions:
  test: any of: pipeline/**, tests/**, tracking/**, taskcluster/**, poetry.*, Taskfile.yml
  taskgraph-definition: any of: pipeline/**, taskcluster/**
  taskgraph-diff: any of: taskcluster/**

Update cmake for the marian directory move
  inference/3rd_party/CMakeLists.txt
  inference/CMakeLists.txt
  inference/scripts/build-wasm.py
  inference/src/translator/CMakeLists.txt
Due: none

Remove the CMakeSettings.json
  inference/marian/CMakeSettings.json
Due: none

Remove the patching behavior
  inference/patches/02-marian-allocation.patch
  inference/scripts/build-wasm.py
Due: none

Apply the strict_fstream.hpp patch
  inference/marian/src/3rd_party/zstr/strict_fstream.hpp
  inference/patches/01-marian-fstream-for-macos.patch
Due: none

Add missing get_logger call
  pipeline/common/marian.py
Due: test, taskgraph-definition

Re-use the local development container when possible
  Taskfile.yml
  utils/tasks/docker-run.py
Due: test

Address review feedback
  utils/tasks/docker-run.py
Due: none

Fix lint error
  utils/tasks/docker-run.py
Due: none

Retain the docker-run ability by using temporary containers
  utils/tasks/docker-run.py
Due: none

Remove unused microsoft-specific classes
  inference/marian/src/CMakeLists.txt
  inference/marian/src/microsoft/cosmos.cpp
  inference/marian/src/microsoft/cosmos.h
  inference/marian/src/microsoft/quicksand.cpp
  inference/marian/src/microsoft/quicksand.h
  inference/marian/src/tests/units/CMakeLists.txt
  inference/marian/src/tests/units/cosmos_tests.cpp
Due: none

Add inference scripts to be type checked
  inference/scripts/build-wasm.py
  pyproject.toml
Due: none

Rewrite the marian-fork build script into python
  Taskfile.yml
  inference/scripts/__init__.py
  inference/scripts/build-local.sh
  inference/scripts/build-wasm.py
  inference/scripts/build.py
  inference/scripts/clean.sh
  inference/scripts/detect-docker.sh
  inference/scripts/detect_docker.py
  inference/scripts/unit-tests.sh
  taskcluster/kinds/inference/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Re-use the local development container when possible (#1126)
  Taskfile.yml
  utils/tasks/docker-run.py
Due: test

bump to cuda v12.9.0
  taskcluster/kinds/fetch/toolchains.yml
Due: test, taskgraph-definition, taskgraph-diff

bump to cudnn v9.10.1
  taskcluster/kinds/fetch/toolchains.yml
Due: test, taskgraph-definition, taskgraph-diff

Add beetmover worker type
  taskcluster/config.yml
  taskcluster/translations_taskgraph/__init__.py
  taskcluster/translations_taskgraph/workertypes.py
Due: test, taskgraph-definition, taskgraph-diff

chain-of-trust should influence cache digest
  taskcluster/translations_taskgraph/transforms/cached_tasks.py
Due: test, taskgraph-definition, taskgraph-diff

Enable chain of trust on tasks that will be upstream of beetmover
  taskcluster/kinds/backtranslations-mono-trg-chunk/kind.yml
  taskcluster/kinds/backtranslations-mono-trg-dechunk-translations/kind.yml
  taskcluster/kinds/backtranslations-mono-trg-translate/kind.yml
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/build-vocab/kind.yml
  taskcluster/kinds/corpus-align-backtranslations/kind.yml
  taskcluster/kinds/corpus-align-distillation/kind.yml
  taskcluster/kinds/corpus-align-parallel/kind.yml
  taskcluster/kinds/corpus-analyze-mono/kind.yml
  taskcluster/kinds/corpus-analyze-parallel/kind.yml
  taskcluster/kinds/corpus-clean-mono/kind.yml
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
  taskcluster/kinds/corpus-clean-parallel-fetch-bicleaner-model/kind.yml
  taskcluster/kinds/corpus-clean-parallel/kind.yml
  taskcluster/kinds/corpus-merge-devset/kind.yml
  taskcluster/kinds/corpus-merge-distillation/kind.yml
  taskcluster/kinds/corpus-merge-mono/kind.yml
  taskcluster/kinds/corpus-merge-parallel/kind.yml
  taskcluster/kinds/dataset/kind.yml
  taskcluster/kinds/distillation-corpus-build-shortlist/kind.yml
  taskcluster/kinds/distillation-corpus-final-filtering/kind.yml
  taskcluster/kinds/distillation-mono-src-chunk/kind.yml
  taskcluster/kinds/distillation-mono-src-dechunk-translations/kind.yml
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-chunk/kind.yml
  taskcluster/kinds/distillation-parallel-src-dechunk-translations/kind.yml
  taskcluster/kinds/distillation-parallel-src-extract-best/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translations-score/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-quantize/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/export/kind.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

WIP: add support for uploading experiment config
  taskcluster/kinds/all-pipeline/kind.yml
  taskcluster/kinds/all-pr-pipeline/kind.yml
  taskcluster/kinds/beetmover-experiment-config/kind.yml
  taskcluster/translations_taskgraph/transforms/beetmover_experiment_config.py
  taskcluster/translations_taskgraph/workertypes.py
Due: test, taskgraph-definition, taskgraph-diff

beetmover task
  taskcluster/kinds/all-pipeline/kind.yml
  taskcluster/kinds/all-pr-pipeline/kind.yml
  taskcluster/kinds/beetmover/kind.yml
  taskcluster/translations_taskgraph/transforms/beetmover.py
Due: test, taskgraph-definition, taskgraph-diff

temp: disable beetmover dry run
  taskcluster/kinds/beetmover/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

temp: use beetmover dev workers
  taskcluster/config.yml
Due: test, taskgraph-definition, taskgraph-diff

feat: reland new GPU worker images and dockerization (#1131)
  docs/training/task-cluster.md
  pipeline/bicleaner/bicleaner.sh
  pipeline/translate/requirements/translate-ctranslate2.in
  pipeline/translate/requirements/translate-ctranslate2.txt
  taskcluster/config.yml
  taskcluster/kinds/backtranslations-mono-trg-translate/kind.yml
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translations-score/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/fetch/toolchains.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

bump bicleaner-ai to xlargedisk workers to see if it helps test run stop hanging
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

temporarility use alpha image for bicleaner testing
  taskcluster/config.yml
Due: test, taskgraph-definition, taskgraph-diff

Add a clear method to the AlignedMemory as it's just used to transfer memory from the Wasm interface into the rest of the code. Otherwise it is retained for the lifetime of the application.
  inference/marian-fork/src/translator/scorers.h
  inference/src/translator/aligned.h
  inference/src/translator/definitions.h
  inference/src/translator/translation_model.cpp
Due: none

Update the build-wasm script to use proper loggers and add a --fast flag
  inference/scripts/build-wasm.py
Due: none

Re-work marian::io::binary::loadItems to avoid unnecessary copies
  inference/marian-fork/src/common/binary.cpp
Due: none

Apply the tensor allocator size changes to Wasm only
  inference/marian-fork/src/tensors/tensor_allocator.h
Due: none

Revert "bump to cuda v12.9.0"
  taskcluster/kinds/fetch/toolchains.yml
Due: test, taskgraph-definition, taskgraph-diff

Revert "bump to cudnn v9.10.1"
  taskcluster/kinds/fetch/toolchains.yml
Due: test, taskgraph-definition, taskgraph-diff

Add a shared pointer for the items
  inference/marian-fork/src/common/binary.cpp
  inference/marian-fork/src/common/io.cpp
  inference/marian-fork/src/common/io_item.h
  inference/marian-fork/src/graph/node_initializers.cpp
  inference/marian-fork/src/models/amun.h
  inference/marian-fork/src/models/nematus.h
  inference/marian-fork/src/optimizers/optimizers.cpp
  inference/marian-fork/src/tensors/cpu/expression_graph_packable.h
  inference/marian-fork/src/tensors/cpu/integer_common.h
  inference/marian-fork/src/tensors/tensor.cpp
Due: none

Student tiny configs
  configs/h1-2025/student-tiny/az-en.yml
  configs/h1-2025/student-tiny/be-en.yml
  configs/h1-2025/student-tiny/bn-en.yml
  configs/h1-2025/student-tiny/fa-en.yml
  configs/h1-2025/student-tiny/gu-en.yml
  configs/h1-2025/student-tiny/he-en.yml
  configs/h1-2025/student-tiny/hi-en.yml
  configs/h1-2025/student-tiny/kn-en.yml
  configs/h1-2025/student-tiny/ml-en.yml
  configs/h1-2025/student-tiny/mr-en.yml
  configs/h1-2025/student-tiny/ms-en.yml
  configs/h1-2025/student-tiny/no-en.yml
  configs/h1-2025/student-tiny/sq-en.yml
  configs/h1-2025/student-tiny/ta-en.yml
  configs/h1-2025/student-tiny/te-en.yml
  configs/h1-2025/student-tiny/tl-en.yml
Due: none

Check for monocleaner support for a language
  pipeline/clean/clean-mono.sh
  utils/config_generator.py
Due: test, taskgraph-definition
