Repository mozilla/translations: changes, and which Taskcluster tasks are due for each by the changed paths.
All: test, taskgraph-definition, taskgraph-diff

test:
  worker-type: b-cpu
  worker:
    max-run-time: 3600
    docker-image:
      in-tree: test
  run:
    command:
    - bash
    - -c
    - export BIN=$MOZ_FETCHES_DIR && export MARIAN=$MOZ_FETCHES_DIR && task test
  run-on-tasks-for:
  - github-push
  - github-pull-request
  fetches:
    toolchain:
    - fast-align
    - extract-lex
  ...

taskgraph-definition:
  worker-type: b-cpu
  worker:
    docker-image:
      in-tree: test
    max-run-time: 3600
  description: Test the full `translations_taskgraph` to validate the latest changes
  run-on-tasks-for:
  - github-push
  - github-pull-request
  run:
    command: task taskgraph-validate

taskgraph-diff:
  worker-type: b-cpu
  worker:
    docker-image:
      in-tree: test
    max-run-time: 1200
  description: Create diffs of taskgraphs vs. base revision.
  run-on-tasks-for:
  - github-pull-request
  run:
    command: task taskgraph-diff BASE_REV={base_rev} OUTPUT_FILE=$TASK_WORKDIR/artifacts/taskgraph.diff

Use absolute COMET difference and link to final evals (#1458)
  site/training-dashboard/training.mjs
Due: none

Update configs
  configs/next26/hu-en.yml
  configs/next26/moredata-en-be.yml
  configs/next26/nonllb-en-be.yml
  configs/next26/teacherbackwards-en-be.yml
Due: none

Fix wandb attribute annotation for upcoming wandb releases
  tracking/translations_parser/publishers.py
Due: test

Fix wandb attribute annotation for upcoming wandb releases (#1459)
  tracking/translations_parser/publishers.py
Due: test

Add support for continuation-model-teacher
  taskcluster/configs/config.ci.yml
  taskcluster/kinds/continuation-model/kind.yml
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/transforms/continuation.py
  tests/test_continuation.py
Due: test, taskgraph-definition, taskgraph-diff

Dummy download for continuation-model-teacher indictrans2
  pipeline/continuation/model.py
  taskcluster/kinds/continuation-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Refactor ctranslate2.py to accept more decoders
  pipeline/translate/decoder.py
  pipeline/translate/translate.py
  pipeline/translate/translate_ctranslate2.py
Due: test, taskgraph-definition

fix cli parameter model_type
  pipeline/continuation/model.py
Due: test, taskgraph-definition

Use release models for pivot evaluations
  pipeline/eval/translators.py
  taskcluster/configs/eval.all.yml
  tests/test_final_eval_translators.py
Due: test, taskgraph-definition, taskgraph-diff

Align Firefox Models site Google scores diff with Final Evals
  site/firefox-models/index.html
  site/firefox-models/models.mjs
Due: none

test(eval): remove undeclared toolz dependency
  pipeline/eval/translators.py
  tests/test_final_eval_translators.py
Due: test, taskgraph-definition

Add IndiTrans2 translator class
  pipeline/translate/requirements/translate-indictrans2.in
  pipeline/translate/requirements/translate-indictrans2.txt
  pipeline/translate/translate.py
  pipeline/translate/translate_ctranslate2.py
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
  tests/test_ctranslate2.py
Due: test, taskgraph-definition, taskgraph-diff

Add configs
  configs/next26/distil-bt-be-en.yml
  configs/next26/distil-bt-ta-en.yml
  configs/next26/hplt-en-be.yml
  configs/next26/nllb-bc09-en-be.yml
Due: none

Azerbaijaini default to North Azerbaijani
  pipeline/langs/maps.py
  tests/test_lang_codes.py
Due: test, taskgraph-definition

Fix renaming model_type parameter for continuation-model
  taskcluster/kinds/backtranslations-mono-trg-translate/kind.yml
  taskcluster/kinds/continuation-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add credentials to translate tasks for IndicTrans2 download
  pipeline/translate/translate_ctranslate2.py
  taskcluster/kinds/backtranslations-mono-trg-translate/kind.yml
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add Uyghur
  pipeline/langs/all_autogenerated.json
  pipeline/langs/maps.py
Due: test, taskgraph-definition

Move final-evals secrets manager to pipeline/common
  pipeline/common/secrets.py
  pipeline/data/mono_importer.py
  pipeline/data/parallel_downloaders.py
  pipeline/data/requirements/data.in
  pipeline/data/requirements/data.txt
  pipeline/eval/final_eval.py
Due: test, taskgraph-definition

skip setting secrets if not in taskcluster
  pipeline/translate/translate_ctranslate2.py
Due: test, taskgraph-definition

Fix langid cleaning for Azerbaijani
  pipeline/clean/opuscleaner/configs/az-en/default.filters.json
  pipeline/clean/opuscleaner/configs/en-az/default.filters.json
Due: test, taskgraph-definition

Add hymt2 support
  experiments/llmaat/flows/configs/config.vllm.hymt2-dense.json
  experiments/llmaat/flows/configs/config.vllm.hymt2.json
  experiments/llmaat/flows/llm_eval_flow.py
  experiments/llmaat/flows/llm_run_flow.py
  experiments/llmaat/flows/llm_runner.py
Due: none

Update newscrawl html page regex
  utils/find_corpus.py
Due: none

Add more configs
  configs/next26/az-en.yml
  configs/next26/beam4-en-be.yml
  configs/next26/opusfiltered-az-en.yml
Due: none

Langcode refinements for Filipino
  pipeline/langs/maps.py
  tests/test_lang_codes.py
Due: test, taskgraph-definition

Fix alpha ratio cleaning for Filipino
  pipeline/clean/opuscleaner/configs/en-tl/default.filters.json
  pipeline/clean/opuscleaner/configs/tl-en/default.filters.json
Due: test, taskgraph-definition

Increase timeout limit for HPLT downloads
  pipeline/common/downloads.py
  pipeline/data/hplt.py
Due: test, taskgraph-definition

lint fix
  tests/test_lang_codes.py
Due: test

Update configs
  configs/next26/en-az.yml
  configs/next26/nllb-bc09-tl-en.yml
  configs/next26/opusfiltered-az-en.yml
  configs/next26/tl-en.yml
Due: none

Add Uygur Bouquet
  pipeline/langs/all_autogenerated.json
  pipeline/langs/maps.py
Due: test, taskgraph-definition

Add Uyghur to the supported langauges (#1464)
  pipeline/langs/all_autogenerated.json
  pipeline/langs/maps.py
Due: test, taskgraph-definition

More sophisticated get_download_size
  pipeline/common/downloads.py
Due: test, taskgraph-definition

statmt now uses https
  pipeline/data/mono_importer.py
  tests/fixtures/__init__.py
Due: test, taskgraph-definition

Add '+' as allowed character for HF subset names
  pipeline/data/parallel_downloaders.py
Due: test, taskgraph-definition

show if huggingface is logged in with token
  pipeline/data/parallel_downloaders.py
Due: test, taskgraph-definition

Use HF login token in dataset tasks
  taskcluster/kinds/dataset/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Restore streaming for monolingual datasets
  pipeline/data/mono_importer.py
Due: test, taskgraph-definition

Restore streaming mode for monolingual HF datasets and skip HF token on tests
  pipeline/common/downloads.py
  pipeline/data/mono_importer.py
  pipeline/data/parallel_downloaders.py
Due: test, taskgraph-definition

Path conditions:
  test: any of: pipeline/**, tests/**, tracking/**, taskcluster/**, poetry.*, Taskfile.yml
  taskgraph-definition: any of: pipeline/**, taskcluster/**
  taskgraph-diff: any of: taskcluster/**
