Repository mozilla/translations: changes, and which Taskcluster tasks are due for each by the changed paths.
All: test, taskgraph-definition, taskgraph-diff

Path conditions:
  test: any of: pipeline/**, tests/**, tracking/**, taskcluster/**, poetry.*, Taskfile.yml
  taskgraph-definition: any of: pipeline/**, taskcluster/**
  taskgraph-diff: any of: taskcluster/**

Rerun linter
  pipeline/common/downloads.py
Due: test, taskgraph-definition

Update the pyproject.toml OpusCleaner to 0.5 as well (#1114)
  poetry.lock
  pyproject.toml
Due: test

fix(pipeline): The datasets can now produce optional values
  taskcluster/translations_taskgraph/target_tasks.py
  taskcluster/translations_taskgraph/transforms/find_upstreams.py
  taskcluster/translations_taskgraph/transforms/from_datasets.py
Due: test, taskgraph-definition, taskgraph-diff

fix(pipeline): Make corpus priors optional as continuation may not have them
  pipeline/alignments/align.py
Due: test, taskgraph-definition

feat(test): Update the test fixtures to allow dynamic configs and return the resolved tasks
  tests/fixtures/__init__.py
  tests/test_tracking_utils.py
Due: test

docs: Update the docs for corpus continuation
  docs/training/README.md
  docs/training/using-pretrained-models.md
Due: none

feat(site): Add the new continuation configs to the model registry
  site/@types/training-run.d.ts
  site/model-registry/model-registry.mjs
Due: none

test: Add tests for corpus continuation
  pipeline/common/downloads.py
  tests/test_continuation.py
Due: test, taskgraph-definition

utils/run_task.py
  Taskfile.yml
  utils/run_task.py
Due: test

Add config validation
  configs/autogenerated/en-pl-example.yml
  taskcluster/translations_taskgraph/actions/train.py
  tests/fixtures/__init__.py
  tests/fixtures/config.pytest.enzh.yml
  tests/fixtures/config.pytest.yml
  tests/test_config_validation.py
Due: test, taskgraph-definition, taskgraph-diff

Add the student base-memory configuration
  docs/training/README.md
  pipeline/train/configs/model/student.base-memory.yml
  pipeline/train/train.py
  taskcluster/configs/config.prod.yml
  taskcluster/translations_taskgraph/actions/train.py
Due: test, taskgraph-definition, taskgraph-diff

Build with debug info
  pipeline/setup/compile-marian.sh
Due: test, taskgraph-definition

Always specify the best and first number for shortlists
  pipeline/eval/eval.py
  pipeline/quantize/quantize.sh
  taskcluster/kinds/evaluate-quantized/kind.yml
  tests/test_eval.py
Due: test, taskgraph-definition, taskgraph-diff

Add jsonschema for config validation checks
  poetry.lock
  pyproject.toml
Due: test

Adjust the prod config
  taskcluster/configs/config.prod.yml
Due: test, taskgraph-definition, taskgraph-diff

Add the h1-2025 configs
  configs/autogenerated/en-hu-h1-2025.yml
  configs/autogenerated/en-mr-h1-2025.yml
  configs/autogenerated/en-nn-h1-2025.yml
  configs/h1-2025/af-en-h1-2025.yml
  configs/h1-2025/en-hu-h1-2025.yml
  configs/h1-2025/en-mr.yml
  configs/h1-2025/en-no-h1-2025.yml
Due: none

Update trigger_training
  utils/trigger_training.py
Due: none

Add continuation to the cache
  taskcluster/kinds/build-vocab/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Assert that GPUs are available and output information about them
  pipeline/common/marian.py
  pipeline/eval/eval.py
  pipeline/train/train.py
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
  taskcluster/scripts/pipeline/train_taskcluster.py
  tests/test_training.py
Due: test, taskgraph-definition, taskgraph-diff

Update the config generator
  utils/config_generator.py
Due: none

Refactor and fix importers (#1110)
  docs/data-and-cleaning/datasets.md
  pipeline/common/command_runner.py
  pipeline/common/downloads.py
  pipeline/data/download-corpus.sh
  pipeline/data/hplt.py
  pipeline/data/importers/corpus/flores.sh
  pipeline/data/importers/corpus/mtdata.sh
  pipeline/data/importers/corpus/opus.sh
  pipeline/data/importers/corpus/sacrebleu.sh
  pipeline/data/importers/corpus/url.py
  pipeline/data/mono_importer.py
  pipeline/data/parallel_downloaders.py
  pipeline/data/parallel_importer.py
  pyproject.toml
  snakemake/Snakefile
  taskcluster/kinds/dataset/kind.yml
  tests/fixtures/__init__.py
  tests/test_data_importer.py
  utils/config_generator.py
Due: test, taskgraph-definition, taskgraph-diff

Add the student base-memory configuration (#1113)
  docs/training/README.md
  pipeline/train/configs/model/student.base-memory.yml
  pipeline/train/train.py
  taskcluster/configs/config.prod.yml
  taskcluster/translations_taskgraph/actions/train.py
Due: test, taskgraph-definition, taskgraph-diff

Update the GPU check in bicleaner.sh
  pipeline/bicleaner/bicleaner.sh
  pipeline/common/marian.py
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Change bicleaner to be version invalidated
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

Add support for mtdata bcp 47 codes
  tests/fixtures/config.pytest.enzh.yml
  tests/test_data_importer.py
  utils/config_generator.py
Due: test

Add support for mtdata bcp 47 codes
  pipeline/data/parallel_downloaders.py
Due: test, taskgraph-definition

Add retries for mtdata
  pipeline/data/parallel_downloaders.py
Due: test, taskgraph-definition

Fix nvidia issues
  experiments/llmaat/flows/configs/config.vllm.json
  experiments/llmaat/flows/llm_eval_flow.py
  experiments/llmaat/flows/llm_run_flow.py
Due: none

Update ru config
  configs/llmaat/en-ru-llmaat.yml
Due: none

Include url in cache
  taskcluster/kinds/biclean-distilled/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

feat(pipeline): Add corpus continuation transform
  taskcluster/translations_taskgraph/transforms/continuation.py
  taskcluster/translations_taskgraph/transforms/training_continuation.py
  taskcluster/translations_taskgraph/util/mocked_downloads.py
  utils/config_generator.py
  utils/trigger_training.py
Due: test, taskgraph-definition, taskgraph-diff

chore(types): Add all new files to be type checked
  pyproject.toml
Due: none

fix(types): Add mocked downloads to more download utils in downloads.py
  pipeline/common/downloads.py
Due: test, taskgraph-definition

feat(pipeline): Add the new continuation configs to taskcluster
  taskcluster/test/test_training_continuation_backwards.py
  taskcluster/test/test_training_continuation_teacher.py
  taskcluster/translations_taskgraph/actions/train.py
  taskcluster/translations_taskgraph/parameters.py
Due: test, taskgraph-definition, taskgraph-diff

feat(pipeline): Add pipeline/continuation python scripts and continuation kinds
  pipeline/common/arg_utils.py
  pipeline/continuation/corpus.py
  pipeline/continuation/model.py
  pipeline/continuation/requirements/continuation.in
  pipeline/continuation/requirements/continuation.txt
  pipeline/continuation/vocab.py
  taskcluster/config.yml
  taskcluster/kinds/continuation-corpus/kind.yml
  taskcluster/kinds/continuation-model/kind.yml
  taskcluster/kinds/continuation-vocab/kind.yml
Due: test, taskgraph-definition, taskgraph-diff

feat(taskcluster): Add a cache version transform
  taskcluster/translations_taskgraph/transforms/cached_tasks.py
Due: test, taskgraph-definition, taskgraph-diff

feat(pipeline): Rewrite the prod config to use the new continuation key
  taskcluster/configs/config.prod.yml
Due: test, taskgraph-definition, taskgraph-diff

chore(pipeline): Add the continuation transform and dependencies to the kind.yml files
  taskcluster/kinds/all-pr-pipeline/kind.yml
  taskcluster/kinds/backtranslations-mono-trg-chunk/kind.yml
  taskcluster/kinds/backtranslations-mono-trg-dechunk-translations/kind.yml
  taskcluster/kinds/backtranslations-mono-trg-translate/kind.yml
  taskcluster/kinds/backtranslations-train-backwards-model/kind.yml
  taskcluster/kinds/build-vocab/kind.yml
  taskcluster/kinds/corpus-align-backtranslations/kind.yml
  taskcluster/kinds/corpus-align-distillation/kind.yml
  taskcluster/kinds/corpus-align-parallel/kind.yml
  taskcluster/kinds/corpus-analyze-mono/kind.yml
  taskcluster/kinds/corpus-analyze-parallel/kind.yml
  taskcluster/kinds/corpus-clean-mono/kind.yml
  taskcluster/kinds/corpus-clean-parallel-bicleaner-ai/kind.yml
  taskcluster/kinds/corpus-clean-parallel-fetch-bicleaner-model/kind.yml
  taskcluster/kinds/corpus-clean-parallel/kind.yml
  taskcluster/kinds/corpus-merge-devset/kind.yml
  taskcluster/kinds/corpus-merge-distillation/kind.yml
  taskcluster/kinds/corpus-merge-mono/kind.yml
  taskcluster/kinds/corpus-merge-parallel/kind.yml
  taskcluster/kinds/dataset/kind.yml
  taskcluster/kinds/distillation-corpus-build-shortlist/kind.yml
  taskcluster/kinds/distillation-corpus-final-filtering/kind.yml
  taskcluster/kinds/distillation-mono-src-chunk/kind.yml
  taskcluster/kinds/distillation-mono-src-dechunk-translations/kind.yml
  taskcluster/kinds/distillation-mono-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-chunk/kind.yml
  taskcluster/kinds/distillation-parallel-src-dechunk-translations/kind.yml
  taskcluster/kinds/distillation-parallel-src-extract-best/kind.yml
  taskcluster/kinds/distillation-parallel-src-translate/kind.yml
  taskcluster/kinds/distillation-parallel-src-translations-score/kind.yml
  taskcluster/kinds/distillation-student-model-finetune/kind.yml
  taskcluster/kinds/distillation-student-model-quantize/kind.yml
  taskcluster/kinds/distillation-student-model-train/kind.yml
  taskcluster/kinds/evaluate-quantized/kind.yml
  taskcluster/kinds/evaluate-teacher-ensemble/kind.yml
  taskcluster/kinds/evaluate/kind.yml
  taskcluster/kinds/export/kind.yml
  taskcluster/kinds/tests/kind.yml
  taskcluster/kinds/toolchain/kind.yml
  taskcluster/kinds/train-teacher-model/kind.yml
Due: test, taskgraph-definition, taskgraph-diff
